<ui:composition
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:oh="http://openl-tablets.sf.net/jsf/html">

    <ui:param name="propsFormName" value="#{prefix}PropsTableForm" />
    <ui:param name="panelFormName" value="#{prefix}RepoPropsPanel" />

    <h:panelGroup layout="block" rendered="#{!empty repositoryProjectPropsBean.propsForSelect and repositoryTreeState.canSave}">
        <div style="margin: 10px 0">
            <h:outputLink id="#{propsFormName}addPropBtn" value="javascript:void(0)" onclick="$j(this).hide();$j('##{panelFormName}addRepoPropsPanel').fadeIn()"
                rendered="#{!empty repositoryProjectPropsBean.propsForSelect and repositoryTreeState.canSave}" style="margin-left: 4px">Add Property</h:outputLink>
        </div>
    </h:panelGroup>

    <h:panelGroup id="#{panelFormName}addRepoPropsPanel" layout="block"
        style="display: none; margin: 7px 3px; padding: 8px; border: 1px solid #eeeeee; background: #f5f5f5; text-align: left; width: 250px">
        <div style="display: inline-block; text-align: left;">
            <div style="color: #555555; margin-bottom: 8px">Select property to add</div>
            <div>
                <h:selectOneMenu value="#{repositoryProjectPropsBean.propertyToAdd}">
                    <f:selectItems value="#{repositoryProjectPropsBean.propsForSelect}" />
                </h:selectOneMenu>
            </div>
            <div style="margin-top: 9px">
                <a4j:commandButton value="Add" onclick="$j('##{panelFormName}addRepoPropsPanel').hide()"
                    action="#{repositoryProjectPropsBean.addNew}" render="#{propsFormName}repoPropsTable #{panelFormName}addRepoPropsPanel"
                    oncomplete="$j('##{propsFormName}addPropBtn').fadeIn()" />
                <a href="javascript:void(0)" onclick="$j('##{panelFormName}addRepoPropsPanel').hide();$j('##{propsFormName}addPropBtn').fadeIn()"
                    style="margin-left: 3px">Cancel</a>
            </div>
        </div>
    </h:panelGroup>

    <script>
        function editProperty(elem) {
            elem = $j(elem);
            elem.removeClass("editableProp");
            elem.find(".propValue").hide();
            elem.find(".propEditor").show();
            $j("#savePropsButton").show();
        }

        function showRemoveBtn(row) {
            $j(row).find("a[id*='removePropBtn']").show();
            $j(row).find("a[id*='savePropsButton']").show();
        }
        function hideRemoveBtn(row) {
            $j(row).find("a[id*='removePropBtn']").hide();
            $j(row).find("a[id*='savePropsButton']").hide();
        }
    </script>

</ui:composition>