<ui:composition
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:oh="http://openl-tablets.sf.net/jsf/html">
    
    <style>
        .propsGroupHeaderTxt {
            color: #578;
            font-size: 12px;
        }
        .propsGroupHeader td {
            padding: 20px 0 10px;
        }
        .inheritedProp {
            background: rgba(190, 220, 255, 0.3);
        }
        .inheritedProp .propData a {
            margin-left: 30px;
        }
        .propName {
            min-width: 70px;
        }
        .propData {
            padding: 3px 0 1px; 
        }
        .propValue {
            max-width: 500px;
        }
        .propEditor {
            margin-left: 2px;
        }
        .propEditor input[type="text"],
        .propEditor input[type="password"],
        .propEditor textarea {
            padding: 1px;
        }
        .editableProp .propValue {
            border-bottom: 1px dashed #cccccc;
        }
        .propDescription {
            display: none;
        }
        .propHide {
            display: none;
        }
        #savePropsButton {
            display: none;
        }
    </style>

    <ui:param name="propsFormName" value="#{prefix}PropsTableForm" />
    <ui:param name="panelFormName" value="#{prefix}RepoPropsPanel" />

    <a4j:repeat value="#{repositoryProjectPropsBean.propsStore}" var="row">
        <ui:param name="prop" value="#{row.data}" />

        <h:panelGroup rendered="#{row.type.name() == 'GROUP'}">
            <tr class="propsGroupHeader">
                <td>
                    <span class="propsGroupHeaderTxt label">#{prop}</span>
                </td>
            </tr>
        </h:panelGroup>

        <h:panelGroup rendered="#{row.type.name() == 'PROPERTY'}">
        <ui:param name="added" value="#{empty prop.value}" />
        <ui:param name="pref" value="#{prop.name}" />

        <tr class="editableProp"
            onmouseover="showRemoveBtn(this)" onmouseout="hideRemoveBtn(this)">
            <td class="propName #{prop.inheritedProperty ? ' inheritedProp' : ''} label" onclick="#{repositoryTreeState.canSave ? 'editProperty(this.parentNode)' : '' }">
                <a4j:outputPanel>
                    #{prop.displayName}
                    <rich:tooltip showDelay="500" rendered="#{prop.inheritedProperty}">
                        <h:outputText value="Inherited from #{prop.inheritedTableName}"/>
                    </rich:tooltip>
                </a4j:outputPanel>
            </td>
            <td class="propData #{prop.inheritedProperty ? ' inheritedProp' : ''}" onclick="#{repositoryTreeState.canSave ? 'editProperty(this.parentNode)' : '' }" 
            style="text-overflow: ellipsis;">
                <h:outputText class="propValue" value="#{prop.displayValue}"
                    style="#{added ? 'display:none' : ''} " />
                <rich:tooltip showDelay="500" rendered="#{prop.inheritedProperty}">
                    <h:outputText value="Inherited from #{prop.inheritedTableName}"/>
                </rich:tooltip>

                <h:panelGroup>
                <span class="propEditor#{added ? '' : ' propHide'}">
                    <rich:calendar id="date" value="#{prop.value}" datePattern="#{prop.format}"
                        rendered="#{prop.dateType}" inputStyle="width:100px" />

                    <h:selectBooleanCheckbox id="checkbox" value="#{prop.value}" rendered="#{prop.booleanType}" />
                    
                    <oh:multiselect id="multiselect" items="#{prop.enumArrayItems}" selected="#{prop.enumArrayValue}"
                            rendered="#{prop.enumArray}" />

                    <h:selectOneMenu id="oneSelect" value="#{prop.value}" rendered="#{prop.enumType and !prop.enumArray}">
                        <f:selectItems value="#{prop.enumArrayItems}" />
                    </h:selectOneMenu>

                    <h:inputText value="#{prop.value}" id="text"
                        rendered="#{!(prop.dateType || prop.booleanType || prop.enumType || prop.enumArray || prop.stringArray)}" />

                    <h:inputText id="array" value="#{prop.stringValue}" rendered="#{prop.stringArray}" />
                </span>
                <span>
	                <a4j:commandLink id="savePropsButton" title="Save"
	                     action="#{repositoryProjectPropsBean.save(prop)}"
	                     render="#{propsFormName}repoPropsTable #{panelFormName}addRepoPropsPanel #{propsFormName}repoPropsTable nodeView projectTree" style="display: none; margin-left: 2px"
	                     rendered="#{repositoryTreeState.canSave}"><img
	                     style="opacity: 0.7" src="webresource/images/ok10.png" />
	                 </a4j:commandLink>
	                 <a4j:commandLink id="removePropBtn" action="#{repositoryProjectPropsBean.remove(prop)}" title="Remove"
	                     render="#{propsFormName}repoPropsTable nodeView projectTree" style="display: none; margin-left: 2px"
	                     rendered="#{repositoryTreeState.canSave and !prop.inheritedProperty}"><img
	                     style="margin-left: 3px; opacity: 0.5" src="webresource/images/close.gif" />
	                 </a4j:commandLink>
                </span>
                </h:panelGroup>
            </td>
        </tr>
        </h:panelGroup>
    </a4j:repeat>
    
</ui:composition>