<ui:composition
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:c="http://java.sun.com/jsp/jstl/core">

  <rich:dataTable id="descriptorTable" value="#{deploymentController.items}" var="item"
    cellspacing="0px" styleClass="table">
    <f:facet name="header">
      <rich:columnGroup>
        <rich:column>
          <h:outputText value="Selected" />
        </rich:column>
        <rich:column>
          <h:outputText value="Name" />
        </rich:column>
        <rich:column>
          <h:outputText value="Revision" />
        </rich:column>
        <rich:column>
          <h:outputText value="Message" />
        </rich:column>
        <rich:column>
          <h:outputText value="Actions" />
        </rich:column>
      </rich:columnGroup>
    </f:facet>

    <rich:column style="text-align: center">
      <h:selectBooleanCheckbox value="#{item.selected}" onclick="updateButtonState()" />
    </rich:column>
    <rich:column style="text-align: center">
      <h:outputText value="#{item.name}" />
    </rich:column>
    <rich:column style="text-align: center">
      <h:outputText value="#{item.versionName}" />
    </rich:column>
    <rich:column style="text-align: center">
      <h:outputText value="#{item.messages}" escape="false" styleClass="#{item.styleForMessages}" />
    </rich:column>
    <rich:column style="text-align: center">
      <h:commandLink action="#{deploymentController.deleteItem}" immediate="true"
        onclick="if(!window.confirm('Are you sure you want to delete the deployed project?')) {return false;}" rendered="#{artefact.openedForEditing}" title="Delete">
        <f:param name="key" value="#{item.name}" />
        <h:graphicImage url="/webresource/images/delete.png" styleClass="actionImage" alt="Delete" />
      </h:commandLink>
    </rich:column>
  </rich:dataTable>

  <h:panelGroup rendered="#{empty deploymentController.items}" styleClass="noEntries">
    <h:outputText value="No entries found" />
  </h:panelGroup>

  <script>
    function isEmptySelection() {
      var table = document.getElementById("descriptorTable");
      for (var i = 0; i &lt; table.childNodes[2].childNodes.length; i++) {
        if (table.childNodes[2].childNodes[i].firstChild.firstChild.checked) {
          return false;
        }
      }
      return true;
    }

    function updateButtonState() {
      document.getElementById('openSelectedProjectsBtn').disabled = isEmptySelection();
    }
  </script>

  <br/><br/>
  <h:panelGrid columns="2" cellpadding="0" cellspacing="0">
    <h:commandButton id="addProjectsId" value="Add" disabled="#{!artefact.openedForEditing}" onclick="showAddDeployEntry();return false;" title="Add projects"/>
    <h:commandButton id="openSelectedProjectsBtn" disabled="true" value="Open" onclick="return !isEmptySelection()" action="#{deploymentController.openSelectedProjects}" title="Open selected projects"/>
  </h:panelGrid>

</ui:composition>
