<ui:composition
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:c="http://java.sun.com/jsp/jstl/core">

  <rich:dataTable value="#{node.childNodes}" var="el" styleClass="table">
    <f:facet name="header">
      <rich:columnGroup>
        <rich:column>
          <h:outputText value="Type" />
        </rich:column>
        <rich:column>
          <h:outputText value="Name" />
        </rich:column>
        <rich:column rendered="#{el.type != 'prodfile' and el.type != 'prodfolder' and el.type != 'prodproject' and artefact.project != null}">
          <h:outputText value="Actions" />
        </rich:column>
      </rich:columnGroup>
    </f:facet>

      <rich:column style="text-align: center;">
        <h:graphicImage url="/webresource/images/repository/folder.gif" alt="Folder" title="Folder" rendered="#{el.type=='folder' || el.type == 'prodfolder'}" />
        <h:graphicImage url="/webresource/images/repository/file.gif" alt="File" title="File" rendered="#{el.type=='file' || el.type=='prodfile'}" />
      </rich:column>
      <rich:column>
        <h:outputText value="#{el.name}"/>
      </rich:column>
      <rich:column style="text-align: center;" rendered="#{ el.type != 'prodproject' and artefact.project != null}" >
        <h:commandLink action="#{repositoryTreeController.deleteElement}"
          onclick="if(!window.confirm('Are you sure you want to delete the file/folder?')) {return false;}"
          rendered="#{artefact.project.openedForEditing}" title="Delete">
          <f:param name="element" value="#{el.name}" />
          <h:graphicImage url="/webresource/images/delete.png" styleClass="actionImage" alt="Delete" />
        </h:commandLink>
      </rich:column>
  </rich:dataTable>

  <h:panelGroup rendered="#{empty node.childNodes}" styleClass="noEntries">
    <h:outputText value="No entries found" />
  </h:panelGroup>

</ui:composition>
