<ui:composition
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:param name="propsFormName" value="fileProductTableForm" />
<h:panelGroup id="#{propsFormName}repoPropsTable" layout="block"> 
    <table class="formfields" style="max-width: 500px;">
        <tr>
            <td class="label">
                <h:outputText value="File Name" />
            </td>
            <td>
                <h:outputText value="#{node.name}" style="font-weight: bold" />
            </td>
        </tr>
    </table>
</h:panelGroup>

</ui:composition>