<ui:composition
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:param name="propsFormName" value="projectPropsTableForm" />
  
<h:panelGroup id="#{propsFormName}repoPropsTable" layout="block"> 
    <table class="formfields" style="max-width: 500px;">
	    <tr>
	        <td class="label">
	            <h:outputText value="Name" />
	        </td>
	        <td>
	            <h:outputText value="#{node.name}" style="font-weight: bold" />
	        </td>
	    </tr>
	    <tr>
	        <td class="label">
	            <h:outputText value="Revision" />
	        </td>
	        <td>
	            <h:outputText value="#{artefact.version.versionName}" />
	        </td>
	    </tr>
	    <tr>
	        <td class="label">
	            <h:outputText value="Status" />
	        </td>
	        <td>
	            <h:outputText value="#{node.status}" />
	        </td>
	    </tr>
	    <tr>
	        <td class="label">
	            <h:outputText value="Created At" />
	        </td>
	        <td>
	            <h:outputText value="#{node.createdAt}">
	                <f:convertDateTime type="date" pattern="#{systemConfig['data.format.date']}"/>
	            </h:outputText>
	        </td>
	    </tr>
	    <tr>
	        <td class="label">Created By</td>
	        <td>
	            <h:outputText value="#{node.createdBy}" />
	        </td>
	    </tr>
        <h:panelGroup rendered="#{node.modifiedAt != null}">
	    <tr>
            <td class="label">Modified At</td>
            <td>
                <h:outputText value="#{node.modifiedAt}">
                    <f:convertDateTime type="date" pattern="#{systemConfig['data.format.date']}"/>
                </h:outputText>
            </td>
        </tr>
        </h:panelGroup>
        <h:panelGroup rendered="#{node.modifiedBy != null}">
        <tr>
            <td class="label">Modified By</td>
            <td>#{node.modifiedBy}</td>
        </tr>
        </h:panelGroup>

	  <ui:include src="/pages/modules/repository/node/bdimensionalProps.xhtml" >
	    <ui:param name="prefix" value="project"/>
	  </ui:include>
    </table>
</h:panelGroup>
<ui:include src="/pages/modules/repository/node/addPropsPanel.xhtml">
  <ui:param name="prefix" value="project"/>
</ui:include>
    
</ui:composition>
