<ui:composition
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ui="http://java.sun.com/jsf/facelets">

  <h:panelGrid columns="2" columnClasses="label,">
    <h:outputLabel for="#{prefix}effectiveDate" value="Effective date" />

    <rich:calendar id="#{prefix}effectiveDate" value="#{repositoryTreeController.effectiveDate}"
      datePattern="#{systemConfig['data.format.date']}" rendered="#{artefact.project.openedForEditing}">
    </rich:calendar>

    <h:outputText value="#{repositoryTreeController.effectiveDate}" rendered="#{!artefact.project.openedForEditing}">
      <f:convertDateTime pattern="#{systemConfig['data.format.date']}" />
    </h:outputText>

    <h:outputLabel for="#{prefix}expirationDate" value="Expiration date" />
    <rich:calendar id="#{prefix}expirationDate" value="#{repositoryTreeController.expirationDate}"
      datePattern="#{systemConfig['data.format.date']}" rendered="#{artefact.project.openedForEditing}">
    </rich:calendar>
    <h:outputText value="#{repositoryTreeController.expirationDate}" rendered="#{!artefact.project.openedForEditing}">
      <f:convertDateTime pattern="#{systemConfig['data.format.date']}" />
    </h:outputText>

    <h:outputLabel for="#{prefix}lineOfBusiness" value="Line of business" />
    <h:inputText id="#{prefix}lineOfBusiness" maxlength="100" size="20" value="#{repositoryTreeController.lineOfBusiness}" rendered="#{artefact.project.openedForEditing}"/>
    <h:outputText value="#{repositoryTreeController.lineOfBusiness}" rendered="#{!artefact.project.openedForEditing}"/>

    <h:outputLabel for="#{prefix}attribute1" value="#{repositoryTreeController.propUINames['attribute1']}"
        rendered="#{not empty repositoryTreeController.propUINames['attribute1']}" />
    <h:panelGroup rendered="#{not empty repositoryTreeController.propUINames['attribute1']}">
        <h:inputText id="#{prefix}attribute1" maxlength="100" size="20" value="#{repositoryTreeController.attribute1}" rendered="#{artefact.project.openedForEditing}"/>
        <h:outputText value="#{repositoryTreeController.attribute1}" rendered="#{!artefact.project.openedForEditing}"/>
    </h:panelGroup>
    
    <h:outputLabel for="#{prefix}attribute2" value="#{repositoryTreeController.propUINames['attribute2']}"
        rendered="#{not empty repositoryTreeController.propUINames['attribute2']}" />
    <h:panelGroup rendered="#{not empty repositoryTreeController.propUINames['attribute2']}">
        <h:inputText id="#{prefix}attribute2" maxlength="100" size="20" value="#{repositoryTreeController.attribute2}" rendered="#{artefact.project.openedForEditing}"/>
        <h:outputText value="#{repositoryTreeController.attribute2}" rendered="#{!artefact.project.openedForEditing}"/>
    </h:panelGroup>
    
    <h:outputLabel for="#{prefix}attribute3" value="#{repositoryTreeController.propUINames['attribute3']}"
        rendered="#{not empty repositoryTreeController.propUINames['attribute3']}" />
    <h:panelGroup rendered="#{not empty repositoryTreeController.propUINames['attribute3']}">
        <h:inputText id="#{prefix}attribute3" maxlength="100" size="20" value="#{repositoryTreeController.attribute3}" rendered="#{artefact.project.openedForEditing}"/>
        <h:outputText value="#{repositoryTreeController.attribute3}" rendered="#{!artefact.project.openedForEditing}"/>
    </h:panelGroup>
    
    <h:outputLabel for="#{prefix}attribute4" value="#{repositoryTreeController.propUINames['attribute4']}"
        rendered="#{not empty repositoryTreeController.propUINames['attribute4']}" />
    <h:panelGroup rendered="#{not empty repositoryTreeController.propUINames['attribute4']}">
        <h:inputText id="#{prefix}attribute4" maxlength="100" size="20" value="#{repositoryTreeController.attribute4}" rendered="#{artefact.project.openedForEditing}"/>
        <h:outputText value="#{repositoryTreeController.attribute4}" rendered="#{!artefact.project.openedForEditing}"/>
    </h:panelGroup>
    
    <h:outputLabel for="#{prefix}attribute5" value="#{repositoryTreeController.propUINames['attribute5']}"
        rendered="#{not empty repositoryTreeController.propUINames['attribute5']}" />
    <h:panelGroup rendered="#{not empty repositoryTreeController.propUINames['attribute5']}">
        <h:inputText id="#{prefix}attribute5" maxlength="100" size="20" value="#{repositoryTreeController.attribute5}" rendered="#{artefact.project.openedForEditing}"/>
        <h:outputText value="#{repositoryTreeController.attribute5}" rendered="#{!artefact.project.openedForEditing}"/>
    </h:panelGroup>
    
    <h:outputLabel for="#{prefix}attribute6" value="#{repositoryTreeController.propUINames['attribute6']}"
        rendered="#{not empty repositoryTreeController.propUINames['attribute6']}" />
    <h:panelGroup rendered="#{not empty repositoryTreeController.propUINames['attribute6']}">
        <rich:calendar id="#{prefix}attribute6" value="#{repositoryTreeController.attribute6}"
          datePattern="#{systemConfig['data.format.date']}"
          rendered="#{artefact.project.openedForEditing}">
        </rich:calendar>
        <h:outputText value="#{repositoryTreeController.attribute6}" rendered="#{!artefact.project.openedForEditing}">
          <f:convertDateTime pattern="#{systemConfig['data.format.date']}" />
        </h:outputText>
    </h:panelGroup>
    
    <h:outputLabel for="#{prefix}attribute7" value="#{repositoryTreeController.propUINames['attribute7']}"
        rendered="#{not empty repositoryTreeController.propUINames['attribute7']}" />
    <h:panelGroup rendered="#{not empty repositoryTreeController.propUINames['attribute7']}">
        <rich:calendar id="#{prefix}attribute7" value="#{repositoryTreeController.attribute7}"
          datePattern="#{systemConfig['data.format.date']}"
          rendered="#{artefact.project.openedForEditing}">
        </rich:calendar>
        <h:outputText value="#{repositoryTreeController.attribute7}" rendered="#{!artefact.project.openedForEditing}">
          <f:convertDateTime pattern="#{systemConfig['data.format.date']}" />
        </h:outputText>
    </h:panelGroup>
    
    <h:outputLabel for="#{prefix}attribute8" value="#{repositoryTreeController.propUINames['attribute8']}"
        rendered="#{not empty repositoryTreeController.propUINames['attribute8']}" />
    <h:panelGroup rendered="#{not empty repositoryTreeController.propUINames['attribute8']}">
        <rich:calendar id="#{prefix}attribute8" value="#{repositoryTreeController.attribute8}"
          datePattern="#{systemConfig['data.format.date']}"
          rendered="#{artefact.project.openedForEditing}">
        </rich:calendar>
        <h:outputText value="#{repositoryTreeController.attribute8}" rendered="#{!artefact.project.openedForEditing}">
          <f:convertDateTime pattern="#{systemConfig['data.format.date']}" />
        </h:outputText>
    </h:panelGroup>
    
    <h:outputLabel for="#{prefix}attribute9" value="#{repositoryTreeController.propUINames['attribute9']}"
        rendered="#{not empty repositoryTreeController.propUINames['attribute9']}" />
    <h:panelGroup rendered="#{not empty repositoryTreeController.propUINames['attribute9']}">
        <rich:calendar id="#{prefix}attribute9" value="#{repositoryTreeController.attribute9}"
          datePattern="#{systemConfig['data.format.date']}"
          rendered="#{artefact.project.openedForEditing}">
        </rich:calendar>
        <h:outputText value="#{repositoryTreeController.attribute9}" rendered="#{!artefact.project.openedForEditing}">
          <f:convertDateTime pattern="#{systemConfig['data.format.date']}" />
        </h:outputText>
    </h:panelGroup>
    
    <h:outputLabel for="#{prefix}attribute10" value="#{repositoryTreeController.propUINames['attribute10']}"
        rendered="#{not empty repositoryTreeController.propUINames['attribute10']}" />
    <h:panelGroup rendered="#{not empty repositoryTreeController.propUINames['attribute10']}">
        <rich:calendar id="#{prefix}attribute10" value="#{repositoryTreeController.attribute10}"
          datePattern="#{systemConfig['data.format.date']}"
          rendered="#{artefact.project.openedForEditing}">
        </rich:calendar>
        <h:outputText value="#{repositoryTreeController.attribute10}" rendered="#{!artefact.project.openedForEditing}">
          <f:convertDateTime pattern="#{systemConfig['data.format.date']}" />
        </h:outputText>
    </h:panelGroup>
    
    <h:outputLabel for="#{prefix}attribute11" value="#{repositoryTreeController.propUINames['attribute11']}"
        rendered="#{not empty repositoryTreeController.propUINames['attribute11']}" />
    <h:panelGroup rendered="#{not empty repositoryTreeController.propUINames['attribute11']}">
        <h:inputText id="#{prefix}attribute11" maxlength="20" size="20" value="#{repositoryTreeController.attribute11}"
            rendered="#{artefact.project.openedForEditing}"/>
        <h:outputText value="#{repositoryTreeController.attribute11}" rendered="#{!artefact.project.openedForEditing}"/>
    </h:panelGroup>
    
    <h:outputLabel for="#{prefix}attribute12" value="#{repositoryTreeController.propUINames['attribute12']}"
        rendered="#{not empty repositoryTreeController.propUINames['attribute12']}" />
    <h:panelGroup rendered="#{not empty repositoryTreeController.propUINames['attribute12']}">
        <h:inputText id="#{prefix}attribute12" maxlength="20" size="20" value="#{repositoryTreeController.attribute12}"
            rendered="#{artefact.project.openedForEditing}"/>
        <h:outputText value="#{repositoryTreeController.attribute12}" rendered="#{!artefact.project.openedForEditing}"/>
    </h:panelGroup>
    
    <h:outputLabel for="#{prefix}attribute13" value="#{repositoryTreeController.propUINames['attribute13']}"
        rendered="#{not empty repositoryTreeController.propUINames['attribute13']}" />
    <h:panelGroup rendered="#{not empty repositoryTreeController.propUINames['attribute13']}">
        <h:inputText id="#{prefix}attribute13" maxlength="20" size="20" value="#{repositoryTreeController.attribute13}"
            rendered="#{artefact.project.openedForEditing}"/>
        <h:outputText value="#{repositoryTreeController.attribute13}" rendered="#{!artefact.project.openedForEditing}"/>
    </h:panelGroup>
    
    <h:outputLabel for="#{prefix}attribute14" value="#{repositoryTreeController.propUINames['attribute14']}"
        rendered="#{not empty repositoryTreeController.propUINames['attribute14']}" />
    <h:panelGroup rendered="#{not empty repositoryTreeController.propUINames['attribute14']}">
        <h:inputText id="#{prefix}attribute14" maxlength="20" size="20" value="#{repositoryTreeController.attribute14}"
            rendered="#{artefact.project.openedForEditing}"/>
        <h:outputText value="#{repositoryTreeController.attribute14}" rendered="#{!artefact.project.openedForEditing}"/>
    </h:panelGroup>
    
    <h:outputLabel for="#{prefix}attribute15" value="#{repositoryTreeController.propUINames['attribute15']}"
        rendered="#{not empty repositoryTreeController.propUINames['attribute15']}" />
    <h:panelGroup rendered="#{not empty repositoryTreeController.propUINames['attribute15']}">
        <h:inputText id="#{prefix}attribute15" maxlength="20" size="20" value="#{repositoryTreeController.attribute15}"
            rendered="#{artefact.project.openedForEditing}"/>
        <h:outputText value="#{repositoryTreeController.attribute15}" rendered="#{!artefact.project.openedForEditing}"/>
    </h:panelGroup>
  </h:panelGrid>

  <br />
  <h:commandButton value="Save Properties" rendered="#{artefact.project.openedForEditing}" />

</ui:composition>
