<ui:composition
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:c="http://java.sun.com/jsp/jstl/core">

  <style>
    .padding {
        padding: 6px 7px !important;
    }
  </style>
  <rich:dataTable value="#{node.versions}" var="version" styleClass="table"
    columnClasses="padding">
    <f:facet name="header">
      <rich:columnGroup>
        <rich:column>
          <h:outputText value="Revision" />
        </rich:column>
        <rich:column>
          <h:outputText value="Modified By" />
        </rich:column>
        <rich:column>
          <h:outputText value="Modified At" />
        </rich:column>
        <rich:column rendered="#{node.type == 'project'}">
          <h:outputText value="Comment" />
        </rich:column>
        <rich:column rendered="#{node.type == 'project' and repositoryTreeState.canOpen and !artefact.deleted}">
          <h:outputText value="Action" />
        </rich:column>
      </rich:columnGroup>
    </f:facet>
      <rich:column style="text-align: center;">
        <h:outputText value="#{version.versionName}" />
        <rich:tooltip showDelay="500" rendered="#{(node.type == 'project' || node.type == 'file' || node.type == 'folder') and (!empty version.versionProperties)}" >
           <a4j:repeat value="#{repositoryProjectPropsBean.getVersionPropToolTip(version.versionProperties)}" var="prop">
               <h:outputText value="#{prop.displayName} : #{prop.displayValue}"/><br/>
           </a4j:repeat>
        </rich:tooltip>
      </rich:column>
      <rich:column>
        <h:outputText value="#{version.versionInfo.createdBy}" />
      </rich:column>
      <rich:column>
        <h:outputText value="#{version.versionInfo.createdAt}">
        	<f:convertDateTime type="date" pattern="#{systemConfig['data.format.date']}"/>
        </h:outputText>
      </rich:column>
      <rich:column rendered="#{node.type == 'project'}">
        <h:outputText value="#{version.versionComment}" />
      </rich:column>
      <rich:column rendered="#{node.type == 'project' and repositoryTreeState.canOpenOtherVersion and !artefact.deleted}" style="text-align: center;">
        <a4j:commandLink id="openPrjVersion" title="Open Revision ##{version.versionName}" onclick="return backToPropsTab();"
            action="#{repositoryTreeController.openProjectVersion(version.versionName)}" render="nodeView nodeTabPanel projectTree content">
            <img src="webresource/images/view.png" />
        </a4j:commandLink>
      </rich:column>
  </rich:dataTable>

  <h:panelGroup rendered="#{empty node.versions}" styleClass="noEntries">
    <h:outputText value="No version history" />
  </h:panelGroup>

  <script>
  function backToPropsTab(){
      if (confirm("Project data in the workspace will be replaced by the data of specified revision that will be opened from repository. Dependent projects will be opened too.")) {
          /*$j("#nodeTabPanel-value").value return undefined */
          document.getElementById('nodeTabPanel-value').value = "#{repositoryTreeState.defSelectTab}";/*"Properties";*/
          return true;
      } else {
	      return false;
	  }
  }
  </script>

</ui:composition>
