<ui:composition
        xmlns:ui="http://java.sun.com/jsf/facelets"
        template="/pages/layout/simpleLayout.xhtml">

    <ui:define name="content">

        <script>
            //<![CDATA[
            if (location.pathname != "#{contextPath}" && location.pathname != "#{contextPath}/") {
                location.href = "#{contextPath}/";
            }
            //]]>
        </script>

        <h1>Access denied. <a href="#{contextPath}/faces/pages/login.xhtml">Log in</a> using another credentials.</h1>
    </ui:define>
</ui:composition>
