<ui:composition
        xmlns:ui="http://java.sun.com/jsf/facelets"
        template="/pages/layout/simpleLayout.xhtml">

    <ui:define name="content">

        <script>
            //<![CDATA[

            $(function () {
                if (location.pathname == "#{contextPath}" || location.pathname == "#{contextPath}/") {
                    $('#countdown').hide();
                } else {
                    var secs = 30; // Countdown initial value
                    $('#amount').text(secs);

                    var timerId = setInterval(function () {
                        secs--;
                        $('#amount').text(secs);
                        if (secs <= 0) {
                            clearInterval(timerId);
                            $('#countdown').hide();
                            location.href = "#{contextPath}/";
                        }
                    }, 1000);
                }
            });

            //]]>
        </script>

        <h1>
            Internal Server Error.
            <div id="countdown">
                You will be redirected to the <a href="#{contextPath}/">main page</a> in <span id="amount"> </span> seconds
            </div>
        </h1>
    </ui:define>
</ui:composition>