<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="theme-color" content="#db5945">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon.png" />
    <link rel="icon" type="image/png" href="assets/img/favicon.png" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>BancaTest</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!--  Material Dashboard CSS    -->
    <link href="assets/css/material-dashboard.css" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="assets/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
</head>

<body ng-app="app" ng-controller="AppController">

	<div class="wrapper">

	    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-1.jpg">
			<!--
		        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

		        Tip 2: you can also add an image using data-image tag
		    -->

			<div class="logo">
				<a href="#verTareas" class="simple-text">
					<h3>BancaTest</h3>
				</a>
			</div>

	    	<div class="sidebar-wrapper">
	            <ul class="nav">
	                
	               <li ng-repeat="subm in listaMenu">
                        <a href="#/{{subm.rutaMenu}}">{{subm.tituloMenu}}</a>
                	</li>
	            </ul>
	    	</div>
	    </div>

	    <div class="main-panel">
			
			<div class="content">
				<div class="container-fluid">
					<div id="content" ng-view>
						
					</div>
				</div>
			</div>

			<footer class="footer">
				<div class="container-fluid">
					
					<p class="copyright pull-right">
						&copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.inkqubo.com">Inkqubo</a>, made with love for a better web
					</p>
				</div>
			</footer>
		</div>
	</div>





</body>

    <!-- Angular -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../bower_components/restangular/dist/restangular.min.js"></script>
    <script src="../bower_components/lodash/dist/lodash.min.js"></script>

	<!--   Core JS Files   -->
	<script src="assets/js/jquery-3.1.0.min.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="assets/js/material.min.js" type="text/javascript"></script>

	<!--  Charts Plugin -->
	<script src="assets/js/chartist.min.js"></script>

	<!-- Moment -->
    <script src="../bower_components/moment/min/moment.min.js"></script>
    <script src="../bower_components/moment/locale/es.js"></script>

	<!--  Notifications Plugin    -->
	<script src="assets/js/bootstrap-notify.js"></script>

	<!-- Material Dashboard javascript methods -->
	<script src="assets/js/material-dashboard.js"></script>

	<!-- Material Dashboard DEMO methods, don't include it in your project! -->
	<script src="assets/js/demo.js"></script>

	<!-- Controladores -->
    <script src="scripts/app.js"></script>
    <script src="scripts/commons.js"></script>
    
	<script src="components/registro_cliente/registro_cliente.js"></script>
	<script src="components/solicitud_credito/solicitud_credito.js"></script>
    
    <script src="components/directives/directives.js"></script>

</html>
