<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    template="/pages/layout/wizardStep.xhtml">

    <ui:define name="header">Enter table type and name</ui:define>

    <ui:define name="data">
        <h:form>
            <h:panelGrid columns="3" cellspacing="5">
                <h:outputText value="Type" styleClass="required" />
                <h:selectOneMenu id="tableType" value="#{wizard.tableType}">
                    <f:selectItems value="#{wizard.domainTypes}" />
                </h:selectOneMenu>
                <a4j:outputPanel ajaxRendered="true">
                    <h:message for="tableType" styleClass="error" />
                </a4j:outputPanel>

                <h:outputText value="Name" styleClass="required" />
                <h:inputText id="tableName" value="#{wizard.tableName}" validator="#{wizard.validateTechnicalName}" />
                <a4j:outputPanel ajaxRendered="true">
                    <h:message for="tableName" styleClass="error" />
                </a4j:outputPanel>
            </h:panelGrid>
            <br />
            <hr />

            <a4j:commandButton value="Prev" action="#{tableCreatorWizardManager.prev}" immediate="true"
                oncomplete="go('step0.xhtml')" />
            <a4j:commandButton value="Next" action="#{tableCreatorWizardManager.next}"
                data="#{facesContext.maximumSeverity}"
                oncomplete="if(!event.data) go('data/step2.xhtml')" />
            <a4j:commandButton value="Cancel" action="#{tableCreatorWizardManager.cancel}" immediate="true"
                oncomplete="go('step0.xhtml')" />

        </h:form>

    </ui:define>

</ui:composition>
