<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    template="/pages/layout/wizardStep.xhtml">
    

    <ui:define name="header">Data table columns configuration</ui:define>

    <ui:define name="data">

        <style>
            .dataTableTreeTree a img {
                padding: 0 3px 0 5px;
            }
            .nodeName {
                font-weight: bold;
            }
            .nodeFieldName {
                margin-left: 10px;
                font-weight: normal;
            }
            .dataTableTreeTree .rf-trn-ico-lf { 
                display: none;
            }
            
            .dataTableTreeTree select, .dataTableTreeTree input {
                margin-left: 5px
            } 
        </style>
        
        <script>
            function toggleForeignKey(chb, id) {
                var compId = $j(chb).attr('id').replace('toggleCheckbox', '');
                id = compId + id;
                
                var el = document.getElementById(id);
                el.style.display = chb.checked ? 'inline' : 'none';
            }
        </script>


        <h:form id="dataTableForm">
            <rich:panel id="dataTableTreePanel">
                <rich:tree toggleType="client" selectionType="client"
                    value="#{wizard.tree.rootNode}" var="item"
                    nodeType="#{item.nodeType}" binding="#{wizard.tree.currentTreeNode}"
                    styleClass="dataTableTreeTree" rowKeyConverter="org.richfaces.IntegerSequenceRowKeyConverter">
                    <!-- rowKeyConverter is a temporary solution.
                     After migrating to the newer version of RichFaces it can be removed.
                     See: https://issues.jboss.org/browse/RF-11102 for details -->
                     
                    <rich:treeNode type="complex">
                        <h:outputText styleClass="nodeName" value="#{item.name} :"/>
                        <h:outputText styleClass="nodeFieldName" value="Display Name =" rendered="#{item.leaf}" />
                        <h:inputText value="#{item.businessName}" rendered="#{item.leaf}"/>
                        
                        <a4j:outputPanel rendered="#{item.leaf and wizard.hasForeignKeyTables(item.typeName)}">
                            <h:outputText styleClass="nodeFieldName" value="Foreign Key ="/>

                            <h:selectOneMenu id="complexForeignKeyTable" value="#{item.foreignKeyTable}">
                                <f:selectItems value="#{wizard.getForeignKeyTables(item.typeName)}" />
                            </h:selectOneMenu>
                            <a4j:outputPanel ajaxRendered="true">
                                <h:message for="complexForeignKeyTable" styleClass="error" />
                            </a4j:outputPanel>
                            <h:selectOneMenu id="complexTableColumns" value="#{item.foreignKeyColumn}">
                                <f:selectItems value="#{wizard.getTableColumns(item.typeName)}" />
                            </h:selectOneMenu>
                        </a4j:outputPanel>
                        
                        <a4j:commandLink action="#{wizard.tree.currentNode.useAggregatedFields}" rendered="#{item.leaf}"
                            render="@form" title="Fill fields">
                            <h:graphicImage value="/images/add_obj.gif" />
                        </a4j:commandLink>
                        <a4j:commandLink action="#{wizard.tree.currentNode.useForeignKey}"
                            rendered="#{not item.root and not item.leaf}" render="@form" title="Clear fields">
                            <h:graphicImage value="/images/close.gif" />
                        </a4j:commandLink>
                    </rich:treeNode>
                    
                    <rich:treeNode type="simple">
                        <h:outputText styleClass="nodeName" value="#{item.name} :" />
                        <h:outputText styleClass="nodeFieldName" value="Display Name ="/>
                        <h:inputText value="#{item.businessName}"/>
                        
                        <a4j:outputPanel rendered="#{item.leaf and wizard.hasForeignKeyTables(item.typeName)}">
                            <h:outputText styleClass="nodeFieldName" value="Foreign key"/>
                            <h:selectBooleanCheckbox id="toggleCheckbox" value="#{item.editForeignKey}" render="@form" onchange="toggleForeignKey(this, 'foreignKeyPanel');"/>

                            <a4j:outputPanel id="foreignKeyPanel" style="#{item.editForeignKey? 'display:inline' : 'display:none'}" >
                                <h:selectOneMenu id="simpleForeignKeyTable" value="#{item.foreignKeyTable}" rendered="#{item.leaf}">
                                    <f:selectItems value="#{wizard.getForeignKeyTables(item.typeName)}" />
                                </h:selectOneMenu>
                                <a4j:outputPanel ajaxRendered="true">
                                    <h:message for="simpleForeignKeyTable" styleClass="error" />
                                </a4j:outputPanel>
                            </a4j:outputPanel>
                        </a4j:outputPanel>
                    </rich:treeNode>
                </rich:tree>
            </rich:panel>
            
            <br />
            <hr />

            <a4j:commandButton value="Prev" action="#{tableCreatorWizardManager.prev}" immediate="true"
                oncomplete="go('data/step1.xhtml')" />
            <a4j:commandButton value="Next" action="#{tableCreatorWizardManager.next}"
                data="#{facesContext.maximumSeverity}"
                render="@form"
                oncomplete="if(!event.data) go('data/step3.xhtml')" />
            <a4j:commandButton value="Cancel" action="#{tableCreatorWizardManager.cancel}" immediate="true"
                oncomplete="go('step0.xhtml')" />

        </h:form>

  </ui:define>

</ui:composition>
