<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:jsffn="http://rules.openl.org/taglibs/jsffn">

    <c:set var="contextPath" value="#{facesContext.externalContext.request.contextPath}" />

    <h:head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link href="#{contextPath}/css/bootstrap.min.css" rel="stylesheet" />
        <link href="#{contextPath}/css/common.css" rel="stylesheet" />
        <link href="#{contextPath}/css/layout/main.css" rel="stylesheet" />

        <script src="#{contextPath}/javascript/vendor/jquery-1.7.2.min.js"></script>
        <script src="#{contextPath}/javascript/vendor/jquery.are-you-sure.js"></script>
        <script src="#{contextPath}/javascript/vendor/bootstrap.min.js"></script>
        <script src="#{contextPath}/javascript/common.js"></script>
        <h:outputScript name="jsf.js" library="javax.faces" />

        <script src="#{contextPath}/javascript/vendor/jquery.easytabs.min.js"></script>

        <style>
            #header {
                border-bottom: 1px solid #f3f3f3;
            }
            #center {
                height: calc(100% - 83px);
            }
            .simpleView_workspace {
                width: 100%;
                overflow: auto;
                position: absolute;
                top: 84px;
                bottom: 36px;
            }
            .simpleView_workspace > div {
                padding: 5px 7px;
            }

            #content .rf-tab-lbl {
                font-size: 110% !important;
                color: #333;
            }
            #content .rf-tab-cnt {
                padding: 0 !important;
            }
            #content .rf-tab-hdr {
                padding: 3px 5px 9px !important;
                border-right: 0 !important;
            }
            #content .rf-tab-hdr-act {
                border-bottom-color: #bbb !important;
            }

            .tab-panel-vertical {
                border-top: 0;
                margin: 0;
                min-height: 280px;
            }

            .tab-panel-vertical ul {
                position: fixed;
                top: 85px;
                left: 0;
                height: calc(100% - 121px);
            }

            .tab-panel-vertical ul li {
                width: 108px;
            }

            .messages {
                top: 7px;
            }
        </style>

        <script>
          //<![CDATA[
            var $j = $.noConflict();

            var loadingPanel;

            // Handle JSF / Richfaces AJAX errors
            jsf.ajax.addOnError(function (data) {
                if (typeof console != "undefined") console.error(data);

                // @Deprecated
                if (data.errorName && data.errorName.indexOf("ViewExpiredException") > -1) {
                    location.reload();
                } else {
                    handleError(data.responseCode);
                }
            });

            function handleError(code) {
                if (code == 399) { // Session Timeout
                    location.href = "#{contextPath}/faces/pages/sessionExpired.xhtml";
                } else if (code == 404) { // File Not Found
                    message("#{msg['ws.common.error.404']}", 7000);
                } else {
                    message("#{msg['ws.common.error.500']}", 7000);
                }
            }

            var ws = {
                ui: {
                    success: function(content) {
                        message(content, 4000, true, "success");
                    },
                    error: function(content) {
                        message(content, -1, true, "error");
                    },
                    info: function(content) {
                        message(content, 8000, true);
                    }
                }
            };

            $j(function () {
                loadingPanel = $j("#loadingPanel");

                $j("body").css({"visibility": "visible"});
            });

            function showLoader() {
                if (loadingPanel.is(":hidden")) {
                    showAnimatedPanel(loadingPanel);
                }
            }

            function hideLoader() {
                if (loadingPanel.is(":visible")) {
                    loadingPanel.hide();
                }
            }

          $j(function () {
              fixTabIndexesInRichPopupPanels();
          });

            //]]>
        </script>

        <title>
            <ui:insert name="title">OpenL Tablets WebStudio</ui:insert>
        </title>
    </h:head>

    <h:body style="visibility: hidden">
        <div id="header">
            <ui:insert name="header">
                <ui:include src="/pages/common/header.xhtml">
                    <ui:param name="menu" value="admin" />
                </ui:include>
            </ui:insert>
        </div>
        <div id="center">
            <a4j:outputPanel ajaxRendered="true">
                <h:panelGroup styleClass="messages" layout="block"
                    rendered="#{!empty facesContext.maximumSeverity}">
                    <h:messages infoClass="success" errorClass="error" showDetail="true"
                        showSummary="false" tooltip="true" globalOnly="true" />
                </h:panelGroup>
            </a4j:outputPanel>
            <div id="content" style="padding-top: 10px">
                <div>
                    <ui:insert name="content" />
                </div>
            </div>
        </div>
        <div id="footer">
            <ui:insert name="footer">
                <ui:include src="/pages/common/footer.xhtml" />
            </ui:insert>
        </div>

        <div id="loadingPanel" style="display: none">
            <img src="webresource/images/ajax-loader.gif" />
        </div>

        <div style="display: none">
            <a4j:status onstart="showLoader()" onstop="hideLoader()" />
         </div>

        <c:if test="#{jsffn:getSystemProp('webstudio.analytics') != 'false'}">
            <ui:include src="/pages/common/analytics.xhtml">
                <ui:param name="id" value="#{jsffn:getSystemProp('webstudio.analytics')}" />
            </ui:include>
        </c:if>
    </h:body>
</html>
