<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <c:set var="contextPath" value="#{facesContext.externalContext.request.contextPath}" />

    <h:head>
        <link href="#{contextPath}/css/common.css" rel="stylesheet" />
    </h:head>

    <ui:insert name="content" />

</ui:composition>
