<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <c:set var="contextPath" value="#{facesContext.externalContext.request.contextPath}" />

    <h:head>
        <title><h:outputText value="#{param.title}" /></title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    </h:head>

    <frameset cols="#{treeViewBean.pagesWidth}">
        <frame name="leftFrame" src="#{contextPath}/#{treeViewBean.treePage}" scrolling="auto" />

        <frame name="#{empty param.mainframe ? 'mainFrame' : param.mainframe}"
            src="#{contextPath}/#{treeViewBean.mainPage}" scrolling="auto" />
    </frameset>

</html>
