<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:jsffn="http://rules.openl.org/taglibs/jsffn">

    <c:set var="contextPath" value="#{facesContext.externalContext.request.contextPath}" />
    <c:set var="node" value="#{repositorySelectNodeStateHolder.selectedNode}" />
    <c:set var="artefact" value="#{node.data}" />

    <h:head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link href="#{contextPath}/css/bootstrap.min.css" rel="stylesheet" />
        <link href="#{contextPath}/css/common.css" rel="stylesheet" />
        <link href="#{contextPath}/css/layout/main.css" rel="stylesheet" />
        <link href="#{contextPath}/css/jquery.popup.css" rel="stylesheet" />
        <link href="#{contextPath}/css/jquery.multiselect.css" rel="stylesheet" />

        <script src="#{contextPath}/javascript/common.js"></script>
        <script src="#{contextPath}/javascript/vendor/jquery-1.7.2.min.js"></script>
        <script src="#{contextPath}/javascript/vendor/jquery.are-you-sure.js"></script>
        <script src="#{contextPath}/javascript/vendor/bootstrap.min.js"></script>
        <script src="#{contextPath}/javascript/vendor/jquery-ui-1.8.16.custom.min.js"></script>
        <script src="#{contextPath}/javascript/vendor/jquery.layout.js"></script>
        <script src="#{contextPath}/javascript/jquery.popup.js"></script>
        <script src="#{contextPath}/javascript/jquery.multiselect.js"></script>
        <script src="#{contextPath}/javascript/bomjs.js"></script>

        <h:outputScript name="jsf.js" library="javax.faces" />

        <style>
            .rf-trn-sel {
                font-weight: bold !important;
            }
        </style>

        <script>
          //<![CDATA[
            var $j = $.noConflict();

            // Handle JSF / Richfaces AJAX errors
            var onError = function onError(data) {
                if (data.errorName
                    && data.errorName.indexOf("ViewExpiredException") > -1) { // Session Timeout
                    handleError(399);
                }
                handleError(data.responseCode);
            };
            jsf.ajax.addOnError(onError);

            var ws = {
                storage: {
                    get: function(name) {
                        var strValue = localStorage.getItem(name);
                        return strValue ? JSON.parse(strValue) : null;
                    },
                    set: function(name, value) {
                        localStorage.setItem(name, JSON.stringify(value));
                    }
                },

                ui: {
                    success: function(content) {
                        message(content, 4000, true, "success");
                    },
                    error: function(content) {
                        message(content, -1, true, "error");
                    },
                    info: function(content) {
                        message(content, 8000, true);
                    }
                }
            };

            $j(function () {
                setLayoutDimensions();

                var WS_PANEL_STATE_VAR = "WS_REPO_PANEL_STATE";

                function changePanelState() {
                    var panelState = ws.storage.get(WS_PANEL_STATE_VAR);
                    panelState.left = !mainLayout.state.west.isClosed;
                    ws.storage.set(WS_PANEL_STATE_VAR, panelState);
                }

                $j(window).resize(function() {
                    setLayoutDimensions();
                });

                var mainLayout = $j("#center").layout({
                    spacing_open: 1,
                    spacing_closed: 17,
                    minSize: 110,
                    west__size: 230,
                    slidable: false,
                    onopen: changePanelState,
                    onclose: changePanelState
                });
                mainLayout.addCloseBtn("#west-closer", "west");

                var panelState = ws.storage.get(WS_PANEL_STATE_VAR);
                if (!panelState) {
                    ws.storage.set(WS_PANEL_STATE_VAR, { left: true });
                } else {
                    panelState.left === false && mainLayout.close("west");
                }

                $j("body").css({"visibility": "visible"});
            });

            function handleError(code) {
                if (code == 399) { // Session Timeout
                    location.href = "#{contextPath}/faces/pages/sessionExpired.xhtml";
                } else {
                    alert("#{msg['ws.common.error.500']}");
                }
            }

            function setLayoutDimensions() {
                $j("#center").css({
                   "height": $j(this).outerHeight()
                       - $j("#header").outerHeight()
                       - $j("#top").outerHeight()
                       - $j("#footer").outerHeight()
                });
            }

            function showLoader() {
                showAnimatedPanel($j('#loadingPanel'));
            }

            function hideLoader() {
                $j('#loadingPanel').hide();
            }

          $j(function () {
              fixTabIndexesInRichPopupPanels();
          });
          //]]>
        </script>

        <title>
            <ui:insert name="title">OpenL Tablets WebStudio</ui:insert>
        </title>
    </h:head>

    <h:body style="visibility: hidden">
        <div id="header">
            <ui:insert name="header">
                <ui:include src="/pages/common/header.xhtml">
                    <ui:param name="menu" value="repository" />
                </ui:include>
            </ui:insert>
        </div>

        <h:form id="mainForm" prependId="false">
            <div id="top">
                <ui:insert name="top">
                    <a4j:outputPanel ajaxRendered="true">
                        <h:panelGroup styleClass="messages" layout="block"
                            rendered="#{!empty facesContext.maximumSeverity and jsffn:hasGlobalMessages()}">
                            <h:messages infoClass="success" errorClass="error" showDetail="true"
                                showSummary="false" tooltip="true" globalOnly="true"/>
                        </h:panelGroup>
                    </a4j:outputPanel>
                    <ui:include src="/pages/modules/repository/topPanel.xhtml" />
                </ui:insert>
            </div>

            <div id="center">
                <div id="left" class="ui-layout-west">
                    <span id="west-closer" class="pane-closer" title="#{msg['ws.common.icon.close']}" />
                    <ui:insert name="left" />
                </div>
                <div id="content" class="ui-layout-center">
                    <ui:insert name="content" />
                </div>
            </div>
        </h:form>

        <div id="footer">
            <ui:insert name="footer">
                <ui:include src="/pages/common/footer.xhtml" />
            </ui:insert>
        </div>

        <ui:insert name="special" />

        <div id="loadingPanel" style="display: none">
            <img src="webresource/images/ajax-loader.gif" />
        </div>

        <a4j:status onstart="showLoader()" onstop="hideLoader()" />

        <c:if test="#{jsffn:getSystemProp('webstudio.analytics') != 'false'}">
            <ui:include src="/pages/common/analytics.xhtml">
                <ui:param name="id" value="#{jsffn:getSystemProp('webstudio.analytics')}" />
            </ui:include>
        </c:if>
    </h:body>
</html>
