<!DOCTYPE html>
<html
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:a4j="http://richfaces.org/a4j">

    <c:set var="contextPath" value="#{request.contextPath}" />

    <h:head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link href="#{contextPath}/css/common.css" rel="stylesheet" />
        <link href="#{contextPath}/css/layout/simple.css" rel="stylesheet" />
        <script src="#{contextPath}/javascript/common.js"></script>
        <script src="#{contextPath}/javascript/vendor/jquery-1.7.2.min.js"></script>

        <script>
            //<![CDATA[
            var $j = $.noConflict();

            var loadingPanel;

            $j(function () {
                loadingPanel = $j("#loadingPanel");

                $j("body").css({"visibility": "visible"});
            });

            function showLoader() {
                if (loadingPanel.is(":hidden")) {
                    showAnimatedPanel(loadingPanel);
                }
            }

            function hideLoader() {
                if (loadingPanel.is(":visible")) {
                    loadingPanel.hide();
                }
            }

            $j(function () {
                fixTabIndexesInRichPopupPanels();
            });
            //]]>
        </script>

        <title>
            <ui:insert name="title">OpenL Tablets WebStudio</ui:insert>
        </title>
    </h:head>

    <h:body>
        <div id="header">
            <ui:insert name="header">
                <ui:include src="/pages/common/simpleHeader.xhtml" />
            </ui:insert>
        </div>
        <div id="content">
            <ui:insert name="content" />
        </div>
        <div id="footer">
            <ui:insert name="footer">
                <ui:include src="/pages/common/footer.xhtml" />
            </ui:insert>
        </div>
        <div id="loadingPanel" style="display: none">
            <img src="#{contextPath}/images/ajax-loader.gif" />
        </div>

        <div style="display: none">
            <a4j:status onstart="showLoader()" onstop="hideLoader()" />
        </div>
    </h:body>
</html>
