<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <c:set var="contextPath" value="#{facesContext.externalContext.request.contextPath}" />
    <c:set var="wizard" value="#{tableCreatorWizardManager.wizard}" />

    <div class="page">
        <h1 class="page-header">
            <ui:insert name="header" />
        </h1>

        <div>
            <ui:insert name="data" />
        </div>
    </div>

</ui:composition>
