<div class="col-md-8">
    <div class="card">
        <div class="card-header" data-background-color="grey">
            <h4 class="title">Creditos</h4>
            <p class="category">Solicitud creditos</p>
        </div>
        <div class="card-content">

            <form name="myForm" ng-submit="solicitarCredito()">
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group col-md-6">
                            <label>Nombre de la empresa</label>
                            <input class="form-control" 
                            ng-model="datoscredito.nombreempresa" required varchar>
                        </div>

                        <div class="form-group col-md-6">
                            <label>Nit</label>
                            <input name="tipoTarea" class="form-control" 
                            ng-model="datoscredito.nitempresa" required numbers-only type="number">
                        </div>

                        <div class="form-group col-md-6">
                            <label>Salario actual</label>
                            <input name="tipoTarea" class="form-control" 
                            ng-model="datoscredito.salarioactual" required numbers-only type="number">
                        </div>

                        <div class="form-group col-md-6">
                            <label>Fecha de ingreso</label>
                            <input class="form-control" type="date" 
                            ng-model="datoscredito.fechaingreso" placeholder="yyyy-MM-dd" required valid-date />

                        </div>



                        <div class="form-group col-md-6">
                            <div class="form-group derecha">
                                <button type="submit" class="btn btn-info btn-md" 
                                ng-dblclick="disableSubmit = true" ng-disabled="disableSubmit">Solicitar</button>
                                <button type="button" class="btn btn-md btncancelar" ng-click="cancelar()">Cancelar</button>
                            </div>
                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>