<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    template="/pages/layout/adminLayout.xhtml">

    <ui:define name="content">
        <rich:tabPanel switchType="client">
            <rich:tab header="System Settings">
                <ui:include src="/pages/modules/administration/settings/systemSettings.xhtml" />
            </rich:tab>
            <rich:tab header="User Management" rendered="#{systemConfig['user.mode'] == 'multi'}"
                onheaderclick="location.href='#{contextPath}/faces/pages/modules/administration/users/index.xhtml'" />
        </rich:tabPanel>
    </ui:define>

</ui:composition>
