<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    template="/pages/layout/wizardStep.xhtml">

    <ui:define name="header">Enter the initial parameters</ui:define>

    <ui:define name="data">
        <style>
            .addButton {
                background: url(#{contextPath}/webresource/images/add_obj.gif) no-repeat 2px;
                padding: 3px 5px 3px 21px;
                text-decoration: none;
                vertical-align: middle;
            }
        </style>

        <h:form>
          <f:validateBean disabled="true">
            <h:panelGrid columns="3" cellspacing="5">
                <h:outputText value="Table Name" styleClass="required" />
                <h:inputText id="srTableName" value="#{wizard.tableName}" validator="#{wizard.validateTableName}"/>
                <a4j:outputPanel ajaxRendered="true">
                    <h:message for="srTableName" styleClass="error" />
                </a4j:outputPanel>

                <h:outputText value="Return Value Type" styleClass="required" />
                <h:selectOneMenu value="#{wizard.returnValueType}">
                    <f:selectItems value="#{wizard.domainTypes}" />
                </h:selectOneMenu>
            </h:panelGrid>
            <h:panelGroup id="inputParamTable">
                <h:dataTable value="#{wizard.parameters}" var="parameter" rendered="#{!empty wizard.parameters}">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Type" />
                        </f:facet>
                        <h:selectOneMenu value="#{parameter.type}" valueChangeListener="#{wizard.pTypeListener}">
                            <f:selectItems value="#{wizard.domainTypes}" />
                        </h:selectOneMenu>
                    </h:column>

                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Is Array" />
                        </f:facet>
                        <h:selectBooleanCheckbox value="#{parameter.iterable}" valueChangeListener="#{wizard.pIterableListener}"/>
                    </h:column>

                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Name"/>
                        </f:facet>
                        <h:inputText id="pname" value="#{parameter.name}"
                        valueChangeListener="#{wizard.pNameListener}" validator="#{wizard.validatePropsName}">
                        </h:inputText>
                    </h:column>

                    <h:column>
                        <a4j:commandLink id="removeLink" action="#{wizard.removeParameter(parameter)}" 
                            render="inputParamTable" execute="@form"
                            title="Remove Parameter" style="margin-left: 5px;"
                            ajax="false">
                            <h:graphicImage value="/images/delete.png" />
                        </a4j:commandLink>
                        <a4j:outputPanel ajaxRendered="true">
                            <h:message for="pname" styleClass="error" style="margin-left: 5px;" />
                        </a4j:outputPanel>
                    </h:column>
                </h:dataTable>
            </h:panelGroup>
            <br />
            <a4j:commandLink action="#{wizard.addParameter}" styleClass="addButton" execute="@form"
                render="inputParamTable" title="Add Input Parameters">
                <h:outputText value="Add Input Parameters" />
            </a4j:commandLink>
            <br />
            <hr />

            <a4j:commandButton value="Prev" action="#{tableCreatorWizardManager.prev}" immediate="true"
                oncomplete="go('step0.xhtml')" />
            <a4j:commandButton value="Next" action="#{tableCreatorWizardManager.next}"
                data="#{facesContext.maximumSeverity}"
                oncomplete="if(!event.data) go('simpleRules/step2.xhtml')" />
            <a4j:commandButton value="Cancel" action="#{tableCreatorWizardManager.cancel}" immediate="true"
                oncomplete="go('step0.xhtml')" />
          </f:validateBean>
        </h:form>

    </ui:define>

</ui:composition>