<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    template="/pages/layout/wizardStep.xhtml">

    <ui:define name="header">Construct a table</ui:define>

    <ui:define name="data">
        <c:set var="contextPath" value="#{facesContext.externalContext.request.contextPath}" />
        <script src="#{contextPath}/faces/tableEditor/js/popup/popupmenu.js"></script>
        <script src="#{contextPath}/faces/tableEditor/js/datepicker.js"></script>
        <script src="#{contextPath}/faces/tableEditor/js/BaseEditor.js"></script>
        <script src="#{contextPath}/faces/tableEditor/js/BaseTextEditor.js"></script>
        <script src="#{contextPath}/faces/tableEditor/js/TextEditor.js"></script>
        <script src="#{contextPath}/faces/tableEditor/js/MultiselectEditor.js"></script>
        <script src="#{contextPath}/faces/tableEditor/js/DropdownEditor.js"></script>
        <script src="#{contextPath}/faces/tableEditor/js/ArrayEditor.js"></script>
        <script src="#{contextPath}/faces/tableEditor/js/DateEditor.js"></script>
        <script src="#{contextPath}/faces/tableEditor/js/BooleanEditor.js"></script>
        <script src="#{contextPath}/faces/tableEditor/js/NumericEditor.js"></script>
        <script src="#{contextPath}/faces/tableEditor/js/NumberRangeEditor.js"></script>

        <script src="#{contextPath}/javascript/tableDataModel.js"></script>
        <script src="#{contextPath}/javascript/tableHTMLRenderers.js"></script>
        <script src="#{contextPath}/javascript/tableEditors.js"></script>
        <script src="#{contextPath}/javascript/tablePopupMenu.js"></script>

        <style>
            .editTable {border: 1px solid threedface;
                        margin: 0px; width: 95%;
                        height: 100%; font-family:
                        Arial; padding: 1px;
                        }

            .editTableInParam {border: 1px solid threedface;
                        margin: 0px; width: 10%;
                        height: 100%; font-family:
                        Arial; padding: 1px;
                        }

            table.srt {
                border-width: 0px;
                border-spacing: 0px;
                border-style: none;
                border-color: gray;
                border-collapse: collapse;
                background-color: white;
            }

            table.srt tr {
                height : 20px;
            }

            .tips_div {
                width: 365px;
                padding: 5px 5px 15px 5px;
                background: rgba(220, 220, 220, 0.1);
                border-width: 1px;
                border-style: solid;
                border-color: #DDDDDD;
            }

            .tips_text{
                padding-left: 15px;
            }
            
            .edt_div{
                display : none;
                position: absolute;
                z-index: 3;
                background-color: #B4C8FF;
            }

        </style>

        <h:form name="srtTableForm" id="srtTableForm">
            <span id="errorMessage" >
            </span>
            <br/><div id="editor_div" class="edt_div"/>
            <table id="srtTable" class="srt">
            </table>
            <br/>
            <div id="tip" class="tips_div">
                <strong>Tips</strong><br/>
                <div class="tips_text">
                        &#8226;&#160;For a cell value editing click left mouse button<br/>
                        &#8226;&#160;For an action with table click right mouse button on a cell
                </div>
            </div>
            <script>
            //<![CDATA[
                var domTable = document.getElementById("srtTable");

                tableModel.setReturnParam(new Param('RETURN', '#{wizard.returnValue.name}', #{wizard.returnValue.iterable}, 'RETURN', '#{wizard.returnValue.type}'));
                tableModel.header.name= '#{wizard.tableName}';
            //]]>
            </script>
            <script>
              <ui:repeat value="#{wizard.typedParameters}" var="inParam">
                tableModel.header.inParam.push(new Param('<h:outputText value="#{inParam.typeName}"/>','<h:outputText value="#{inParam.name}"/>',<h:outputText value="#{inParam.iterable}"/>, 'condition', '#{inParam.type}'));
              </ui:repeat>

              verticalRenderer.initDomTable(domTable)
              tableModel.initTable(verticalRenderer);

              function selectDataTypeAction(spanElem, event, id, iterable) {
                  var div = document.getElementById("dataTypeDiv");
                  div.innerHTML = "";

                  var addRowCheck = document.createElement('input');
                  addRowCheck.setAttribute('type','checkbox');
                  addRowCheck.setAttribute('onchange','tableModel.setIterable('+id+','+!iterable+');PopupMenu.closeMenu();');

                  if(iterable) {
                      addRowCheck.setAttribute('checked','checked');
                  }

                  div.appendChild(addRowCheck);

                  var addRowLink = document.createElement('a');
                  addRowLink.setAttribute('href','javascript:void(0)');
                  addRowLink.setAttribute('onclick','tableModel.setIterable('+id+','+!iterable+');');
                  addRowLink.innerHTML = ("Array");

                  div.appendChild(addRowLink);

                  div.appendChild(document.createElement('hr'));

                  <ui:repeat value="#{wizard.typesList}" var="domParam">
                      var addRowLink = document.createElement('a');
                      addRowLink.setAttribute('href','javascript:void(0)');
                      addRowLink.setAttribute('onclick','tableModel.setDataTypeTo(\''+spanElem.id+'\',\'#{domParam.name}\','+id+',\'#{domParam.type}\');');
                      addRowLink.innerHTML = ("#{domParam.name}");
                      div.appendChild(addRowLink);
                      div.appendChild(document.createElement('br'));
                  </ui:repeat>

                  event.preventDefault();
                  PopupMenu.sheduleShowMenu('dataTypeDiv', event, 0);
                  return false;
              }

              function setJSONTableString() {
                  tableModel.renderer = null;

                  var jsonStr = JSON.stringify(tableModel);
                  document.getElementById("srtTableForm:tableString").value = jsonStr;
              }
 
              function prepareForNextAction() {
                  error = tableModel.checkTable();

                  if (error.length == 0) {
                      setJSONTableString();
                  } else {
                      tableModel.renderer.setErrorMessage(error, $j("#errorMessage"))
                      return false;
                  }
              }

              #{wizard.restoreTable}

            </script>
            <br/>
            <hr/>
            <h:inputHidden id="tableString" name="tableString" value="#{wizard.jsonTable}"/>

            <a4j:commandButton value="Prev" action="#{tableCreatorWizardManager.prev}" immediate="true"
                oncomplete="go('simpleRules/step1.xhtml')" />
            <a4j:commandButton value="Next" onclick="return prepareForNextAction();" action="#{tableCreatorWizardManager.next}"
                data="#{facesContext.maximumSeverity}"
                oncomplete="if(!event.data) go('simpleRules/step3.xhtml')" />
            <a4j:commandButton value="Cancel" action="#{tableCreatorWizardManager.cancel}" immediate="true"
                oncomplete="go('step0.xhtml')" />

        </h:form>
        <div id="srtPopupDiv" style="display: none">
        </div>
        <div id="dataTypeDiv" style="display: none">
        </div>
        <div id="propsDataType" style="display: none">
            <h:selectOneMenu onblur="tableModel.setPropValue(this,'PROPERTY_TYPE')" onchange="tableModel.setPropValue(this,'PROPERTY_TYPE')" id="newPropertySelect">
                <f:selectItems value="#{wizard.propertyList}" />
            </h:selectOneMenu>
        </div>
    </ui:define>

</ui:composition>