<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:rules="http://openl-tablets.sourceforge.net/jsf"
    template="/pages/layout/framePanel.xhtml">
    
    <style>
            .tr-middle-align {
                vertical-align: middle;
            }

        </style>

    <ui:define name="content">
        <script src="webresource/js/prototype/prototype-1.6.1.js"></script>
        <script src="#{contextPath}/faces/tableEditor/js/tooltip.js"></script>
        <h:panelGroup rendered="#{not empty param.first}">
            <b>Select  a Trace Element on the left side and you will see it's trace here</b>
        </h:panelGroup>

        <h:panelGroup rendered="#{empty param.first}">
            <ui:include src="/pages/common/tableViewMenu.xhtml" />

            <div style="border-bottom: 1px solid #dddddd; padding-bottom: 5px">
            <table>
                <tr class="tr-middle-align">
                    <td  style="padding-right: 5px;"><b>Input parameters: </b></td>
                    <ui:repeat value="#{showTraceTableBean.inputParameters}" var="parameter">
                        <h:panelGroup rendered="#{showTraceTableBean.isSpreadsheetResult(parameter.value)}">
                            <td>
                                <h:outputText value="#{showTraceTableBean.getFormattedSpreadsheetResult(parameter.value)}" escape="false" />
                            </td>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{!showTraceTableBean.isSpreadsheetResult(parameter.value)}">
                            <td>
                                <ui:include src="/pages/modules/test/parameter.xhtml">
                                    <ui:param name="parameter" value="#{parameter}" />
                                    <ui:param name="lazy" value="false" />
                                </ui:include>
                            </td>
                        </h:panelGroup>
                    </ui:repeat>
                    <h:panelGroup rendered="#{!empty showTraceTableBean.context}">
                        <td>
                            <ui:include src="/pages/modules/test/parameter.xhtml">
                                <ui:param name="parameter" value="#{showTraceTableBean.context}" />
                                <ui:param name="lazy" value="false" />
                            </ui:include>
                        </td>
                    </h:panelGroup>
                </tr>
                </table>
                
                <table >
                <tr class="tr-middle-align">
                    <td style="padding-right: 5px;"><b>Returned result: </b></td>
                    <c:set var="result" value="#{showTraceTableBean.returnResult}"/>
                    <td>
                        <h:panelGroup rendered="#{showTraceTableBean.isSpreadsheetResult(result.value)}">
                            <h:outputText value="#{showTraceTableBean.getFormattedSpreadsheetResult(result.value)}" escape="false" />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{!parameterTreeBuilder.isSpreadsheetResult(result.value)}">
                            <ui:include src="/pages/modules/test/parameter.xhtml">
                                <ui:param name="parameter" value="#{result}"/>
                                <ui:param name="lazy" value="false" />
                                <ui:param name="hasExplainLinks" value="false" />
                            </ui:include>
                        </h:panelGroup>
                    </td>
                </tr>
            </table>
            </div>

            <c:set var="errors" value="#{showTraceTableBean.errors}" />
            <h:panelGroup rendered="#{not empty errors}">
                <ui:include src="/pages/modules/messages.xhtml">
                    <ui:param name="messages" value="#{errors}" />
                    <ui:param name="editable" value="false" />
                </ui:include>
                <p />
            </h:panelGroup>

            <br />

            <rules:tableEditor table="#{showTraceTableBean.traceTable}" filters="#{showTraceTableBean.traceFilters}"
                editable="false" view="#{studio.tableView}" />

        </h:panelGroup>
    </ui:define>

</ui:composition>