<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        template="/pages/layout/framePanel.xhtml">

    <ui:define name="content">
        <link href="#{contextPath}/css/ui.fancytree.min.css"
              rel="stylesheet" type="text/css"></link>
        <style>
            .traceTreeParams {
                border-bottom: 1px solid #dddddd;
                padding-bottom: 5px;
            }

            .traceTreeParams input[type="checkbox"] {
                vertical-align: middle;
            }

            .traceTreeFieldName {
                font-weight: bold;
                margin-right: 5px;
            }

            .tree {
                padding-top: 5px;
            }

            .fancytree-ico-c span.fancytree-icon,
            .fancytree-ico-e span.fancytree-icon,
            .fancytree-has-children.fancytree-ico-c span.fancytree-icon,
            .fancytree-ico-c span.fancytree-icon:hover,
            .fancytree-ico-e span.fancytree-icon:hover,
            .fancytree-has-children.fancytree-ico-c span.fancytree-icon:hover {
                background-position: 0 0;
            }

            .decisiontable .fancytree-icon {
                background-image: url("webresource/images/ruleset.gif");
            }

            .rule .fancytree-icon {
                background-image: url("webresource/images/test_ok.gif");
            }

            .cmatch .fancytree-icon, .wcmatch .fancytree-icon, .wcmScore .fancytree-icon {
                background-image: url("webresource/images/cmatch.gif");
            }

            .cmResult .fancytree-icon {
                background-image: url("webresource/images/cmatch-check.gif");
            }

            .cmMatch .fancytree-icon {
                background-image: url("webresource/images/cmatch-match.gif");
            }

            .tbasic .fancytree-icon {
                background-image: url("webresource/images/tbasic.gif");
            }

            .tbasicMethod .fancytree-icon, .method .fancytree-icon {
                background-image: url("webresource/images/method.gif");
            }

            .tbasicOperation .fancytree-icon {
                background-image: url("webresource/images/tbasic-operation.gif");
            }

            /* TODO: icons for spreadsheet, method, overloadedMethodChoise in trace */
            .spreadsheet .fancytree-icon {
                background-image: url("webresource/images/spreadsheet.gif");
            }

            .spreadsheetCell .fancytree-icon {
                background-image: url("webresource/images/value.gif");
            }

            .overloadedMethodChoice .fancytree-icon {
                background-image: url("webresource/images/tableview.gif");
            }

            .dtRule.result .fancytree-icon, .dtRule.no_result .fancytree-icon {
                background-image: url("webresource/images/test_success.png");
            }

            .dtRule.fail .fancytree-icon {
                background-image: url("webresource/images/test_fail.png");
            }

            .result > .fancytree-title {
                font-weight: bold;
            }

            .fail > .fancytree-title,
            .no_result > .fancytree-title {
                font-style: italic;
            }

            .hide_details .fancytree-node.fail, .hide_details .fancytree-node.no_result {
                display: none;
            }
        </style>
        <script src="#{contextPath}/javascript/vendor/jquery-1.7.2.min.js"></script>
        <script src="#{contextPath}/javascript/vendor/jquery-ui-1.8.16.custom.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.15.0/jquery.fancytree.min.js"
                type="text/javascript"></script>

        <script type="text/javascript">
            $(function () {
                $("#tree").fancytree({
                    toggleEffect: false,
                    activate: function (event, data) {
                        window.open("#{contextPath}/faces/pages/modules/trace/showTraceTable.xhtml?id=" + data.node.key, "mainFrame");
                    },
                    lazyLoad: function (event, data) {
                        data.result = {
                            url: "#{contextPath}/web/trace/nodes",
                            data: {id: data.node.key}
                        };
                    },
                    source: {url: "#{contextPath}/web/trace/nodes"}
                });
            });
        </script>

        <div class="traceTreeParams">
            <span class="traceTreeFieldName">Detailed trace tree</span><input checked="checked" type="checkbox"
                                                                              onchange="$('#tree').toggleClass('hide_details', !this.checked)"></input>
        </div>
        <div id="tree"/>

    </ui:define>

</ui:composition>
