<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions">

    <style>
        table.menu {
            background: #ffffff;
            padding: 0 1px;
            position: absolute;
            right: 8px;
        }
        .colorButton {
            width: 14px;
            height: 14px;
            display: inline-block;
        }
        .selectedColor {
            border: 1px solid #ccc;
        }
    </style>

    <c:set value="#{tableViewMenuBean.filterHolder}" var="filterHolder" />

    <div style="width: 110px">
        <table class="menu">
            <tr>
            <c:forEach begin="0" end="#{fn:length(tableViewMenuBean.filterImageNames) - 1}"
                var="filterId">
                <td class="#{filterHolder.imageName == tableViewMenuBean.filterImageNames[filterId] ? 'selectedColor' : ''}">
                    <a href="?#{tableViewMenuBean.requestParams}&amp;filterType=#{filterId}"
                        title="#{tableViewMenuBean.filterNames[filterId]}">
                        <span class="colorButton"
                            style="background: #{tableViewMenuBean.filterImageNames[filterId]}" /></a>
                </td>
            </c:forEach>
            <td>
                <a href="?#{tableViewMenuBean.requestParams}&amp;transparency=down">
                    <img src="webresource/images/arrow_open.png"
                        title="Less Transparent (#{filterHolder.transparency}%)"/></a>
            </td>
            <td>
                <a href="?#{tableViewMenuBean.requestParams}&amp;transparency=up">
                    <img src="webresource/images/arrow_close.png"
                        title="More Transparent (#{filterHolder.transparency}%)"/></a>
            </td>
            </tr>
        </table>
    </div>

</ui:composition>