<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <style>
        .selectedRow {
            background: #eff7ff;
        }
        .selectedGroup {
            background: #77d100;
        }
        .selectedGroup a {
            color: #fff !important;
        }
    </style>

    <rich:popupPanel id="modalAddEditGroup" autosized="true" width="670">
        <f:facet name="header">
            <h:outputText id="addHeader" value="Add New Group" />
            <h:outputText id="editHeader" value="Edit Group" style="display: none;" />
        </f:facet>

        <f:facet name="controls">
            <h:graphicImage value="/images/close.gif" class="close"
                onclick="hideAddGroup()" alt="Close" />
        </f:facet>

        <h:form id="addEditGroupForm">
            <div style="height: 530px; overflow: auto;">
            <table cellspacing="5">
                <tr>
                    <td>
                        <label class="required">Name</label>
                    </td>
                    <td>
                        <h:inputText id="name" value="#{groupsBean.name}" validator="#{groupsBean.validateGroupName}"
                            style="margin-right: 7px;" />
                        <h:inputText id="newName" value="#{groupsBean.newName}" style="margin-right: 7px; display:none" />
                        <h:inputHidden id="oldName" value="#{groupsBean.oldName}" />
                        <a4j:outputPanel ajaxRendered="true" id="nameError">
                            <h:message for="name" styleClass="error" />
                            <h:message for="newName" styleClass="error" />
                        </a4j:outputPanel>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Description</label>
                    </td>
                    <td style="width: 100%; padding-right: 11px">
                        <h:inputTextarea id="description" value="#{groupsBean.description}"
                            style="width: 100%" />
                    </td>
                </tr>
            </table>

            <h:panelGroup id="addGroupPrivilegeList" layout="block">
            <table id="privilegesTable" class="table" style="margin-top: 23px">
                <tr id="privilegesTableHeader">
                    <th class="required" style="min-width: 161px">Privilege</th>
                    <ui:repeat value="#{groupsBean.groups}" var="group">
                    <th><a href="javascript:void(0)"
                        onclick="setPrivileges('#{group.name}')">#{group.displayName}</a>
                        <input type="checkbox" name="group" value="#{group.name}" style="display: none" />
                    </th>
                    </ui:repeat>
                </tr>
                <ui:repeat value="#{groupsBean.defaultPrivileges}" var="privilege">
                <tr class="#{privilege.name == 'PRIVILEGE_VIEW_PROJECTS' ? 'selectedRow' : ''}">
                    <td>
                        <h:panelGroup rendered="#{privilege.name != 'PRIVILEGE_VIEW_PROJECTS'}">
                            <input type="checkbox" name="privilege" value="#{privilege.name}" />#{privilege.displayName}
                        </h:panelGroup>
                        <h:panelGroup rendered="#{privilege.name == 'PRIVILEGE_VIEW_PROJECTS'}">
                            <input type="checkbox" name="privilege" value="#{privilege.name}"
                                checked="checked" disabled="disabled" />#{privilege.displayName}
                        </h:panelGroup>
                    </td>
                    <ui:repeat value="#{groupsBean.groups}" var="group">
                    <td style="text-align: center">
                        <h:graphicImage value="webresource/images/ok.png"
                            rendered="#{group.hasPrivilege(privilege.name) or group.hasPrivilege('PRIVILEGE_ALL')}" />
                     </td>
                    </ui:repeat>
                </tr>
                </ui:repeat>
            </table>

            <script>
                var groups = {};

                <c:forEach items="#{groupsBean.groups}" var="group">
                groups["#{group.name}"] = [<c:forEach items="#{groupsBean.getPrivileges(group.name)}" var="p">'#{p}',</c:forEach>];
                </c:forEach>
            </script>

            </h:panelGroup>
            </div>

            <footer>
                <a4j:commandButton id="saveBtn" value="Save" action="#{groupsBean.addGroup}" data="#{facesContext.maximumSeverity}"
                    oncomplete="if(!event.data) hideAddGroup()" styleClass="button-primary"
                    render=":groupList :addUserGroups :editUserGroups nameError addGroupPrivilegeList" />
                <a4j:commandButton id="editBtn" value="Save" action="#{groupsBean.editGroup}" data="#{facesContext.maximumSeverity}"
                    oncomplete="if(!event.data) hideAddGroup()" styleClass="button-primary" style="display: none"
                    render=":groupList :addUserGroups :editUserGroups nameError addGroupPrivilegeList" />
                <input type="button" value="Cancel" onclick="hideAddGroup()" />
            </footer>

        </h:form>

    </rich:popupPanel>

    <script>
        $j("#privilegesTable td :checkbox").live("change", function(e) {
            checkPrivilege($j(e.target), this.checked);
            checkGroups();
        });

        function checkPrivilege(jElem, checked) {
            jElem.closest("tr").toggleClass("selectedRow", checked);
        }

        function checkGroup(groupName, checked) {
            var jElem;
            $j("#privilegesTableHeader a").each(function() {
                if ($j(this).text() == groupName) {
                    jElem = $j(this);
                }
            });

            if (jElem) {
                jElem.closest("th").toggleClass("selectedGroup", checked);
                var groupCheckbox = jElem.next("input");
                groupCheckbox.attr("checked", checked);
            }
        }

        function checkGroups() {
            for (groupName in groups) {
                var groupPrivileges = groups[groupName];
                var oneNotEmpty = false;
                for (var i = 0; i &lt; groupPrivileges.length; i++) {
                    var jElem = $j("#privilegesTable [value='" + groupPrivileges[i] + "']");
                    if (!jElem.attr("checked")) {
                        oneNotEmpty = true;
                        break;
                    }
                }
                checkGroup(groupName, !oneNotEmpty);
            }
        }

        function setPrivileges(groupName) {
            var groupPrivileges = groups[groupName];
            var oneNotEmpty = false;

            var privilegeAll = groupPrivileges.length > 0 &amp;&amp; groupPrivileges[0] == "PRIVILEGE_ALL";

            if (privilegeAll) {
                $j("#privilegesTable td :checkbox").each(function() {
                    if (!this.disabled) {
                        if (!this.checked) {
                            oneNotEmpty = true;
                        }
                    }
                });

                $j("#privilegesTable td :checkbox").each(function() {
                    if (!this.disabled) {
                        this.checked = oneNotEmpty;
                        checkPrivilege($j(this), oneNotEmpty);
                    }
                });

            } else {
                for (var i = 0; i &lt; groupPrivileges.length; i++) {
                    var jElem = $j("#privilegesTable [value='" + groupPrivileges[i] + "']");
                    if (!jElem.attr("checked")) {
                        oneNotEmpty = true;
                        break;
                    }
                }

                for (var i = 0; i &lt; groupPrivileges.length; i++) {
                    var jElem = $j("#privilegesTable [value='" + groupPrivileges[i] + "']");
                    if (!jElem.is(":disabled")) {
                        jElem.attr("checked", oneNotEmpty);
                        checkPrivilege(jElem, oneNotEmpty);
                    }
                }
            }

            checkGroups();
        }

        function addGroup() {
            $j("#editHeader,#addEditGroupForm\\:newName,#addEditGroupForm\\:editBtn").hide();
            $j("#addHeader,#addEditGroupForm\\:name,#addEditGroupForm\\:saveBtn").show();

            $j("#addEditGroupForm\\:editBtn").hide();
            $j("#addEditGroupForm\\:saveBtn").show();

            $j("#addEditGroupForm\\:newName").attr("disabled", true);
            $j("#addEditGroupForm\\:name").attr("disabled", false);

            setIsOnlyAdmin(false);

            checkGroups();

            RichFaces.$("modalAddEditGroup").show();
        }

        function editGroup(name, description, isOnlyAdmin) {
            $j("#addHeader,#addEditGroupForm\\:name,#addEditGroupForm\\:saveBtn").hide();
            $j("#editHeader,#addEditGroupForm\\:newName,#addEditGroupForm\\:editBtn").show();

            $j("#addEditGroupForm\\:name").attr("disabled", true);
            $j("#addEditGroupForm\\:newName").attr("disabled", false);

            $j("#addEditGroupForm\\:oldName").val(name);
            $j("#addEditGroupForm\\:newName").val(name);
            $j("#addEditGroupForm\\:description").val(description);
            setIsOnlyAdmin(isOnlyAdmin);
            setPrivileges(name);

            RichFaces.$("modalAddEditGroup").show();
        }

        //<![CDATA[
        function setIsOnlyAdmin(isOnlyAdmin) {
            $j("#privilegesTable td :checkbox").each(function() {
                if (this.value == 'PRIVILEGE_ADMINISTRATE') {
                    var jElem = $j(this);
                    jElem.closest("tr").toggleClass("selectedRow", isOnlyAdmin);
                    jElem.attr("checked", isOnlyAdmin);
                    jElem.attr("disabled", isOnlyAdmin);
                    if (isOnlyAdmin) {
                        // Disabled fields will not be submitted. Let's create a hidden input for them
                        $j('<input>').attr({
                            type: 'hidden',
                            name: 'privilege',
                            value: 'PRIVILEGE_ADMINISTRATE'
                        }).insertAfter(jElem);
                    }
                }
            });
        }
        //]]>

        function hideAddGroup() {
            RichFaces.$("modalAddEditGroup").hide();

            // Reset form
            $j("#addEditGroupForm\\:oldName,#addEditGroupForm\\:newName,#addEditGroupForm\\:name,#addEditGroupForm\\:description").val("");

            $j("#addEditGroupForm\\:nameError").text("");

            $j("#privilegesTable td :checkbox").each(function() {
                if (!this.disabled) {
                    this.checked = false;
                    checkPrivilege($j(this), false);
                }
            });

            for (groupName in groups) {
                checkGroup(groupName, false);
            }
        }
    </script>

</ui:composition>
