<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">

    <rich:popupPanel id="modalAddUser" width="400" autosized="true">
        <f:facet name="header">
            <h:outputText value="Add New User" />
        </f:facet>

        <f:facet name="controls">
            <h:graphicImage value="/images/close.gif" class="close"
                onclick="hideAddUser()" alt="Close" />
        </f:facet>

        <h:form id="addUserForm">
        <div style="max-height: 370px; overflow: auto;">
            <h:panelGrid columns="3" cellspacing="5">
                <label class="required">Username</label>
                <h:inputText id="username" value="#{usersBean.username}"
                    validator="#{usersBean.validateUsername}" />
                <a4j:outputPanel ajaxRendered="true" id="nameError">
                    <h:message for="username" styleClass="error" />
                </a4j:outputPanel>

                <label class="required">Password</label>
                <h:inputSecret id="password" value="#{usersBean.password}" />
                <a4j:outputPanel ajaxRendered="true" id="passwordError">
                    <h:message for="password" styleClass="error" />
                </a4j:outputPanel>

                <h:outputText value="" />
                <h:outputText value="" />
                <h:outputText value="" />

                <label>First Name</label>
                <h:inputText id="firstName" value="#{usersBean.firstName}" />
                <a4j:outputPanel ajaxRendered="true" id="firstNameError">
                    <h:message for="firstName" styleClass="error" />
                </a4j:outputPanel>

                <label>Last Name</label>
                <h:inputText id="lastName" value="#{usersBean.lastName}" />
                <a4j:outputPanel ajaxRendered="true" id="lastNameError">
                    <h:message for="lastName" styleClass="error" />
                </a4j:outputPanel>

                <label class="required">Groups</label>
                <h:selectManyCheckbox id="addUserGroups" value="#{usersBean.groups}" layout="pageDirection">
                    <f:selectItems value="#{usersBean.groupItems}" />
                </h:selectManyCheckbox>
                <a4j:outputPanel ajaxRendered="true" id="groupsError">
                    <h:message for="addUserGroups" styleClass="error" />
                </a4j:outputPanel>
            </h:panelGrid>
            </div>

            <footer>
                <a4j:commandButton value="Save" action="#{usersBean.addUser}" data="#{facesContext.maximumSeverity}"
                    oncomplete="if(!event.data) hideAddUser()" render=":userList" styleClass="button-primary" />
                <input type="button" value="Cancel" onclick="hideAddUser()" />
            </footer>
        </h:form>

    </rich:popupPanel>

    <script>
        function hideAddUser() {
            RichFaces.$("modalAddUser").hide();

            $j("#addUserForm\\:nameError,#addUserForm\\:passwordError,#addUserForm\\:firstNameError,#addUserForm\\:lastNameError,#addUserForm\\:groupsError").text("");

            // Reset form
            $j("#addUserForm")[0].reset();
        }
    </script>

</ui:composition>
