<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">

    <rich:popupPanel id="modalEditUser" width="400" autosized="true">
        <f:facet name="header">
            <h:outputText value="Edit User" />
        </f:facet>

        <f:facet name="controls">
            <h:graphicImage value="/images/close.gif" class="close"
                onclick="hideEditUser()" alt="Close" />
        </f:facet>

        <h:form id="editUserForm">
        <div style="max-height: 370px; overflow: auto;">
            <h:panelGrid columns="3" cellspacing="5">
                <label>Username</label>
                <h:outputText id="username" style="font-weight: bold" />
                <h:inputHidden id="usernameHidden" value="#{usersBean.username}" />

                <label>Password</label>
                <h:inputSecret id="password" value="#{usersBean.changedPassword}" />
                <a4j:outputPanel ajaxRendered="true" id="passwordError">
                    <h:message for="password" styleClass="error" />
                </a4j:outputPanel>

                <h:outputText value="" />
                <h:outputText value="" />
                <h:outputText value="" />

                <label>First Name</label>
                <h:inputText id="firstName" value="#{usersBean.firstName}" />
                <a4j:outputPanel ajaxRendered="true" id="firstNameError">
                    <h:message for="firstName" styleClass="error" />
                </a4j:outputPanel>

                <label>Last Name</label>
                <h:inputText id="lastName" value="#{usersBean.lastName}" />
                <a4j:outputPanel ajaxRendered="true" id="lastNameError">
                    <h:message for="lastName" styleClass="error" />
                </a4j:outputPanel>

                <label class="required">Groups</label>
                <h:selectManyCheckbox id="editUserGroups" value="#{usersBean.groups}" layout="pageDirection">
                    <f:selectItems value="#{usersBean.groupItems}" />
                </h:selectManyCheckbox>
                <a4j:outputPanel ajaxRendered="true" id="groupsError">
                    <h:message for="editUserGroups" styleClass="error" />
                </a4j:outputPanel>
            </h:panelGrid>
            </div>

            <footer>
                <a4j:commandButton value="Save" action="#{usersBean.editUser}" data="#{facesContext.maximumSeverity}"
                    oncomplete="if(!event.data) hideEditUser()" render=":userList" styleClass="button-primary" />
                <input type="button" value="Cancel" onclick="hideEditUser()" />
            </footer>
        </h:form>

    </rich:popupPanel>

    <script>
      //<![CDATA[
        function editUser(username, firstName, lastName, groups, onlyAdminGroups) {
            $j("#editUserForm\\:username").text(username);
            $j("#editUserForm\\:usernameHidden").val(username);
            $j("#editUserForm\\:firstName").val(firstName);
            $j("#editUserForm\\:lastName").val(lastName);

            $j("input[id^='editUserForm\\:editUserGroups']").attr("checked", false);
            for (var i = 0; i < groups.length; i++) {
                $j("input[id^='editUserForm\\:editUserGroups'][value='" + groups[i] + "']").attr("checked", true);
            }

            for (var i = 0; i < onlyAdminGroups.length; i++) {
                var group = $j("input[id^='editUserForm\\:editUserGroups'][value='" + onlyAdminGroups[i] + "']");
                group.attr("disabled", true);

                // Disabled fields will not be submitted. Let's create a hidden input for them
                $j('<input>').attr({
                    type: 'hidden',
                    id: group.attr('id') + "_hidden_admin",
                    name: group.attr('name'),
                    value: group.val()
                }).appendTo("#editUserForm");
            }

            RichFaces.$("modalEditUser").show();
        }

        function hideEditUser() {
            RichFaces.$("modalEditUser").hide();

            $j("#editUserForm\\:firstNameError,#editUserForm\\:lastNameError,#editUserForm\\:groupsError").text("");

            $j("input[id$='_hidden_admin']").remove();
            $j("input[id^='editUserForm\\:editUserGroups']").attr("disabled", false);

            // Reset form
            $j("#editUserForm")[0].reset();
        }
      //]]>
    </script>

</ui:composition>
