<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j">

    <h:form id="groupsForm">
    <h:panelGroup id="groupList">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Privileges</th>
            <th></th>
        </tr>
        <a4j:repeat value="#{groupsBean.groups}" var="group">
        <tr>
            <td>#{group.name}</td>
            <td>#{group.description}</td>
            <td>
                <a4j:repeat var="groupName" value="#{groupsBean.getIncludedGroups(group.name)}">
                    <h:panelGroup class="badge badge-info" style="margin-right: 2px">#{groupName}</h:panelGroup>
                </a4j:repeat>
                <a4j:repeat var="privilegeName" value="#{groupsBean.getNonGroupPrivileges(group.name)}">
                    <h:panelGroup class="badge" style="margin-right: 2px"
                        rendered="#{privilegeName != 'NO RESTRICTIONS' and privilegeName != 'Administrate'}">#{privilegeName}</h:panelGroup>
                    <h:panelGroup class="badge badge-error" style="margin-right: 2px"
                        rendered="#{privilegeName == 'NO RESTRICTIONS' or privilegeName == 'Administrate'}">#{privilegeName}</h:panelGroup>
                </a4j:repeat>
            </td>
            <td>
                <a href="javascript:void(0)"
                    onclick="editGroup('#{group.name}', '#{group.description}', #{groupsBean.isOnlyAdmin(group)})"
                    title="Edit"><img src="webresource/images/edit2.gif" /></a>
                <a4j:commandLink execute="@this" render=":userList :addGroupPrivilegeList :addUserGroups :editUserGroups @form"
                    rendered="#{!groupsBean.isOnlyAdmin(group)}"
                    action="#{groupsBean.deleteGroup(group.name)}"
                    onclick="if(!window.confirm('Are you sure you want to delete the group?')) {return false;}"
                    title="Delete">
                    <h:graphicImage url="/webresource/images/delete.png" />
                </a4j:commandLink>
            </td>
        </tr>
        </a4j:repeat>
    </table>
    </h:panelGroup>

    </h:form>

    <br />
    <br />

    <a href="javascript:void(0)" onclick="addGroup()">Add New Group</a>

    <ui:include src="/pages/modules/administration/users/addEditGroup.xhtml" />

</ui:composition>
