<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    template="/pages/layout/adminLayout.xhtml">

    <ui:define name="content">
        <rich:tabPanel switchType="client" activeItem="umTab">
            <rich:tab header="System Settings"
                onheaderclick="location.href='#{contextPath}/faces/pages/modules/administration/settings/index.xhtml'" />
            <rich:tab id="umTab" header="User Management" rendered="#{systemConfig['user.mode'] == 'multi'}">
                <ui:include src="/pages/modules/administration/users/userManagement.xhtml" />
            </rich:tab>
        </rich:tabPanel>
    </ui:define>

</ui:composition>
