<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <h:form>

    <h:dataTable id="userList" value="#{usersBean.users}" var="user" styleClass="table">
        <h:column>
            <f:facet name="header">
                Username
            </f:facet>
            #{user.username}
        </h:column>

        <h:column>
            <f:facet name="header">
                First Name
            </f:facet> 
            #{user.firstName}
        </h:column>

        <h:column>
            <f:facet name="header">
                Last Name
            </f:facet>
            #{user.lastName}
        </h:column>

        <h:column>
            <f:facet name="header">
                Groups
            </f:facet>
            <ui:repeat var="authority" value="#{user.authorities}">
            <h:panelGroup class="badge" style="margin-right: 2px"
                rendered="#{authority.name.startsWith('PRIVILEGE')}">#{authority.displayName}</h:panelGroup>
            <h:panelGroup class="badge #{(authority.hasPrivilege('PRIVILEGE_ADMINISTRATE') or authority.hasPrivilege('PRIVILEGE_ALL')) ? 'badge-error' : 'badge-info'}"
                style="margin-right: 2px" rendered="#{!authority.name.startsWith('PRIVILEGE')}">#{authority.displayName}</h:panelGroup>
            </ui:repeat>
        </h:column>

        <h:column>
            <a href="javascript:void(0)"
                onclick="editUser('#{user.username}', '#{user.firstName}', '#{user.lastName}', #{jsffn:toJSON(usersBean.getGroups(user))}, #{jsffn:toJSON(usersBean.getOnlyAdminGroups(user))})"
                title="Edit"><img src="webresource/images/edit2.gif" /></a>
            <a4j:commandLink execute="@this" render="@form" rendered="#{!usersBean.isOnlyAdmin(user)}"
                action="#{usersBean.deleteUser(user.username)}"
                onclick="if(!window.confirm('Are you sure you want to delete the user?')) {return false;}"
                title="Delete">
                <h:graphicImage url="/webresource/images/delete.png" />
            </a4j:commandLink>
        </h:column>
    </h:dataTable>
    </h:form>

    <br />
    <br />

    <a href="javascript:void(0)" onclick="RichFaces.$('modalAddUser').show()">Add New User</a>

    <ui:include src="/pages/modules/administration/users/addUser.xhtml" />
    <ui:include src="/pages/modules/administration/users/editUser.xhtml" />

</ui:composition>
