<ui:composition
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ui="http://java.sun.com/jsf/facelets">

  <rich:popupPanel id="modalTreeFilter" width="300" autosized="true">
    <f:facet name="header">
      <h:outputText value="Advanced Filter"/>
    </f:facet>

    <f:facet name="controls">
      <h:graphicImage value="/images/close.gif" class="close" onclick="ws.ui.hide('modalTreeFilter');" alt="Close"/>
    </f:facet>

    <h:form id="filterForm">
      <table>
        <tr>
          <td>Hide utility tables</td>
          <td>
            <h:selectBooleanCheckbox id="hideUtilityTables" value="#{treeBean.hideUtilityTables}"
                                     style="margin:0" />
          </td>
        </tr>
      </table>

      <footer>
        <a4j:commandButton value="Apply" styleClass="button-primary" oncomplete="applyFilter()"/>
        <input type="button" value="Cancel" onclick="ws.ui.hide('modalTreeFilter');" />
      </footer>
    </h:form>
  </rich:popupPanel>

  <script>
    function showTreeFilterDialog() {
        ws.ui.show('modalTreeFilter');
        focusElement('filterForm:hideUtilityTables');
    }
    function applyFilter() {
        ws.ui.hide('modalTreeFilter');
        ws.nav.reloadPanel('left');
    }
  </script>

</ui:composition>