<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    template="/pages/layout/wizardStep.xhtml">

    <ui:define name="header">Select scope</ui:define>

    <ui:define name="data">
        <style>
            #categoryNameModule table tr {
                 vertical-align: top;
            }
        </style>

        <h:form prependId="false">
        <table><tr><td>
            <h:panelGrid columns="2" cellspacing="5">
                <h:outputText value="Scope" styleClass="required" />
                <h:selectOneMenu id="scopeType" value="#{wizard.scopeType}"
                    onchange="updateCategoryNameModule()">
                    <f:selectItems value="#{wizard.scopeTypes}" />
                </h:selectOneMenu>
            </h:panelGrid>
            </td></tr>
            <tr><td>
            <div id="categoryNameModule" style="display: none; padding-left: 6px">
                <span>Target Category</span>
                <h:panelGrid columns="2">
                    <h:selectOneRadio id="categoryNameSelector" value="#{wizard.categoryNameSelector}"
                        layout="pageDirection" onchange="updateCategoryNameControls()">
                        <f:selectItem itemValue="destination" itemLabel="As Destination" />
                        <f:selectItem itemValue="specific" itemLabel="Specific" />
                    </h:selectOneRadio>
                    <h:selectOneMenu id="categoryNamesList" value="#{wizard.categoryName}" style="margin-top: 25px">
                        <f:selectItems value="#{wizard.specificCategoryNameList}" />
                    </h:selectOneMenu>
                </h:panelGrid>
            </div>
            </td></tr></table>

            <hr />
            <br />

            <a4j:commandButton value="Prev" action="#{tableCreatorWizardManager.prev}" immediate="true"
                oncomplete="go('step0.xhtml')" />
            <a4j:commandButton value="Next" action="#{tableCreatorWizardManager.next}"
                data="#{facesContext.maximumSeverity}" oncomplete="if(!event.data) go('property/step2.xhtml')" />
            <a4j:commandButton value="Cancel" action="#{tableCreatorWizardManager.cancel}" immediate="true"
                oncomplete="go('step0.xhtml')" />
        </h:form>

    <script>
      function updateCategoryNameModule() {
          var scopeType = $j('#scopeType').val();
          var categoryNameModule = $j('#categoryNameModule');
          if (scopeType == 'Category') {
              categoryNameModule.show();
          } else {
              categoryNameModule.hide();
          }
      }

      function updateCategoryNameControls() {
          var selectorCheckedValue = $j("input[name='categoryNameSelector']:checked").val();
          $j('#categoryNamesList').attr("disabled", selectorCheckedValue != 'specific');
      }

      updateCategoryNameModule();
      updateCategoryNameControls();
    </script>

    </ui:define>

</ui:composition>
