<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:oh="http://openl-tablets.sf.net/jsf/html"
    template="/pages/layout/wizardStep.xhtml">

    <ui:define name="header">Input name and properties</ui:define>

    <ui:define name="data">
        <style>
            .addButton {
                background: url(#{contextPath}/webresource/images/add_obj.gif) no-repeat 2px;
                padding: 3px 5px 3px 21px;
                text-decoration: none;
                vertical-align: middle;
            }
        </style>
        <c:set var="propertiesManager" value="#{wizard.propertiesManager}" />

        <h:form id="propertiesForm">
            <h:outputLabel value="Name " for="techName"  styleClass="required" style="margin-right:3px" />
            <h:inputText id="techName" value="#{wizard.tableName}" validator="#{wizard.validateTechnicalName}" />
            <a4j:outputPanel ajaxRendered="true">
                <h:message for="techName" styleClass="error" />
            </a4j:outputPanel>
            <br />
            <br />
            <h:outputText value="Properties" />
            <br />
            <br />
            <h:panelGroup id="propertiesTable">
                <table cellpadding="2" >
                    <a4j:repeat id="property" value="#{propertiesManager.properties}" var="prop">
                        <tr >
                            <td>
                                <h:outputText value="#{prop.displayName}" />
                            </td>
                            <td>
                                <rich:calendar id="date" value="#{prop.value}" datePattern="#{prop.format}"
                                    rendered="#{prop.dateType}" required="true" requiredMessage="Can not be empty " />

                                <h:selectBooleanCheckbox id="checkbox" value="#{prop.value}" rendered="#{prop.booleanType}" />

                                <oh:multiselect items="#{prop.enumArrayItems}"
                                    selected="#{prop.enumArrayValue}" rendered="#{prop.enumArray}" required="true" requiredMessage="Please select anything"/>

                                <h:inputText id="inputText" value="#{prop.value}" validator="#{wizard.validatePropsValue}"
                                    rendered="#{!(prop.dateType || prop.booleanType || prop.enumType || prop.enumArray)}"/>

                                <h:selectOneMenu id="oneSelect" value="#{prop.value}" rendered="#{prop.enumType and !prop.enumArray}">
                                    <f:selectItems value="#{prop.enumArrayItems}" />
                                </h:selectOneMenu> 
                            </td>
                            <td>
                                <a4j:commandLink action="#{propertiesManager.removeProperty}"
                                    render="propertiesTable newPropertySelect" execute="@this">
                                    <h:graphicImage value="/images/delete.png" title="Remove property" />
                                    <f:setPropertyActionListener value="#{prop}"
                                        target="#{propertiesManager.propToRemove}" />
                                </a4j:commandLink>
                            </td>
                            <td>
                                <a4j:outputPanel ajaxRendered="true"  >
                                    <h:message for="date"
                                        styleClass="error" />
                                    <h:message for="inputText"
                                        styleClass="error" />
                                    <h:message for="multiselect-select"
                                        styleClass="error" />
                                </a4j:outputPanel>
                            </td>
                        </tr>
                    </a4j:repeat>
                </table>
            </h:panelGroup>

            <a4j:commandLink oncomplete="if(!event.data)  #{rich:component('newPropertyDlg')}.show();" data="#{facesContext.maximumSeverity}" title="Add more" styleClass="addButton">
                <h:outputText value="Add Property" />
            </a4j:commandLink>
            <br />
            <br />
            <hr />
            <a4j:commandButton value="Prev" action="#{tableCreatorWizardManager.prev}" immediate="true"
                oncomplete="go('property/step1.xhtml')" />
            <a4j:commandButton value="Next" action="#{tableCreatorWizardManager.next}"
            	data="#{facesContext.maximumSeverity}"
                oncomplete="if(!event.data)  go('property/step3.xhtml')" />
            <a4j:commandButton value="Cancel" action="#{tableCreatorWizardManager.cancel}" immediate="true"
                oncomplete="go('step0.xhtml')" />
        </h:form>

        <rich:popupPanel id="newPropertyDlg" width="290" top="100" left="200" autosized="true">
            <f:facet name="header">
                <h:outputText value="Add Property" />
            </f:facet>
            <f:facet name="controls">
                <h:graphicImage value="/images/close.gif" class="close"
                    onclick="#{rich:component('newPropertyDlg')}.hide();" />
            </f:facet>

            <h:form rendered="#{not empty propertiesManager.propertiesThatCanBeAdded}">
                <h:panelGrid columns="2">
                    <h:outputText value="Select Property" />
                    <h:selectOneMenu id="newPropertySelect" value="#{propertiesManager.propNameToAdd}">
                        <f:selectItems value="#{propertiesManager.propertiesThatCanBeAdded}" />
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:panelGroup style="text-align: center; margin-top: 10px;" layout="block">
                    <a4j:commandButton value="Add" action="#{propertiesManager.addProperty}"
                        render="propertiesTable newPropertySelect"
                        oncomplete="#{rich:component('newPropertyDlg')}.hide();" />
                    <h:commandButton value="Cancel" style="margin-left: 5px;"
                        onclick="#{rich:component('newPropertyDlg')}.hide();return false;" />
                </h:panelGroup>
            </h:form>

            <h:panelGroup rendered="#{empty propertiesManager.propertiesThatCanBeAdded}">
                <h:panelGrid style="text-align: center; width: 100%">
                    <h:outputText value="There are no properties to add" />
                    <div style="margin-top: 5px">
                        <input type="button" value="Ok"
                            onclick="#{rich:component('newPropertyDlg')}.hide();return false;" />
                    </div>
                </h:panelGrid>
            </h:panelGroup>
        </rich:popupPanel>

    </ui:define>

</ui:composition>
