<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    template="/pages/layout/wizardStep.xhtml">

    <ui:define name="header">Enter name and alias type</ui:define>

    <ui:define name="data">
        <h:form>
            <h:panelGrid columns="3">
                <h:outputText value="Name" styleClass="required" />
                <h:inputText id="technicalName" value="#{wizard.technicalName}"
                validator="#{wizard.validateTechnicalName}" />
                <a4j:outputPanel ajaxRendered="true">
                    <h:message for="technicalName" styleClass="error" />
                </a4j:outputPanel>
                <h:outputText value="Alias Type" styleClass="required" />
                <h:selectOneMenu value="#{wizard.aliasType}">
                    <f:selectItems value="#{wizard.domainTypes}" />
                </h:selectOneMenu>
                <h:outputText value="" />
            </h:panelGrid>

            <br />
            <hr />

            <a4j:commandButton value="Prev" action="#{tableCreatorWizardManager.prev}" immediate="true"
                oncomplete="go('step0.xhtml')" />
            <a4j:commandButton value="Next" action="#{tableCreatorWizardManager.next}"
                data="#{facesContext.maximumSeverity}"
                oncomplete="if(!event.data) go('datatypeAlias/step2.xhtml')">
            </a4j:commandButton>
            <a4j:commandButton value="Cancel" action="#{tableCreatorWizardManager.cancel}" immediate="true"
                oncomplete="go('step0.xhtml')" />
        </h:form>

    </ui:define>

</ui:composition>
