<ui:composition
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rules="http://openl-tablets.sourceforge.net/jsf"
    template="/pages/layout/simpleLayout.xhtml">

    <ui:define name="title">#{msg['ws.compare.header']}</ui:define>

    <ui:define name="content">

        <style>
            .rf-trn-sel {
                font-weight: bold !important;
            }
        </style>

        <h:messages styleClass="error" globalOnly="true" />

        <h:form id="diffForm" rendered="#{!param.disableUpload}">
            <div id="diffFormPanel">
                <h:panelGrid columns="2">
                    <h:outputText value="#{msg['ws.compare.select']}" />

                    <rich:fileUpload id="fileUpload" fileUploadListener="#{uploadExcelDiffController.uploadListener}"
                        acceptedTypes="xls, xlsx, xlsm" style="height: 148px">
                        <a4j:ajax event="uploadcomplete" execute="@none" render="compareButton" />
                    </rich:fileUpload>

                    <h:outputText value="#{msg['ws.compare.equals']}" />
                    <h:selectBooleanCheckbox value="#{uploadExcelDiffController.showEqualElements}" />

                    <h:commandButton id="compareButton" value="#{msg['ws.compare.compare']}" action="#{uploadExcelDiffController.compare}"
                        disabled="#{uploadExcelDiffController.uploadsSize != 2}" />
                </h:panelGrid>
            </div>
            <div style="text-align: right; padding: 0 13px 5px">
                <img src="webresource/images/arrow_close.png"
                    onclick="$j('#diffFormPanel').toggle('fast');this.src=(this.title == '#{msg['ws.compare.panel.hide']}' ? 'webresource/images/arrow_open.png' : 'webresource/images/arrow_close.png');this.title=(this.title == '#{msg['ws.compare.panel.hide']}' ? '#{msg['ws.compare.panel.show']}' : '#{msg['ws.compare.panel.hide']}');"
                    style="cursor: pointer;" title="#{msg['ws.compare.panel.hide']}" />
            </div>
        </h:form>

        <h:form id="diffTreeForm">
            <input type="hidden" name="id" value=""  />

            <div style="width: 100%; height: 330px; background: #f5f5f5; border-top: 1px solid #bbbbbb; border-bottom: 1px solid #bbbbbb; overflow: auto;">
                <rich:tree id="newTree" toggleType="client" selectionType="ajax"
                    selectionChangeListener="#{uploadExcelDiffController.processSelection}"
                    value="#{uploadExcelDiffController.richDiffTree}" var="item" nodeType="any"
                    render="tableEditor1 tableEditor2" style="padding: 5px 10px">
                    <rich:treeNode type="any" iconExpanded="#{item.icon}" iconCollapsed="#{item.icon}" iconLeaf="#{item.icon}">
                        <h:outputText value="#{item.name}" />
                    </rich:treeNode>
                </rich:tree>
            </div>

            <table style="width: 100%">
                <tr>
                    <td>#{msg['ws.compare.file1']}</td>
                    <td>#{msg['ws.compare.file2']}</td>
                </tr>
                <tr>
                    <td valign="top">
                        <br />
                        <a4j:outputPanel ajaxRendered="true">
                            <rules:tableEditor id="tableEditor1" table="#{uploadExcelDiffController.table1}"
                                editable="false" filters="#{uploadExcelDiffController.filter1}" />
                        </a4j:outputPanel>
                    </td>
                    <td valign="top">
                        <br />
                        <a4j:outputPanel ajaxRendered="true">
                            <rules:tableEditor id="tableEditor2" table="#{uploadExcelDiffController.table2}"
                                editable="false" filters="#{uploadExcelDiffController.filter2}" />
                        </a4j:outputPanel>
                    </td>
                </tr>
            </table>
        </h:form>

    </ui:define>
</ui:composition>
