<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:oh="http://openl-tablets.sf.net/jsf/html">

    #{tableCopierWizardManager.start()}
    <c:set var="contextPath" value="#{facesContext.externalContext.request.contextPath}" />
    <c:set var="wizard" value="#{tableCopierWizardManager.wizard}" />
    <c:set var="propertiesManager" value="#{wizard.propertiesManager}" />

    <div class="page">
        <h1 class="page-header">#{msg['ws.copy.header']} #{wizard.tableTechnicalName}</h1>

        <h:form id="copy-table-form" rendered="#{tableCopierWizardManager.table.versionable}">
            <h:outputText value="#{msg['ws.copy.as']} " />
            <h:selectOneMenu value="#{tableCopierWizardManager.copyType}" id="copy-table-type">
                <f:ajax event="change" render=":copyTableForm:technicalNamePanel :copyTableForm:copyPropertiesTable :copyTableForm:copyButtonPanel "
                    immediate="true" onevent="onCopyTableTypeChange" />
                <f:selectItem itemLabel="#{msg['ws.copy.table']}" itemValue="CHANGE_NAMES" />
                <f:selectItem itemLabel="#{msg['ws.copy.version']}" itemValue="CHANGE_VERSION" />
                <f:selectItem itemLabel="#{msg['ws.copy.dimension']}" itemValue="CHANGE_DIMENSION" />
            </h:selectOneMenu>
        </h:form>

        <h:form id="copyTableForm" prependId="false" style="margin-top: 31px" styleClass="fields">
            <section>
                <h3>#{msg['ws.copy.props']}</h3>
                <div>
                    <h:panelGroup id="technicalNamePanel">
                        <table style="background: #fafafa; padding: 3px 0; margin-bottom: 5px">
                            <tr>
                                <td style="min-width: 120px">
                                    <h:outputText value="#{msg['ws.copy.name']}" styleClass="required" />
                                </td>
                                <td>
                                    <h:inputText id="technicalName" value="#{wizard.tableTechnicalName}"
                                        disabled="#{tableCopierWizardManager.copyType != 'CHANGE_NAMES'}"
                                        validator="#{wizard.validateTechnicalName}" immediate="true" />
                                </td>
                                <td>
                                    <a4j:outputPanel ajaxRendered="true">
                                        <h:message for="technicalName" styleClass="error" />
                                    </a4j:outputPanel>
                                </td>
                            </tr>
                        </table>
                        <a4j:outputPanel rendered="#{ (tableCopierWizardManager.copyType == 'CHANGE_VERSION' || tableCopierWizardManager.copyType == 'CHANGE_DIMENSION') and wizard.tableTechnicalName == ''}">
                            <h:outputText value="#{msg['ws.copy.name.invalid']}" styleClass="error" />
                        </a4j:outputPanel>
                    </h:panelGroup>

                    <h:panelGroup id="copyPropertiesTable">
                        <table>
                            <a4j:repeat value="#{wizard.propertiesToDisplay}" var="prop" id="prop-values">
                                <tr>
                                    <td style="min-width: 120px">
                                        <h:outputText value="#{prop.displayName}" />
                                    </td>
                                    <td>
                                        <rich:calendar value="#{prop.value}" datePattern="#{prop.format}" onchange="updateCopyButtonState();"
                                            rendered="#{prop.dateType}" id="calendar"/>

                                        <h:selectBooleanCheckbox value="#{prop.value}" rendered="#{prop.booleanType}" id="bool-type"/>

                                        <oh:multiselect items="#{prop.enumArrayItems}" selected="#{prop.enumArrayValue}"
                                            rendered="#{prop.enumArray}"
                                            id="multiselect"/>

                                        <h:selectOneMenu id="oneSelect" value="#{prop.value}" rendered="#{prop.enumType and !prop.enumArray}">
                                            <f:selectItem itemLabel="" itemValue=""/>
                                            <f:selectItems value="#{prop.enumArrayItems}" />
                                        </h:selectOneMenu>

                                        <h:panelGroup id="versionProperty" rendered="#{prop.name == 'version'}" style="white-space: nowrap;">
                                            <oh:inputVersion value="#{prop.value}" id="input-version"/>
                                            #{msg['ws.copy.version.current']}:
                                            <h:outputText value="#{wizard.originalVersion}"/>
                                        </h:panelGroup>

                                        <h:inputText value="#{prop.value}" id="input-prop-text"
                                            rendered="#{!(prop.dateType || prop.name == 'version' || prop.booleanType || prop.enumType || prop.enumArray)}" />
                                    </td>
                                </tr>
                            </a4j:repeat>
                        </table>
                    </h:panelGroup>

                </div>
            </section>

            <section>
                <h3>#{msg['ws.copy.to']}</h3>
                <div>
                    <span style="cursor: pointer; border-bottom: 1px dashed #777777"
                        onclick="$j('#savePanel').slideDown();$j(this).hide()" id="save-panel">#{wizard.moduleName} -> #{wizard.worksheetName}</span>
                    <h:panelGrid id="savePanel" columns="3" style="display: none" cellspacing="4">
                        <h:outputText value="#{msg['ws.copy.to.module']}" styleClass="required" />
                        <h:selectOneMenu value="#{wizard.workbook}" style="width:100%" id="workbooks" disabled="#{!wizard.manyWorkbooks}">
                            <a4j:ajax event="change" render="sheet" execute="@this" oncomplete="updateControls()" />
                            <f:selectItems value="#{wizard.workbooks}"/>
                        </h:selectOneMenu>
                        <h:outputText value="" />
                        <h:outputText value="#{msg['ws.copy.to.category']}" styleClass="required" />
                        <h:panelGroup>
                            <h:selectOneMenu value="#{wizard.worksheetIndex}" id="sheet" style="width:100%">
                                <f:selectItems value="#{wizard.worksheets}" />
                            </h:selectOneMenu>
                            <h:inputText value="#{wizard.newWorksheetName}" id="newSheetName" style="width:100%" />
                        </h:panelGroup>
                        <a4j:outputPanel ajaxRendered="true" style="padding-left: 8px">
                            <h:message for="newSheetName" styleClass="error" />
                        </a4j:outputPanel>
                        <h:outputText value="" />
                        <h:panelGroup>
                            <div style="margin-top: -7px">
                                <h:selectOneRadio id="newSheet" onclick="updateControls()" value="#{wizard.newWorksheet}">
                                    <f:selectItem itemValue="existing" itemLabel="#{msg['ws.copy.to.category.existing']}" />
                                    <f:selectItem itemValue="new" itemLabel="#{msg['ws.copy.to.category.new']}" />
                                </h:selectOneRadio>
                            </div>
                        </h:panelGroup>
                    </h:panelGrid>
                </div>
            </section>

            <br />

            <h:panelGroup id="copyButtonPanel">
                <a4j:commandButton id="copyTableBtn" value="#{msg['ws.copy.copy']}" action="#{wizard.finish}" data="#{wizard.newTableId}"
                    oncomplete="copyComplete(event.data)" styleClass="button-primary"
                    rendered="#{!((tableCopierWizardManager.copyType == 'CHANGE_VERSION' || tableCopierWizardManager.copyType == 'CHANGE_DIMENSION') and wizard.tableTechnicalName == '')}" />
            </h:panelGroup>
        </h:form>

    </div>

    <script>
        //<![CDATA[
        function copyComplete(data) {
            if (data) {
                ws.nav.go("#{studio.url('table')}" + "?id=" + data, true);
            }
        }

        function updateControls() {
            var e = document.forms["copyTableForm"]["newSheet"][0];
            var newSheet = e.value == "new" ? e.checked : !e.checked;
            $j("#sheet").attr("disabled", newSheet).toggle(!newSheet);
            $j("#newSheetName").attr("disabled", !newSheet).toggle(newSheet);
        }

        var copyPropertiesTableDefaults = [];

        function initDefaults() {
            copyPropertiesTableDefaults = $j("#copyPropertiesTable").find("select,input").serializeArray();
            $j("#copyPropertiesTable").find("select,input").on("keyup click change", updateCopyButtonState);
            updateCopyButtonState();
        }

        function onCopyTableTypeChange(data) {
            if (data.status === 'success') {
                initDefaults();
            }
        }

        function updateCopyButtonState() {
            var isDimensional = $j("#copy-table-form\\:copy-table-type").val() == "CHANGE_DIMENSION";
            var values = $j("#copyPropertiesTable").find("select,input").serializeArray();
            $j("#copyTableBtn").prop("disabled", isDimensional && formArraysEqual(values, copyPropertiesTableDefaults));
        }

        function formArraysEqual(a, b) {
            if (a == null || b == null) return false;
            if (a.length != b.length) return false;

            for (var i = 0; i < a.length; ++i) {
                if (a[i].name != b[i].name || a[i].value != b[i].value) {
                    return false;
                }
            }
            return true;
        }

        updateControls();
        initDefaults();
        //]]>
    </script>

</ui:composition>
