<ui:composition
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <c:set var="contextPath" value="#{facesContext.externalContext.request.contextPath}" />

    <script src="#{contextPath}/javascript/vendor/jit-yc.js"></script>
    <script src="#{contextPath}/javascript/rulesDependencies.js"></script>

    <div id="rulesDepsPanel"></div>

    <script>
        <c:set var="tables" value="#{rulesDependenciesBean.tablesWithDependencies}"></c:set>
        <h:panelGroup rendered="#{not empty tables}">

        var nodes = [];
        <ui:repeat var="table" value="#{tables}">
            var node = {
                id: '<h:outputText value="#{table.id}" />',
                name: '<h:outputText value="#{table.name}" />',
                adjacencies: []
            }

            var adjacencies = [];
            <ui:repeat var="depId" value="#{table.dependencies}">
                var adjacency = {
                    nodeTo: '<h:outputText value="#{depId}" />'
                }
                adjacencies.push(adjacency);
            </ui:repeat>

            node.adjacencies = adjacencies;

            nodes.push(node);
        </ui:repeat>

        init(nodes, "#{studio.url('table')}");

        </h:panelGroup>
    </script>

</ui:composition>
