<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:jsffn="http://rules.openl.org/taglibs/jsffn">

    <div class="panel">
        <div class="panel-header container">
             <a title="#{msg['ws.tables.visited.return']}"
                  style="background:url('webresource/images/back.png') no-repeat center;padding:8px 12px;cursor:pointer;opacity:0.5"
                  onclick="ws.nav.closeHistoryPanel(); return false;"></a>
            History
        </div>

        <div class="panel-body container">
            <c:set var="recentlyVisitedTables" value="#{studio.model.recentlyVisitedTables.tables}" />

            <h:dataTable id="historyTable" value="#{recentlyVisitedTables}" var="table">
                <c:set var="isLastVisited" value="#{studio.model.recentlyVisitedTables.lastVisitedTable.equals(table)}" />
                <h:column>
                    <h:graphicImage value="webresource/images/dt3.png" rendered="#{table.type == 'xls.dt'}" />
                    <h:graphicImage value="webresource/images/spreadsheet.gif" rendered="#{table.type == 'xls.spreadsheet'}" />
                    <h:graphicImage value="webresource/images/tbasic.gif" rendered="#{table.type == 'xls.tbasic'}" />
                    <h:graphicImage value="webresource/images/cmatch.gif" rendered="#{table.type == 'xls.columnmatch'}" />
                    <h:graphicImage value="webresource/images/data.gif" rendered="#{table.type == 'xls.data'}" />
                    <h:graphicImage value="webresource/images/dataobject.gif" rendered="#{table.type == 'xls.datatype'}" />
                    <h:graphicImage value="webresource/images/config_obj.gif" rendered="#{table.type == 'xls.environment'}" />
                    <h:graphicImage value="webresource/images/method.gif" rendered="#{table.type == 'xls.method'}" />
                    <h:graphicImage value="webresource/images/test_ok.gif" rendered="#{table.type == 'xls.test.method'}" />
                    <h:graphicImage value="webresource/images/run.gif" rendered="#{table.type == 'xls.run.method'}" />
                    <h:graphicImage value="webresource/images/data.gif" rendered="#{table.type == 'xls.properties'}" />
                    <h:graphicImage value="webresource/images/leaf_icon.gif" rendered="#{table.type == 'xls.other'}" />
                </h:column>
                <h:column>
                    <h:outputLink value="#{studio.url('table')}?id=#{table.id}&amp;saveTable=false"
                        styleClass="#{isLastVisited ? 'selected-link' : ''}"
                        style="white-space:nowrap;">
                        <h:outputText value="#{table.name}" />
                        <h:panelGroup rendered="#{empty table.name}">
                            <h:outputText value="Environment" rendered="#{table.type == 'xls.environment'}" />
                            <h:outputText value="Properties" rendered="#{table.type == 'xls.properties'}" />
                        </h:panelGroup>
                    </h:outputLink>
                </h:column>
            </h:dataTable>

            <h:panelGroup rendered="#{empty recentlyVisitedTables}">
                <h:outputText value="#{msg['ws.tables.visited.no']}" />
            </h:panelGroup>
        </div>
    </div>

</ui:composition>
