<ui:composition
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <style >
        .links a {
            font-style: italic;
            text-decoration: none;
        }
        .links a:hover {
            text-decoration: none;
            background: #f8f8f8;
            border-bottom: 1px dotted;
        }
    </style>

    <div class="page">
        <h1 class="page-header">#{msg['ws.home.total_projects']}: #{studio.allProjects.size()}</h1>

        <div class="block-column">
            <div class="block">
                <h3>#{msg['ws.home.doc']}</h3>
                <div class="block-content">
                    <ul class="enum links">
                        <c:set var="guidesPath" value="#{versionProperties['openl.url']}/files/openl-tablets/#{versionProperties['openl.version']}" />
                        <li><a href="#{guidesPath}/OpenL Tablets - Installation Guide.pdf" target="_blank">#{msg['ws.home.doc.install_guide']}</a></li>
                        <li><a href="#{guidesPath}/OpenL Tablets - Reference Guide.pdf" target="_blank">#{msg['ws.home.doc.ref_guide']}</a></li>
                        <li><a href="#{guidesPath}/OpenL Tablets - Developer Guide.pdf" target="_blank">#{msg['ws.home.doc.dev_guide']}</a></li>
                        <li><a href="#{guidesPath}/OpenL Tablets - WebStudio User Guide.pdf" target="_blank">#{msg['ws.home.doc.ws_guide']}</a></li>
                        <li><a href="#{guidesPath}/OpenL Tablets - Web Services Usage and Customization Guide.pdf" target="_blank">#{msg['ws.home.doc.service_guide']}</a></li>
                    </ul>
                </div>
            </div>

            <div class="block">
                <h3>#{msg['ws.home.net']}</h3>
                <div class="block-content">
                    <ul class="enum links">
                        <li><a href="#{versionProperties['openl.url']}/" target="_blank">#{msg['ws.home.net.site']}</a></li>
                        <li><a href="#{versionProperties['openl.url']}/news" target="_blank">#{msg['ws.home.net.news']}</a></li>
                        <li><a href="https://twitter.com/openltablets" target="_blank">#{msg['ws.home.net.twitter']}</a></li>
                        <li><a href="https://sourceforge.net/projects/openl-tablets/forums" target="_blank">#{msg['ws.home.net.forum']}</a></li>
                        <li><a href="https://sourceforge.net/projects/openl-tablets/" target="_blank">#{msg['ws.home.net.sf']}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</ui:composition>
