<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:include src="/pages/modules/messages.xhtml">
        <ui:param name="messages" value="#{showMessageBean.message}" />
    </ui:include>

</ui:composition>
