<ui:composition
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:jsffn="http://rules.openl.org/taglibs/jsffn">

    <c:set var="node" value="#{repositorySelectNodeStateHolder.selectedNode}" />
    <c:set var="prj" value="#{repositoryTreeController.rulesProjects}" />
    <ui:param name="module" value="#{studio.currentModule}" />

    <ui:param name="editable" value="#{studio.model.editable}" />
    <ui:param name="includedInWildcard" value="#{projectBean.isModuleMatchesSomePathPattern(module)}" />

    <div class="page editable">

        <h1 class="page-header">
            <span>#{module.name}</span>
            <h:panelGroup rendered="#{editable}">
                <a href="javascript:void(0)" title="Edit" class="editable-link"
                   onclick="editModule({includedInWildcard:#{includedInWildcard},name:'#{module.name}',path:'#{jsffn:escapeJS(projectBean.getModulePath(module))}',includes:'#{module.methodFilter.includes}',excludes:'#{module.methodFilter.excludes}'}, function(){ws.nav.go('##{jsffn:encodeURL(module.project.name)}/' + encodeURIComponent($j('#moduleName').val()), true)})"><img
                        src="webresource/images/edit.png" style="opacity:0.4" /></a>
                <a href="javascript:void(0)" title="Copy" class="editable-link"
                   onclick="copyModule({includedInWildcard:#{includedInWildcard},name:'#{module.name}',path:'#{jsffn:escapeJS(projectBean.getModulePath(module))}',includes:'#{module.methodFilter.includes}',excludes:'#{module.methodFilter.excludes}'}, function(){ws.nav.go('##{jsffn:encodeURL(module.project.name)}/' + encodeURIComponent($j('#moduleName').val()), true)})"><img
                        src="webresource/images/copy.png" style="opacity:0.4" /></a>
            </h:panelGroup>
        </h1>

        <div class="block-column">
            <div class="block">
                <h3>Summary</h3>
                <div class="block-content">
                    <table class="properties">
                        <tr>
                            <td>Project</td>
                            <td><a href="##{jsffn:encodeURL(studio.currentProjectDescriptor.name)}">#{studio.currentProjectDescriptor.name}</a></td>
                        </tr>
                        <tr>
                            <td>Path</td>
                            <td>#{projectBean.getModulePath(module)}</td>
                        </tr>
                        <tr>
                            <td>#{msg['ws.module.tables']}</td>
                            <td>#{studio.model.numberOfTables}
                                <h:panelGroup rendered="#{studio.model.errorNodesNumber > 0}">
                                <span class="badge badge-error"
                                      style="margin-left:2px">#{studio.model.errorNodesNumber} #{msg['ws.module.tables.failed']}</span>
                            </h:panelGroup></td>
                        </tr>
                    </table>
                </div>
            </div>

            <h:panelGroup rendered="#{modulePageBean.includes.size() > 0}">
                <div class="block">
                    <h3>#{msg['ws.module.includes']}</h3>
                    <div class="block-content">
                        <div class="list">
                            <a4j:repeat value="#{modulePageBean.includes}" var="key">
                            <div class="list-item">
                                <a href="##{jsffn:encodeURL(studio.currentProjectDescriptor.name)}/#{jsffn:encodeURL(key)}">#{key}</a>
                            </div>
                            </a4j:repeat>
                        </div>
                    </div>
                </div>
            </h:panelGroup>

            <h:panelGroup rendered="#{modulePageBean.dependencies.size() > 0}">
            <div class="block">
                <h3>#{msg['ws.module.dependencies']}</h3>
                <div class="block-content">
                    <div class="list">
                        <a4j:repeat value="#{modulePageBean.dependencies}" var="key">
                            <div class="list-item">#{key}</div>
                        </a4j:repeat>
                    </div>
                </div>
            </div>
            </h:panelGroup>

            <h:panelGroup rendered="#{modulePageBean.imports.size() > 0}">
                <div class="block">
                    <h3>#{msg['ws.module.imports']}</h3>
                    <div class="block-content">
                        <div class="list">
                            <a4j:repeat value="#{modulePageBean.imports}" var="key">
                                <div class="list-item">#{key}</div>
                            </a4j:repeat>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </div>

        <h:panelGroup rendered="#{!empty module.methodFilter and (!empty module.methodFilter.includes or !empty module.methodFilter.excludes)}">
        <div class="block-column">
            <div class="block">
                <h3>Deploy Info</h3>
                <div class="block-content">
                    <table class="properties">
                        <h:panelGroup rendered="#{!empty module.methodFilter.includes}">
                            <tr>
                                <td>Included Methods</td>
                                <td>
                                    <a4j:repeat value="#{module.methodFilter.includes.toArray()}" var="include">
                                        #{include}
                                    </a4j:repeat>
                                </td>
                            </tr>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{!empty module.methodFilter.excludes}">
                            <tr>
                                <td>Excluded Methods</td>
                                <td>
                                    <a4j:repeat value="#{module.methodFilter.excludes.toArray()}" var="exclude">
                                        #{exclude}
                                    </a4j:repeat>
                                </td>
                            </tr>
                        </h:panelGroup>
                    </table>
                </div>
            </div>
        </div>
        </h:panelGroup>

    </div>

    <c:if test="#{editable}">
        <ui:include src="/pages/modules/editModule.xhtml" />
        <ui:include src="/pages/modules/copyModule.xhtml" />
        <ui:include src="/pages/modules/propertiesFileNamePatternDescription.xhtml" />
    </c:if>

</ui:composition>
