<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:jsffn="http://rules.openl.org/taglibs/jsffn">

    <c:set var="contextPath" value="#{facesContext.externalContext.request.contextPath}" />

    <style>
        .filter-name {
            width: 100%;
            height: 100%;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding-left: 12px;
            padding-right: 15px;
        }

        #projects ul {
            list-style: none;
            margin: 0;
            padding-left: 0;
        }
        #projects > ul > li {
            padding: 7px 0;
            border-bottom: 1px solid #f7f7f7;
        }
        #projects > ul > li.sel {
            background: #f3f3f3;
        }
        #projects > ul > li:last-child {
            border-bottom: 0;
        }
        #projects > ul > li:hover {
            background: #f7f7f7;
            border-right: 1px solid #8c2;
        }
        #projects > ul ul {
            margin-top: 2px;
        }
        #projects a {
            color: #111111;
            text-decoration: none;
            display: inline-block;
            width: calc(100% - 26px);
            padding: 2px 13px;
        }
        #projects a:hover {
            background: #f0f0f0;
        }
        #projects .projectName {
            color: #29d;
            font-size: 110%;
        }

        .input-container.withClearButton {
            width: calc(100% - 26px)
        }

        .specificProject #projects > ul > li:hover {
            padding-right: 15px;
        }

        .panel-body.specificProject {
            top: 0;
        }
    </style>

    <div class="panel">
        <div class="panel-header">
            <h:panelGroup rendered="#{not empty studio.allProjects}">
                <div class="filter-name">
                    <input type="text" id="nameFilter" onkeyup="filterProjects(this.value)"
                        placeholder="#{msg['ws.projects.filter']}" class="input-container" />
                    <span id="clearFilter" title="Clear filter" href="javascript:void(0)" class="imageButton clearButton hidden"
                       onclick="clearFilter()">
                        <!-- IE doesn't handle hover actions correctly on empty elements, that's why used to include empty image -->
                        <img src="webresource/images/empty.gif"/>
                    </span>
                </div>
            </h:panelGroup>
        </div>

        <div class="panel-body">
            <h:form prependId="false" id="projects-tree">
                <h:panelGroup id="projects" rendered="#{not empty studio.allProjects}" layout="block">
                    <ul>
                        <ui:repeat value="#{studio.allProjects}" var="project">
                        <li>
                            <a class="projectName" href="##{jsffn:encodeURL(project.name)}">#{project.name}</a>
                            <ul>
                                <ui:repeat value="#{project.modules}" var="module">
                                <li>
                                    <a href="##{jsffn:encodeURL(project.name)}/#{jsffn:encodeURL(module.name)}">#{module.name}</a>
                                </li>
                                </ui:repeat>
                            </ul>
                        </li>
                        </ui:repeat>
                    </ul>

                    <script>
                        //<![CDATA[
                        var FILTER_PATTERN_ITEM = "filterPattern";

                        var projects = $j("#projects > ul > li");

                        var filterPattern = $j("#nameFilter").val()
                                || sessionStorage.getItem(FILTER_PATTERN_ITEM);
                        if (filterPattern) {
                            $j("#nameFilter").val(filterPattern);
                            filterProjects(filterPattern);
                        }

                        function filterProjects(pattern) {
                            if (pattern && pattern.length) {
                                $j('#nameFilter').addClass('withClearButton');
                                $j('#clearFilter').removeClass('hidden');
                            } else {
                                $j('#nameFilter').removeClass('withClearButton');
                                $j('#clearFilter').addClass('hidden');
                            }

                            sessionStorage.setItem(FILTER_PATTERN_ITEM, pattern);
                            projects.each(function () {
                                var projectName = $j(this).find(">a").text();
                                $j(this).toggle(projectName.toLowerCase().indexOf(pattern.toLowerCase()) > -1);
                            });
                        }

                        function clearFilter() {
                            $j("#nameFilter").val('');
                            filterProjects('');
                        }

                        function filterSpecificProject(projectToSelect) {
                            $j('.panel-header').addClass('hidden');
                            $j('.panel-body').addClass('specificProject');

                            projects.each(function () {
                                var projectName = $j(this).find(">a").text();
                                $j(this).toggle(projectName == projectToSelect);
                            });
                        }
                        //]]>
                    </script>
                </h:panelGroup>

                <h:panelGroup rendered="#{empty studio.allProjects}">
                    <h:outputText value="#{msg['ws.projects.no']}" style="color:red; font-weight: bold" />
                    <br />
                    <c:if test="true">
                        #{msg['ws.projects.no.goto1']}
                        <a href="#{contextPath}/faces/pages/modules/repository/index.xhtml"
                            title="Repository">#{msg['ws.projects.no.goto2']}</a>
                        #{msg['ws.projects.no.goto3']}
                    </c:if>
                </h:panelGroup>
            </h:form>

        </div>
    </div>

</ui:composition>
