<ui:composition
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">

    <c:set var="contextPath" value="#{facesContext.externalContext.request.contextPath}" />
    <c:set var="history" value="#{revertProjectChangesBean.history}" />

    <style>
        .revertTable th,
        .revertTable td {
            padding: 6px 11px;
            text-align: center;
        }
    </style>

    <div class="page">

        <h1 class="page-header">#{msg['ws.revert.header']}</h1>

        <h:panelGroup rendered="#{empty history}">
            <h:panelGrid>
                <p class="problem-info">#{msg['ws.revert.no']}</p>
            </h:panelGrid>
        </h:panelGroup>

        <h:panelGroup rendered="#{not empty history}">
            <h:panelGrid>
                <h:messages globalOnly="true" errorClass="problem-error" infoClass="problem-info"
                    style="list-style: none; padding: 0px" />
            </h:panelGrid>

            <h:form>

                <rich:dataTable id="revertTable" value="#{history}" var="historyItem" rowKeyVar="row"
                    onrowmouseover="rowMouseOver(this)" onrowmouseout="rowMouseOut(this)"
                    onrowclick="if (#{!historyItem.disabled}) { setVersionToRevert(#{historyItem.version}); rowMouseClick(this); }"
                    styleClass="table revertTable">
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="#" />
                        </f:facet>
                        <h:outputText value="#{row + 1}" />
                    </rich:column>
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="#{msg['ws.revert.modifiedon']}" />
                        </f:facet>
                        <h:outputText value="#{historyItem.disabled ? msg['ws.revert.initial'] : historyItem.modifiedOn}"
                            style="#{historyItem.disabled ? 'font-weight: bold; color:red;' : ''}" />
                    </rich:column>
                    <c:forEach items="#{revertProjectChangesBean.sources}" var="source">
                        <rich:column>
                            <f:facet name="header">
                                <h:outputText value="#{source}" />
                            </f:facet>
                            <h:graphicImage value="webresource/images/ok.png"
                                rendered="#{historyItem.sourceName == source}" />
                        </rich:column>
                    </c:forEach>
                    <rich:column>
                        <f:facet name="header">
                            <h:outputText value="#{msg['ws.revert.compare']}" />
                        </f:facet>
                        <h:selectBooleanCheckbox
                            onclick="return checkVersionToCompare(this, #{historyItem.version})" />
                    </rich:column>
                </rich:dataTable>

                <br />
                <input type="hidden" id="versionToRevert" name="toRevert" value=""  />
                <input type="hidden" id="versionsToCompare" name="toCompare" value="" />
                <a4j:commandButton id="revertBtn" value="Revert" action="#{revertProjectChangesBean.revert}"
                    onclick="if(!confirm('#{msg['ws.revert.confirm']}'))return false;"
                    oncomplete="ws.ui.success('#{msg['ws.revert.successful']}'); ws.nav.reload(true)"
                    styleClass="button-primary" />
                <a4j:commandButton id="compareBtn" value="#{msg['ws.revert.compare']}" action="#{revertProjectChangesBean.compare}"
                    oncomplete="window.open('#{contextPath}/faces/pages/modules/compare.xhtml?disableUpload=true','#{msg['ws.revert.compare']}','width=1240,height=700,screenX=50,screenY=100,resizable=yes,scrollbars=yes,status=yes');" />
            </h:form>

            <script>
                var rowHoverColor = "#FAE5C1";
                var rowDefaultColor = "#{richSkin.tableBackgroundColor}";
                var rowSelectedColor = "#FBBE83";
                var selectedRow;

                var versionsToCompare = [];

                var revertBtn = #{rich:element('revertBtn')};
                revertBtn.disabled = true;
                var compareBtn = #{rich:element('compareBtn')};
                compareBtn.disabled = true;

                function rowMouseOver(row) {
                    row.style.cursor = 'pointer';
                    if (row != selectedRow) {
                        row.style.backgroundColor = rowHoverColor;
                    }
                }

                function rowMouseOut(row) {
                    if (row != selectedRow) {
                        row.style.backgroundColor =  rowDefaultColor;
                    }
                }

                function rowMouseClick(row, disabled) {
                    if (!disabled) {
                        if (selectedRow) {
                            selectedRow.style.backgroundColor = rowDefaultColor;
                        }
                        row.style.backgroundColor = rowSelectedColor;
                        selectedRow = row;
                    }
                }

                function setVersionToRevert(version) {
                    $j("#versionToRevert").val(version);
                    revertBtn.disabled = false;
                }

                function checkVersionToCompare(checkbox, version) {
                    // Check
                    if (checkbox.checked) {
                        if (versionsToCompare.length >= 2) {
                            ws.ui.info("#{msg['ws.revert.compare.max']}");
                            return false;
                        }
                        versionsToCompare.push(version);

                    // Uncheck
                    } else {
                        versionsToCompare = $j.grep(versionsToCompare, function (v) { return v != version; });
                    }

                    $j("#versionsToCompare").val(versionsToCompare.join());

                    if (versionsToCompare.length >= 2) {
                        compareBtn.disabled = false;
                    } else {
                        compareBtn.disabled = true;
                    }
                }
            </script>

        </h:panelGroup>
    </div>

</ui:composition>
