<ui:composition
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:oh="http://openl-tablets.sf.net/jsf/html"
     xmlns:f="http://java.sun.com/jsf/core">

    <style>
        #searchInput input[type='text'] {
            height: 27px;
            width: 295px;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding-right: 20px;
            padding-left: 6px;
            margin-top: -6px;
            font-size: 12px;
            transition: width .4s;
        }
        #searchInput > a {
            position: absolute;
            right: 8px;
            top: -1px;
        }

        #advancedSearch {
            color: #555;
            display: none;
            padding: 13px 11px 4px;
            width: 271px;
            max-height: 260px;
        }
        #advancedSearch > div {
            margin-bottom: 9px;
        }
        #advancedSearch > div > label {
            display: block;
            margin-bottom: 4px;
        }
        #advancedSearch input[type="text"]:not([class*="rf-insp-inp"]) {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            height: 23px; /* 15px height + 2*3px padding + 2*1px border */
        }
        #advancedSearch #multiselect .jquery-multiselect-popup {
            width: 0; /* Hack for IE 9 */
            bottom: 7px;
        }

        #addPropertiesPanel {
            background: #f5f5f5;
            margin: 5px 0;
            padding: 10px 9px;
        }
        #addPropertiesPanel select {
            width: -moz-calc(100% - 68px);
            width: -webkit-calc(100% - 68px);
            width: calc(100% - 68px);
        }

        #propertiesTable .propertiesRow {
            display: none;
        }
        #propertiesTable .rf-cal-popup {
            left: 11px !important;
            top:  15px !important;
        }

        .removeBtn {
            opacity: 0.1;
        }
        .removeBtn:hover {
            opacity: 0.4;
        }
    </style>

    <script>
        //<![CDATA[

        function doSearch() {
            var params = {};
            var setParam = function(key, value) {
                if (value) {
                    params[key] = value;
                }
            };

            setParam("query", $j("#searchQuery").val());
            setParam("header", $j("#tableHeader").val());
            setParam("types", $j("#advancedSearch #multiselect-select").val().replace(/, /g, '-'));

            $j("#propertiesTable tr:visible").each(function() {
                var row = $j(this);
                var propName = row.find("input:first").val();
                var propValue = getPropertyValue(
                        row.find("input[type='text']:first, td > input[type='checkbox']:first"));

                setParam(propName, propValue);
            });

            ws.nav.search(params, '#{studio.url("")}');
        }

        function getPropertyValue(elem) {
            if (elem.is(":checkbox")) {
                return elem.is(":checked");
            }
            return elem.val();
        }

        function addProperty(name) {
            $j("#propertiesTable input[name='propName'][value='" + name + "']").closest("tr").show();
            $j("#propertyItems option[value='" + name + "']").prop("disabled", true);
            $j("#propertyItems")[0].selectedIndex = -1;
        }

        function removeProperty(name) {
            $j("#propertiesTable input[name='propName'][value='" + name + "']").closest("tr").hide();
            $j("#propertyItems option[value='" + name + "']").prop("disabled", false);
        }

    //]]>
    </script>

    <form style="display: inline;" onsubmit="doSearch(); return false;">
        <input type="submit" style="position: absolute; top: -5000px" />
        <span id="searchInput">
            <input type="text" id="searchQuery" placeholder="#{msg['ws.search.input']}" />
            <a href="javascript:void(0)" onclick="ws.ui.showPopupMenu(event, 'advancedSearch', $j(this).parent(), {'offsetTop': 6, 'closeIcon': true})">
                <img src="webresource/images/arrow_down.png" title="#{msg['ws.search.advanced']}" style="opacity: 0.7" />
            </a>
        </span>
        <div id="advancedSearch">
            <div>
                <label>#{msg['ws.search.table.type']}</label>
                <oh:multiselect items="#{searchBean.tableTypeItems}" selected="#{searchBean.tableTypes}" />
            </div>

            <div>
                <label>#{msg['ws.search.table.header']}</label>
                <input type="text" id="tableHeader" />
            </div>

            <div>
                <label>#{msg['ws.search.table.properties']}</label>
                <div id="propertiesTable">
                    <table>
                        <a4j:repeat value="#{searchBean.properties}" var="prop">
                        <tr class="propertiesRow">
                            <td style="width: 110px">#{prop.displayName}</td>
                            <td>
                                <input type="hidden" name="propName" value="#{prop.name}" />
                                <rich:calendar value="#{prop.value}" datePattern="#{prop.format}"
                                    rendered="#{prop.dateType}" inputStyle="width:100px" />
                                <h:selectBooleanCheckbox value="#{prop.value}" rendered="#{prop.booleanType}" />
                                <oh:multiselect items="#{prop.enumArrayItems}" selected="#{prop.enumArrayValue}"
                                    rendered="#{prop.enumArray}" />
                                <oh:inputVersion value="#{prop.value}" rendered="#{prop.name == 'version'}"/>
                                <h:inputText value="#{prop.value}" 
                                    rendered="#{!(prop.dateType || prop.booleanType || prop.enumType || prop.enumArray || prop.stringArray || prop.name == 'version')}" />
                                <h:inputText value="#{prop.stringValue}" rendered="#{prop.stringArray}" />
                                <h:selectOneMenu id="oneSelect" value="#{prop.value}" rendered="#{prop.enumType and !prop.enumArray}">
                                    <f:selectItems value="#{prop.enumArrayItems}" />
                                </h:selectOneMenu>
                            </td>
                            <td style="padding-left: 5px">
                                <a href="javascript:void(0)" id="removePropBtn1" title="#{msg['ws.common.icon.remove']}" class="removeBtn"
                                    onclick="removeProperty($j(this).parent().prev().find('input:first').val());"><img
                                    src="webresource/images/close.gif" /></a>
                            </td>
                        </tr>
                        </a4j:repeat>
                    </table>
                </div>
                <div id="addPropertiesPanel">
                    <select id="propertyItems">
                        <ui:repeat value="#{searchBean.properties}" var="prop">
                            <option value="#{prop.name}">#{prop.displayName}</option>
                        </ui:repeat>
                    </select>
                    <input type="button" value="#{msg['ws.search.table.properties.add']}"
                        onclick="addProperty($j('#propertyItems option:selected').val());"
                        style="margin-left: 9px; padding: 2px 6px" />
                </div>
            </div>

            <div style="margin-top: 20px">
                <input type="submit" value="#{msg['ws.search.search']}" class="button-primary" />
            </div>
        </div>
    </form>

</ui:composition>
