<ui:composition
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rules="http://openl-tablets.sourceforge.net/jsf">

    <c:set var="contextPath" value="#{facesContext.externalContext.request.contextPath}" />

    <style>
        .search-result {
            padding: 15px 4px 25px;
            border-bottom: 1px solid #f7f7f7;
        }
        .search-result:first-child {
            padding-top: 12px;
        }
        .search-result:last-child {
            border-bottom: 0;
        }
    </style>

    <div class="page">

        <h1 class="page-header">
            <h:panelGroup rendered="#{not empty searchBean.searchResults}">
                #{searchBean.searchResults.size()} #{msg['ws.search.found']}
            </h:panelGroup>

            <h:outputText value="#{msg['ws.search.no']}" rendered="#{empty searchBean.searchResults}" />
        </h1>

        <div id="searchResults">
            <div>
                <c:forEach items="#{searchBean.searchResults}" var="table">
                    <div class="search-result">
                        <h:outputLink value="#{studio.url('table')}">
                            <f:param name="id" value="#{table.id}" />
                            <h:outputText value="#{msg['ws.search.results.view']}" />
                        </h:outputLink>

                        <br /><br />

                        <rules:tableEditor table="#{table}" editable="false" view="#{studio.tableView}"
                            rendered="#{table != null}" linkBuilder="#{studio.linkBuilder}" />
                    </div>
                 </c:forEach>
            </div>

        </div>
    </div>

    <script>
        $j("#searchQuery").val("#{param.query}");
    </script>

</ui:composition>
