<?xml version="1.0" encoding="UTF-8"?>
<html
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:a4j="http://richfaces.org/a4j">

    <ui:param name="sourceModified" value="#{studio.model.sourceModified}" />

    <h:head></h:head>

    <h:body>
        <script>
            var updating = false;

            function beforePoll() {
                if (updating) {
                    // Session was expired.
                    window.top.location.reload();
                } else {
                    updating = true;
                }
            }

            function afterPoll() {
                updating = false;
            }

            function sourceModified() {
                if (confirm('Project source file was modified.\nClick \'OK\' to reload WebStudio with changes, and \'Cancel\' to ignore changes.')) {
                    top.ws.ui.showLoader();
                    reload();
                } else {
                    resetChecking();
                }
            }
        </script>

        <f:view transient="true">
        <a4j:jsFunction name="reload" action="#{mainBean.reload}" render="poll"
            oncomplete="top.ws.nav.reload(true); top.ws.ui.hideLoader();" />

        <a4j:jsFunction name="resetChecking" action="#{studio.model.resetSourceModified}" render="poll" />

        <h:form>
            <a4j:poll id="poll" enabled="#{!sourceModified}" interval="4000" render="poll"
                oncomplete="#{sourceModified ? 'sourceModified()' : ''}" onbegin="beforePoll();" onbeforedomupdate="afterPoll();" />
        </h:form>
        </f:view>

    </h:body>

</html>
