<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:oh="http://openl-tablets.sf.net/jsf/html">

    <h:form prependId="false">
        <h:panelGroup id="propsTable" layout="block">
        <table>
            <h:panelGroup rendered="#{!empty tableDetailsBean.table.displayName}">
            <tr class="table-data">
                <td class="table-data-name">Name</td>
                <td class="table-data-value">#{tableDetailsBean.table.displayName}</td>
            </tr>
            </h:panelGroup>

            <ui:fragment rendered="#{tableDetailsBean.table.canContainProperties}">
            <a4j:repeat value="#{tableDetailsBean.propertyRows}" var="row">
            <h:panelGroup rendered="#{row.type.name() == 'GROUP'}">
            <tr>
                <td colspan="2" class="propsGroupHeader">#{row.data}</td>
            </tr>
            </h:panelGroup>

            <h:panelGroup rendered="#{row.type.name() == 'PROPERTY'}">

            <ui:param name="prop" value="#{row.data}" />
            <ui:param name="editable"
                value="#{tableDetailsBean.editable and (!prop.system or !studio.updateSystemProperties) and prop.canBeOverridenInTable and prop.name != 'version'}" />
            <ui:param name="added" value="#{empty prop.value}" />

            <tr class="#{(editable and !added) ? 'editableProp' : ''}#{prop.inheritedProperty ? ' inheritedProp' : ''}#{!empty prop.deprecation ? ' deprecatedProp' : ''}"
                onmouseover="showRemoveBtn(this,#{!empty prop.deprecation})" onmouseout="hideRemoveBtn(this,#{!empty prop.deprecation})"
                title="#{prop.inheritedProperty ? 'Inherited property' : (!empty prop.deprecation ? 'This property was deprecated. Please remove it!' : '')}">
                <td class="propName" onclick="#{editable ? 'editProperty(this.parentNode)' : ''}">
                    #{prop.displayName}
                </td>
                <td class="propData" onclick="#{editable ? 'editProperty(this.parentNode)' : ''}">
                    <h:outputText class="propValue" value="#{prop.displayValue}"
                        style="#{added ? 'display:none' : ''}" />

                    <h:panelGroup rendered="#{editable}">
                    <span class="propEditor#{added ? '' : ' propHide'}">
                        <rich:calendar id="date" value="#{prop.value}" datePattern="#{prop.format}"
                            rendered="#{prop.dateType}" inputStyle="width:100px" />

                        <h:selectBooleanCheckbox id="checkbox" value="#{prop.value}" rendered="#{prop.booleanType}" />

                        <oh:multiselect id="multiselect" items="#{prop.enumArrayItems}" selected="#{prop.enumArrayValue}"
                            rendered="#{prop.enumArray}" />

                        <h:selectOneMenu id="oneSelect" value="#{prop.value}" rendered="#{prop.enumType and !prop.enumArray}">
                            <f:selectItems value="#{prop.enumArrayItems}" />
                        </h:selectOneMenu>

                        <h:inputText value="#{prop.value}" id="text" 
                            rendered="#{!(prop.dateType || prop.booleanType || prop.enumType || prop.enumArray || prop.stringArray)}" />

                        <h:inputText id="array" value="#{prop.stringValue}" rendered="#{prop.stringArray}" />

                        <span class="propDescription">#{prop.description}</span>
                    </span>
                    </h:panelGroup>
                </td>
                <td style="padding: 0 7px">
                    <h:panelGroup rendered="#{prop.inheritedProperty and !prop.externalPropery}">
                        <a href="#{studio.url('table')}?id=#{prop.inheritedTableId}"
                            title="Go to Properties table"><img src="webresource/images/up.gif" /></a>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{editable and !prop.inheritedProperty}">
                        <a4j:commandLink id="removePropBtn" action="#{tableDetailsBean.remove(prop)}" title="Remove"
                            render="propsTable :addPropsPanel"
                            style="#{empty prop.deprecation ? 'display: none' : ''}">
                            <img style="opacity: 0.5" src="webresource/images/close.gif" />
                        </a4j:commandLink>
                    </h:panelGroup>
                </td>
            </tr>
            </h:panelGroup>

            </a4j:repeat>
            </ui:fragment>
        </table>

        <h:panelGroup rendered="#{tableDetailsBean.table.canContainProperties and tableDetailsBean.editable}" style="margin: 8px 0" layout="block">
            <a4j:commandButton id="savePropsButton" value="Save" style="margin-left: 2px;  #{tableDetailsBean.changed ? 'display:inline' : 'display:none'}"
                action="#{tableDetailsBean.save}" data="#{tableDetailsBean.newTableId}"
                oncomplete="saveComplete(event.data)" />
            <h:outputLink id="addPropBtn" value="javascript:void(0)" onclick="$j(this).hide();$j('#addPropsPanel').fadeIn()"
                rendered="#{!empty tableDetailsBean.propertiesToAdd}" style="margin-left: 4px">Add Property</h:outputLink>
        </h:panelGroup>
    </h:panelGroup>

    <script>
        function saveComplete(data) {
            ws.changes.revertChanges();
            if (data) {
                ws.nav.go("#{studio.url('table')}?id=" + data, true);
            } else {
                ws.nav.reload(true);
            }
        }
    </script>

    <h:panelGroup rendered="#{tableDetailsBean.table.canContainProperties and tableDetailsBean.editable}">
        <h:panelGroup id="addPropsPanel" layout="block"
            style="display: none; margin: 7px 3px; padding: 8px; border: 1px solid #eeeeee; background: #f5f5f5; text-align: center">
            <div style="display: inline-block; text-align: left;">
                <div style="color: #555555; margin-bottom: 8px">Select property to add</div>
                <div>
                    <h:selectOneMenu value="#{tableDetailsBean.propertyToAdd}">
                        <f:selectItems value="#{tableDetailsBean.propertiesToAdd}" />
                    </h:selectOneMenu>
                </div>
                <div style="margin-top: 9px">
                    <a4j:commandButton value="Add" onclick="$j('#addPropsPanel').hide()"
                        action="#{tableDetailsBean.addNew}" render=":propsTable @form"
                        oncomplete="$j('#savePropsButton').fadeIn();$j('#addPropBtn').fadeIn()" />
                    <a href="javascript:void(0)" onclick="$j('#addPropsPanel').hide();$j('#addPropBtn').fadeIn()"
                        style="margin-left: 3px">Cancel</a>
                </div>
            </div>
        </h:panelGroup>
    </h:panelGroup>
    </h:form>

</ui:composition>
