<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:rules="http://openl-tablets.sourceforge.net/jsf">

    <c:set var="contextPath" value="#{facesContext.externalContext.request.contextPath}" />

    <style>
        #content {
            overflow: hidden;
        }

        #tableToolbarPanel {
            padding-top: 1px;
            border-bottom: 1px solid #eaeaea;
            height: 55px;
            min-width: 1000px;
        }

        #tablePanel {
            overflow: auto;
            position: absolute;
            top: 57px;
            bottom: 0;
            left: 0;
            right: 0;
        }

        /* TODO Create Button plugin */
        .toolbarButton {
            position: relative;
            display: inline-block;
            text-decoration: none;
            color: #313131;
            padding: 5px 8px;
            text-align: center;
            margin: 0 2px;
        }
        .toolbarButton:hover {
            color: #000;
            background: #f5f5f5;
        }
        .toolbarButton > span {
            display: block;
            margin-top: 3px;
        }
        .toolbarButton .arrow {
            background: url('webresource/images/arrow_down.png') no-repeat center;
            padding: 2px 3px;
        }
        .toolbarButton .arrow:hover {
            background-color: #e3e3e3;
        }
        .menuButton {
            padding: 4px;
            margin: 0;
        }
        .menuButton table {
            border-collapse: collapse;
            text-align: center;
        }
        .targetTablesPopup {
            display: none;
            padding: 3px 4px 2px;
        }
        .targetTablesPopup div {
            margin-bottom: 3px;
        }

        #runCasesSettings, #testSelector {
            border-bottom: 1px solid #eee;
            margin-bottom: 2px;
            padding: 8px 0;
            background: #fdfdfd;
            line-height: 1.5;
        }
        #runCasesSettings > div, #testSelector > div {
            padding: 4px 15px;
        }
        #runCasesSettings > div > span, #testSelector > div > span {
            display: inline-block;
            min-width: 110px;
        }
        .te_toolbar {
            width: 100% !important;
            padding: 5px 10px !important;
            -moz-box-sizing: border-box;
                 box-sizing: border-box;
        }
        #t_te_table {
            margin: 12px 11px;
        }
        .table-problems {
            margin: 9px 12px 12px 10px;
        }
        .table-problems > header {
            font-size: 12px;
            margin: 0px 2px 5px 2px;
        }

    </style>

    <c:if test="#{!empty tableBean.table and !tableBean.dispatcherValidationNode}">

    <div id="unitsMenu" style="display: none; min-width: 175px">
        <c:set var="traceUrl" value="#{contextPath}/faces/pages/layout/frameView.xhtml?title=Trace&amp;treePage=faces/pages/modules/trace/tree.xhtml&amp;mainPage=faces/pages/modules/trace/showTraceTable.xhtml&amp;first=true" />
        <h:form prependId="false">
            <h:panelGroup id="runCasesSettings" layout="block" rendered="#{tableBean.table.type != 'xls.run.method'}"
                          styleClass="hidden b-run b-test">
                <div title="Show only failed test cases">
                    <span>Failures Only</span>
                    <input name="failuresOnly" type="checkbox"
                           onclick="$j('#caseFailuresSetting').toggle(this.checked)"
                           value="true" checked="#{studio.testsFailuresOnly ? 'checked' : ''}"
                           style="vertical-align:-2px;margin:-4px" />
                </div>
                <div id="caseFailuresSetting" class="#{!studio.testsFailuresOnly ? 'hidden' : ''}">
                    <span>Failures per test</span>
                    <select id="failures" name="failures">
                        <c:set var="values" value="#{fn:split('1;5;20;-1', ';')}"/>
                        <ui:repeat value="#{values}" var="value" varStatus="i">
                            <option value="#{value}" selected="#{studio.testsFailuresPerTest == value ? 'selected':''}" >#{value == -1 ? "All" : value}</option>
                        </ui:repeat>
                    </select>
                </div>
                <div title="Display the full result of running test cases, not only values which are being tested">
                    <span>Compound Result</span>
                    <input name="complexResult" type="checkbox"
                           value="true" checked="#{studio.showComplexResult ? 'checked' : ''}"
                           style="vertical-align:-2px;margin:-4px" />
                </div>
            </h:panelGroup>
            <h:panelGroup id="testSelector" layout="block" styleClass="hidden b-run b-benchmark b-trace">
                <div title="Define a range of IDs instead of checkboxes">
                    <span>Use the Range</span>
                    <input type="checkbox" id="useTestRanges"
                                             onclick="$j('#testRangeSetting').toggle(this.checked); $j('#testTable').toggle(!this.checked)"
                                             style="vertical-align:-2px;margin:-4px"/>
                </div>
                <div id="testRangeSetting" style="display:none;" title="Define ranges like: 2-4,7,10-12 or id3-id7">
                    <span>Range of IDs</span>
                    <input type="text" id="testRanges"/>
                </div>
            <table id="testTable" class="table" style="margin: 2px 2px 1px 2px; width: 98%;">
                <tr>
                    <th>
                        <input type="checkbox" id="allTestCheck" onclick="changeAllItemStatus(this, 'testTable')" checked="checked" title="Check/Uncheck All"/>
                    </th>
                    <th>ID</th>
                    <th colspan="100">
                        #{tableBean.table.type == 'xls.run.method' ? 'Run Cases' : 'Test Cases'}
                    </th>
                </tr>
                <ui:repeat var="test" value="#{tableBean.tests}">
                    <tr>
                        <td>
                            <input type="checkbox" class="test-id" value="#{test.id}" onclick="changeItemStatus(this, 'testTable', 'allTestCheck')" checked="checked"/>
                        </td>
                        <td>#{test.id}</td>
                        <ui:repeat var="inParam" value="#{tableBean.getTestCaseParams(test)}">
                            <td>
                                <ui:include src="/pages/modules/test/parameter.xhtml">
                                    <ui:param name="parameter" value="#{inParam}" />
                                </ui:include>
                            </td>
                        </ui:repeat>
                    </tr>
                </ui:repeat>
            </table>
            </h:panelGroup>
            <div style="padding: 6px 5px">
                <a4j:commandButton id="testButton" value="Test"
                                   rendered="#{tableBean.canRun}"
                                   title="Test" onclick="ws.nav.go('#{studio.url('test/test')}' + getTestQuery());"
                                   styleClass="hidden b-test"/>
                <a4j:commandButton id="runButton" value="Run"
                                   rendered="#{tableBean.canRun}"
                                   title="Run" onclick="return  isAnyTestSelected(); " oncomplete="runTestCases();"
                                   styleClass="hidden b-run"/>
                <a4j:commandButton id="traceButton"
                                   rendered="#{tableBean.canTrace}"
                                   value="Trace" title="Trace"
                                   styleClass="hidden b-trace changes-listener"
                                   action="#{runTestHelper.initTrace}"
                                   oncomplete="open_win('#{traceUrl}', 'trace_win');ws.nav.reload();"
                                   onclick="if (isAnyTestSelected()) {return true;} else {ws.changes.restoreChangedState();} return false;"/>
                <!-- Don't use a4j:commandButton for file download -->
                <h:commandButton id="traceIntoFileButton" action="#{traceIntoFileBean.traceIntoFile}"
                                 rendered="#{tableBean.canTrace}"
                                 value="Trace into File" onclick="return isAnyTestSelected();" title="Trace into File"
                                 styleClass="hidden b-trace"/>
                <a4j:commandButton id="benchmarkButton" action="#{benchmarkBean.addLastBenchmark}"
                                   rendered="#{tableBean.canBenchmark}"
                                   value="Benchmark" title="Benchmark" onclick="return isAnyTestSelected();"
                                   oncomplete="ws.nav.go('#{studio.url('test/benchmark')}')"
                                   styleClass="hidden b-benchmark"/>
            </div>
            <input type="hidden" name="testRanges" value="" id="testRangesHiddenInput"/>
            <input type="hidden" name="id" value="#{tableBean.id}" />
        </h:form>
    </div>

    <div id="tableToolbarPanel">
        <table>
            <tr>

                <!-- First Block -->
                <td>
                    <h:form>
                        <table>
                            <tr>
                                <td>
                                    <h:outputLink value="#{studio.url('table')}" title="Edit the table" styleClass="toolbarButton"
                                        rendered="#{tableBean.canEdit}"  >
                                        <f:param name="id" value="#{tableBean.id}" />
                                        <f:param name="mode" value="edit" />
                                        <img src="webresource/images/editTable.gif" />
                                        <span>Edit</span>
                                    </h:outputLink>
                                </td>
                                <td>
                                    <h:outputLink value="#{contextPath}/action/launch" styleClass="toolbarButton"
                                        rendered="#{tableBean.canOpenInExel}"
                                        title="Open the table in Excel" target="hidden">
                                        <f:param name="id" value="#{tableBean.id}" />
                                        <img src="webresource/images/excel.png" />
                                        <span>Open</span>
                                    </h:outputLink>
                                </td>
                                <td>
                                    <a4j:commandLink rendered="#{tableBean.copyable}"
                                        oncomplete="ws.nav.go('#{studio.url('copyTable')}?id=#{tableBean.id}')" title="Create a new table based on the existing one"
                                        styleClass="toolbarButton">
                                        <img src="webresource/images/copyTable.gif" />
                                        <span>Copy</span>
                                    </a4j:commandLink>
                                </td>
                                <td>
                                    <a4j:commandLink action="#{tableBean.removeTable}" title="Delete the table"
                                        rendered="#{tableBean.canRemove}"
                                        onclick="if(!confirm('Do you really want to remove this table?'))return false;"
                                        oncomplete="ws.changes.revertChanges();ws.nav.go('#' + encodeURIComponent('#{studio.currentModule.project.name}') + '/' + encodeURIComponent('#{studio.currentModule.name}'), true)"
                                        styleClass="toolbarButton">
                                        <img src="webresource/images/delete.png" />
                                        <span>Remove</span>
                                    </a4j:commandLink>
                                </td>
                            </tr>
                        </table>
                    </h:form>
                </td>

                <c:if test="#{tableBean.testable and !tableBean.hasErrors}">

                <!-- Second Block -->
                <td>

                    <h:form prependId="false">
                        <table>
                            <tr>
                                <td>
                                    <a4j:commandLink id="runLink" title="Run" styleClass="toolbarButton menuButton"
                                        rendered="#{tableBean.canRun}"
                                        onclick=" return isAnyTestSelected();" oncomplete="runTestCases();"
                                        onmouseover="$j(this).find('.arrow').css({'visibility':'visible'})"
                                        onmouseout="$j(this).find('.arrow').css({'visibility':'hidden'})"
                                        style="padding-right: 1px">
                                        <table>
                                            <tr>
                                                <td>
                                                    <img src="webresource/images/run.gif" />
                                                </td>
                                                <td rowspan="2" class="arrow"
                                                    onclick="showUnitsMenu(event, 'b-run');return false;"
                                                    style="visibility: hidden;">
                                                    <f:verbatim>&amp;nbsp;&amp;nbsp;</f:verbatim>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span>Run</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </a4j:commandLink>
                                </td>
                                <td>
                                    <a4j:commandLink id="traceLink" action="#{runTestHelper.initTrace}" title="Trace" styleClass="toolbarButton menuButton changes-listener"
                                                     rendered="#{tableBean.canTrace}"
                                                     onclick="return isAnyTestSelected();" oncomplete="open_win('#{traceUrl}', 'trace_win');ws.nav.reload();"
                                                     onmouseover="$j(this).find('.arrow').css({'visibility':'visible'})"
                                                     onmouseout="$j(this).find('.arrow').css({'visibility':'hidden'})"
                                                     style="padding-right: 1px">
                                        <a4j:param name="id" value="#{tableBean.id}"/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <img src="webresource/images/trace.gif" />
                                                </td>
                                                <td rowspan="2" class="arrow"
                                                    onclick="showUnitsMenu(event, 'b-trace');return false;"
                                                    style="visibility: hidden;">
                                                    <f:verbatim>&amp;nbsp;&amp;nbsp;</f:verbatim>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span>Trace</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </a4j:commandLink>
                                </td>
                                <td>
                                    <a4j:commandLink id="benchmarkLink" action="#{benchmarkBean.addLastBenchmark}" title="Benchmark" styleClass="toolbarButton menuButton"
                                        rendered="#{tableBean.canBenchmark}"
                                        onclick="return isAnyTestSelected();"
                                        onmouseover="$j(this).find('.arrow').css({'visibility':'visible'})"
                                        onmouseout="$j(this).find('.arrow').css({'visibility':'hidden'})"
                                        oncomplete="ws.nav.go('#{studio.url('test/benchmark')}')"
                                        style="padding-right: 1px">
                                        <a4j:param name="id" value="#{tableBean.id}"/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <img src="webresource/images/clock-icon.png" />
                                                </td>
                                                <td rowspan="2" class="arrow"
                                                    onclick="showUnitsMenu(event, 'b-benchmark');return false;"
                                                    style="visibility: hidden;">
                                                    <f:verbatim>&amp;nbsp;&amp;nbsp;</f:verbatim>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span>Benchmark</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </a4j:commandLink>
                                </td>
                            </tr>
                        </table>
                    </h:form>
                </td>
                </c:if>

                <c:if test="#{tableBean.table.executable}">
                    <td>
                        <h:form id="inputArgsForm">
                            <c:set var="runLink" value="#{studio.url('test/run')}?id=#{tableBean.id}" />
                            <c:set var="traceUrl"
                                value="#{contextPath}/faces/pages/layout/frameView.xhtml?title=Trace&amp;treePage=faces/pages/modules/trace/tree.xhtml&amp;mainPage=faces/pages/modules/trace/showTraceTable.xhtml&amp;first=true" />
                            <c:set target="#{inputArgsBean}" property="uri" value="#{tableBean.uri}" />
                            <c:if test="#{inputArgsBean.methodHasParameters}">
                                <c:if test="#{tableBean.canRun}">
                                    <a class="toolbarButton" title="Launch the table" href="javascript:void(0)"
                                        onclick="showButtonMenu(event, 'inputArgsMenu', 'a');$j('#inputArgsForm\\:runButton').show();$j('#inputArgsForm\\:traceButton,#inputArgsForm\\:traceIntoFileButton').hide();">
                                        <img src="webresource/images/run.gif" />
                                        <span>Run</span>
                                    </a>
                                </c:if>
                                <c:if test="#{tableBean.canTrace}">
                                    <a class="toolbarButton" title="Launch the table and trace steps" href="javascript:void(0)"
                                        onclick=" showButtonMenu(event, 'inputArgsMenu', 'a');$j('#inputArgsForm\\:traceButton,#inputArgsForm\\:traceIntoFileButton').show();$j('#inputArgsForm\\:runButton').hide();">
                                        <img src="webresource/images/trace.gif" />
                                        <span>Trace</span>
                                    </a>
                                </c:if>
                                <div id="inputArgsMenu" style="display: none">
                                    <ui:include src="/pages/modules/test/inputTestCase.xhtml" />
                                    <div style="padding: 8px 5px 6px">
                                        <a4j:commandButton id="runButton" style="display: none"
                                            action="#{runTestHelper.catchParams}" value="Run" title="Launch the table"
                                            oncomplete="ws.nav.go('#{runLink}')"/>
                                        <a4j:commandButton id="traceButton" style="display: none"
                                            styleClass="changes-listener"
                                            action="#{runTestHelper.initTrace}"
                                            oncomplete="open_win('#{traceUrl}', 'trace_win');ws.nav.reload();"
                                            value="Trace" title="Launch the table and trace steps"/>
                                        <h:commandButton id="traceIntoFileButton" style="display: none"
                                            action="#{traceIntoFileBean.traceIntoFile}" value="Trace into File"
                                            title="Trace into File" />
                                    </div>
                                </div>
                            </c:if>
                            <c:if test="#{not inputArgsBean.methodHasParameters}">
                                <a4j:commandLink styleClass="toolbarButton" title="Run"
                                    rendered="#{tableBean.canRun}"
                                    oncomplete="ws.nav.go('#{runLink}')">
                                    <img src="webresource/images/run.gif" />
                                    <span>Run</span>
                                    <a4j:param name="id" value="#{tableBean.id}"/>
                                </a4j:commandLink>
                                <a4j:commandLink action="#{runTestHelper.initTrace}" styleClass="toolbarButton changes-listener"
                                                 rendered="#{tableBean.canTrace}"
                                                 oncomplete="open_win('#{traceUrl}', 'trace_win');ws.nav.reload();" title="Trace">
                                    <img src="webresource/images/trace.gif" />
                                    <span>Trace</span>
                                    <a4j:param name="id" value="#{tableBean.id}"/>
                                </a4j:commandLink>
                            </c:if>
                            <input type="hidden" name="id" value="#{tableBean.id}" />
                        </h:form>
                    </td>
                </c:if>

                <c:if test="#{tableBean.hasTests}">
                    <td>
                        <c:set var="testLink" value="#{studio.url('test/test')}?id=#{tableBean.id}" />
                        <h:outputLink value="#{testLink}" title="Run Tests" styleClass="toolbarButton menuButton"
                                      onmouseover="$j(this).find('.arrow').css({'visibility':'visible'})"
                                      onmouseout="$j(this).find('.arrow').css({'visibility':'hidden'})"
                                      rendered="#{tableBean.canRun}"  >
                            <table>
                                <tr>
                                    <td>
                                        <img src="webresource/images/test_ok.gif" />
                                    </td>
                                    <td rowspan="2" class="arrow"
                                        onclick="showUnitsMenu(event, 'b-test');return false;"
                                        style="visibility: hidden;">
                                        <f:verbatim>&amp;nbsp;&amp;nbsp;</f:verbatim>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Test</span>
                                    </td>
                                </tr>
                            </table>
                        </h:outputLink>
                    </td>
                </c:if>

                <c:if test="#{tableBean.canCreateTest}">
                <td>
                    <h:form>
                        <a4j:commandLink action="#{tableCreatorWizardManager.startWizard}"
                            styleClass="toolbarButton" title="Create a new Test table"
                            oncomplete="ws.nav.go('#{studio.url('create/index')}?initStep=test/step2.xhtml')" >
                            <a4j:param assignTo="#{tableCreatorWizardManager.tableType}" value="TEST_DIRECT" />
                            <img src="webresource/images/test_new.gif" />
                            <span>Create Test</span>
                        </a4j:commandLink>
                    </h:form>
                </td>
                </c:if>

                <c:if test="#{!empty tableBean.targetTables}">
                <c:set var="oneTargetTable" value="#{fn:length(tableBean.targetTables) == 1}" />
                <td style="padding: 0 10px">
                    <div style="font-weight: bold; color: #333333; margin-bottom: 2px">
                        <h:outputText value="Target Table" />
                        <h:outputText value="s" rendered="#{!oneTargetTable}" />
                    </div>
                    <div>
                        <ui:repeat value="#{tableBean.targetTables}" var="targetTable" varStatus="i">
                        <h:panelGroup rendered="#{i.index == 0}">
                            <h:outputLink value="#{studio.url('table', targetTable.uri)}">
                                <f:param name="id" value="#{targetTable.id}" />
                                <h:outputText value="#{targetTable.name}" />
                            </h:outputLink>
                            <h:outputLink value="javascript:void(0)" rendered="#{!oneTargetTable}"
                                onclick="ws.ui.showPopupMenu(event, 'targetTables', $j(this).prev(), {'offsetTop' : 2, 'offsetLeft' : -5})"
                                style="margin-left: 4px">
                                <h:graphicImage url="/webresource/images/arrow_down.png" title="Other Target Tables" />
                            </h:outputLink>
                        </h:panelGroup>
                        </ui:repeat>
                    </div>
                    <h:panelGroup id="targetTables" class="targetTablesPopup" rendered="#{!oneTargetTable}" layout="block">
                        <ui:repeat value="#{tableBean.targetTables}" var="targetTable" varStatus="i">
                        <h:panelGroup rendered="#{i.index > 0}">
                        <div>
                            <h:outputLink value="#{studio.url('table', targetTable.uri)}">
                                <f:param name="id" value="#{targetTable.id}" />
                                <h:outputText value="#{targetTable.name}" />
                            </h:outputLink>
                        </div>
                        </h:panelGroup>
                        </ui:repeat>
                    </h:panelGroup>
                </td>
                </c:if>

                <!-- If table has tests and runs -->
                <c:if test="#{tableBean.hasAnyTests}">
                <c:set var="oneTest" value="#{fn:length(tableBean.allTests) == 1}" />
                <td style="padding: 0 10px">
                    <div style="font-weight: bold; color: #333333; margin-bottom: 2px">Available Tests/Runs</div>
                    <div>
                        <ui:repeat value="#{tableBean.allTests}" var="test2" varStatus="i">
                        <h:panelGroup rendered="#{i.index == 0}">
                            <h:outputLink value="#{studio.url('table', test2.uri)}" >
                                <f:param name="id" value="#{test2.id}" />
                                <h:outputText value="#{test2.name}" />
                            </h:outputLink>
                            <h:outputLink value="javascript:void(0)" rendered="#{!oneTest}"
                                onclick="ws.ui.showPopupMenu(event, 'availableTests', $j(this).prev(), {'offsetTop' : 2, 'offsetLeft' : -5})"
                                style="margin-left: 4px">
                                <h:graphicImage url="/webresource/images/arrow_down.png"
                                    title="Other Available Tests/Runs" />
                            </h:outputLink>
                        </h:panelGroup>
                        </ui:repeat>
                    </div>
                    <h:panelGroup id="availableTests" class="targetTablesPopup" rendered="#{!oneTest}" layout="block">
                        <ui:repeat value="#{tableBean.allTests}" var="test3" varStatus="i">
                        <h:panelGroup rendered="#{i.index > 0}">
                        <div>
                            <h:outputLink value="#{studio.url('table', test3.uri)}">
                                <f:param name="id" value="#{test3.id}" />
                                <h:outputText value="#{test3.name}" />
                            </h:outputLink>
                        </div>
                        </h:panelGroup>
                        </ui:repeat>
                    </h:panelGroup>
                </td>
                </c:if>

            </tr>
        </table>
    </div>
    </c:if>

    <c:if test="#{!empty tableBean.table}">
    <div id="tablePanel">
        <div>
            <c:set var="editableTablePart" value="#{tableBean.tablePart and studio.model.editable}" />
            <h:panelGroup rendered="#{tableBean.hasProblems or editableTablePart}" layout="block" styleClass="table-problems">
                <header>
                    <span style="margin-right:2px">Problems</span>
                    <img src="webresource/images/arrow_down.gif" title="Hide Problems" style="vertical-align:-2px"
                        onclick="$j('#problemsPanel').toggle('fast');this.src=(this.title == 'Hide Problems' ? 'webresource/images/arrow_right.gif' : 'webresource/images/arrow_down.gif');this.title=(this.title == 'Hide Problems' ? 'Show Problems' : 'Hide Problems');" />
                </header>
                <div id="problemsPanel">
                    <h:panelGroup rendered="#{editableTablePart}" layout="block" styleClass="problem-warning"
                        style="display:inline-block;margin:2px">
                        The table is composed of several partial tables. To edit partial tables, please use "Open in Excel"
                    </h:panelGroup>
                    <h:panelGroup rendered="#{tableBean.hasProblems}" layout="block">
                        <ui:include src="/pages/modules/messages.xhtml">
                            <ui:param name="messages" value="#{tableBean.problems}" />
                            <ui:param name="editable" value="#{tableBean.canEdit}" />
                        </ui:include>
                    </h:panelGroup>
                </div>
            </h:panelGroup>

            <form target="hidden" name="editInExcelForm" method="post" action="#{contextPath}/action/launch">
                <input type="hidden" name="id" value="" />
            </form>

            <rules:tableEditor id="t" table="#{tableBean.table}" view="#{studio.tableView}" rowIndex="#{tableBean.rowIndex}"
                linkBuilder="#{studio.linkBuilder}" mode="#{tableBean.mode}" editable="#{tableBean.canEdit}"
                showFormulas="#{studio.showFormulas}"
                beforeSaveAction="#{tableBean.beforeSaveAction}" afterSaveAction="#{tableBean.afterSaveAction}"
                onBeforeSave="javascript:onBeforeSave();" onAfterSave="javascript:onAfterSave(data);"
                onError="javascript:onError(data);" excludeScripts="prototype">

                <h:outputLink value="javascript:editInExcel(document.forms.editInExcelForm)"
                    rendered="#{tableBean.canEdit}">Edit in Excel</h:outputLink>
                <h:outputLink value="javascript:ws.nav.search($j(PopupMenu.lastTarget).text(), '#{studio.url('')}')">Search</h:outputLink>
            </rules:tableEditor>
        </div>
    </div>
    </c:if>

    <ui:remove>
    <div style="position: absolute; right: 10px">
        Table Details
    </div>
    </ui:remove>

    <rich:popupPanel id="modalDiscardChanges" width="400" autosized="true">
        <f:facet name="header">
            <h:outputText value="Discard changes" />
        </f:facet>

        <f:facet name="controls">
            <h:graphicImage value="/images/close.gif" class="close" onclick="RichFaces.$('modalDiscardChanges').hide();" alt="Close" />
        </f:facet>

        <h:form id="discardChangesForm">
            <h:panelGroup id="modalDiscardChangesData">
                <h:outputText value="Table is not saved. If you leave this page, all changes will be lost. Are you sure you want to discard unsaved changes?" />
            </h:panelGroup>

            <footer>
                <h:commandButton id="discardButton" value="Discard changes" styleClass="button-primary" />
                <input type="button" value="Cancel" onclick="#{rich:component('modalDiscardChanges')}.hide();" />
            </footer>
        </h:form>
    </rich:popupPanel>

    <c:if test="#{empty tableBean.table}">
        <script>
            ws.nav.go("#{studio.url()}", true);
        </script>
    </c:if>

    <script>
        //<![CDATA[
        function open_win(url, name) {
            window.open(url, name, "toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, copyhistory=yes, width=1240, height=700, top=20, left=100")
        }

        function showButtonMenu(event, popupId, buttonElem) {
            event.stopPropagation();
            var button = $j(event.target).parent(buttonElem);
            if (!button.length)
                button = $j(event.target).closest(buttonElem);
            ws.ui.showPopupMenu(event, popupId, button, {'offsetLeft' : -1, 'offsetTop' : 6, 'fitToScreen' : true});
        }

        function editInExcel(f) {
            f.id.value = "#{tableBean.id}";
            f.submit();
        }

        function onBeforeSave() {
            ws.ui.showLoader();
        }

        function onAfterSave(data) {
            ws.nav.go("#{studio.url('table')}?id=" + data.newId, true);
            ws.ui.hideLoader();
        }

        function onError(data) {
            ws.ui.hideLoader();
            ws.ui.info(data.message);
        }

        function isAnyTestSelected() {
            var testRangesParam = getTestRangesParam();

            // undefined value means that the range is not used (default)
            if (testRangesParam === undefined) {
                $j("#testRangesHiddenInput")
                        .val(null)
                        .prop('disabled', true);
                return true;
            }
            // Validate on empty value of a range of IDs
            if (testRangesParam === "") {
                ws.ui.error("No tests selected");
                return false;
            }

            // Validate the range of entered IDs
            var ids = testRangesParam.trim().split(/\s*[,-]\s*/);
            var allowed = $j(".test-id")
                    .map(function() { return $j(this).val(); })
                    .get();
            for (var i = 0; i < ids.length; i++) {
                if ($j.inArray( ids[i], allowed ) === -1) {
                    ws.ui.error("Wrong [" + ids[i] + "] ID in the Range of IDs");
                    return false;
                }
            }

            // Set the range of IDs to the hidden input for sending to a server
            $j("#testRangesHiddenInput")
                    .val(testRangesParam)
                    .prop('disabled', false);
            return true;
        }

        function showUnitsMenu(event, block) {
            showButtonMenu(event, 'unitsMenu', 'a');
            $j('#unitsMenu .' + block).show();
        }

        function getTestQuery() {
            var query="?id=#{tableBean.id}";
            if ($j("#unitsMenu").is(":hidden")) {
                // No query for the hidden menu
                return query;
            }

            query += '&' + $j("#runCasesSettings").find("select,input").serialize();
            jQuery('#runCasesSettings').find('input[type=checkbox]:not(:checked)').each(function() {
                query += '&' + this.name + '=false';
            });

            var ids = getTestRangesParam();
            if (ids) {
                // Query only selected IDs
                query += '&testRanges=' + encodeURIComponent(ids);
            }
            return query;
        }

        function getTestRangesParam() {
            if ($j("#useTestRanges").is(":checked")) {
                // If a range is selected
                var ids = $j("#testRanges").val().trim();
            } else if (!$j("#allTestCheck").is(":checked")) {
                // If not all checkboxes are selected
                var ids = $j(".test-id:checked")
                        .map(function() { return $j(this).val(); })
                        .get()
                        .join();
            }
            return ids;
        }

        function runTestCases() {
            var link="#{tableBean.table.type == 'xls.run.method' ? studio.url('test/run') : studio.url('test/test')}";
            ws.nav.go(link + getTestQuery());
        }

        function getCurrentTable() {
            // TODO: add "var='myVar'" parameter to rules:tableEditor tag instead of hardcoded variable name and id of a table
            if (typeof _tet_te != 'undefined') {
                return _tet_te; // variable name of a table, is generated from it's editorId te_toolbar
            }

            return {hasChanges: false};
        }

        function setTableHasChanges(hasChanges) {
            getCurrentTable().hasChanges = hasChanges;
        }

        $j(function () {
            var hasChanges = function () {
                return getCurrentTable().hasChanges;
            };

            var showConfirmDialog = function (revertAndProceed) {
                var $discardButton = $j('#discardChangesForm\\:discardButton');
                $discardButton.off("click");
                $discardButton.click(function () {
                    revertAndProceed();
                    RichFaces.$('modalDiscardChanges').hide();
                    return false;
                });

                RichFaces.$('modalDiscardChanges').show();
            };

            var beforeUnload = function (e) {
                if (hasChanges()) {
                    return 'Table is not saved. If you leave this page, all changes will be lost.';
                }
            };

            ws.changes.configure(hasChanges, setTableHasChanges, showConfirmDialog, beforeUnload);

            $j(".title").each(function () {
                var elem = $j(this);
                if (elem.position().top < 40) {
                    if (!elem.hasClass('title-bottom')) {
                        elem.addClass('title-bottom');
                    }
                } else {
                    elem.removeClass('title-bottom');
                }
            });
        });

        //]]>
    </script>

</ui:composition>
