<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich">

    <style>
        .filter-tables {
            padding-left: 7px;
        }
        .filter-view {
            display: inline-block;
            width: calc(100% - 64px);
        }

        .badge-right {
            position: absolute;
            right: 3px;
        }
        .rf-tr-nd > .rf-trn span.rf-trn-ico:not(.rf-trn-ico-lf) {
            display: none;
        }
    </style>
    <ui:include src="/pages/modules/modal/treeFilter.xhtml" />

    <div class="panel">
        <div class="panel-header container">
            <h:form id="rulesTreeViewForm">
                <h:panelGroup rendered="#{studio.currentProject != null}" id="rulesTreeView" columns="2" layout="block" styleClass="filter-tables">
                    <div class="filter-view">
                        <span class="dropdown">
                            <a class="dropdown-toggle link-text" data-toggle="dropdown" href="#">By #{studio.treeView.displayName}</a>
                            <ul class="dropdown-menu link-dropdown-menu" role="menu">
                                <ui:repeat value="#{studio.treeViews}" var="treeView">
                                <li>
                                    <h:commandLink tabindex="-1" value="By #{treeView.displayName}" action="#{treeBean.setCurrentView(treeView.name)}">
                                        <f:ajax render="@form :rulesTree" />
                                    </h:commandLink>
                                </li>
                                </ui:repeat>
                            </ul>
                        </span>
                    </div>
                    <a title="Filter" class="imageButton" href="javascript:void(0)"
                       style="background:url('webresource/images/filter.png'); border: 0; background-color: transparent !important; margin: 0 3px 0 2px; padding: 5px 11px;opacity:0.5"
                       onclick="showTreeFilterDialog(); return false;" />
                    <a title="Recently visited tables" class="imageButton" href="javascript:void(0)"
                        style="background:url('webresource/images/history2.png'); border: 0; background-color: transparent !important; margin: 0 3px 0 2px; padding: 5px 11px;opacity:0.5"
                        onclick="ws.nav.openHistoryPanel()" />
                </h:panelGroup>
            </h:form>
        </div>

        <div class="panel-body container">
            <rich:tree id="rulesTree" styleClass="tree" value="#{treeBean.tree}" var="node" nodeType="#{node.type}"
                toggleType="client" nodeClass="#{node.active ? '' : 'treeNodeInactive'}">
                <rich:treeNode type="folder">
                    <h:outputText value="#{node.name}" styleClass="#{node.numErrors > 0 ? 'error' : ''}" />
                    <h:outputText value="#{node.numErrors}" styleClass="badge badge-small badge-error badge-right" rendered="#{node.numErrors > 0}" />
                </rich:treeNode>
                <rich:treeNode type="workbook">
                    <h:outputText value="#{node.name}" styleClass="#{node.numErrors > 0 ? 'error' : ''}" />
                    <h:outputText value="#{node.numErrors}" styleClass="badge badge-small badge-error badge-right" rendered="#{node.numErrors > 0}" />
                </rich:treeNode>
                <rich:treeNode type="worksheet"
                    iconCollapsed="webresource/images/worksheet.gif" iconExpanded="webresource/images/worksheet.gif">
                    <h:outputText value="#{node.name}" styleClass="#{node.numErrors > 0 ? 'error' : ''}" />
                    <h:outputText value="#{node.numErrors}" styleClass="badge badge-small badge-error badge-right" rendered="#{node.numErrors > 0}" />
                </rich:treeNode>
                <rich:treeNode type="problem" onclick="changeNode(event, '#{node.url}')">
                    <h:outputLink value="#{node.url}" title="#{node.title}">
                        <h:outputText value="#{node.name}" />
                    </h:outputLink>
                </rich:treeNode>
                <rich:treeNode type="table.xls.dt" onclick="changeNode(event, '#{node.url}')"
                    iconCollapsed="#{node.state == 2 ? 'webresource/images/dt3-check.png' : 'webresource/images/dt3.png'}"
                    iconExpanded="#{node.state == 2 ? 'webresource/images/dt3-check.png' : 'webresource/images/dt3.png'}"
                    iconLeaf="#{node.state == 2 ? 'webresource/images/dt3-check.png' : 'webresource/images/dt3.png'}">
                    <h:outputLink value="#{node.url}" title="#{node.title}">
                        <h:outputText value="#{node.name}" styleClass="#{node.numErrors > 0 ? 'error' : ''}" />
                    </h:outputLink>
                    <h:outputText value="#{node.numErrors}" styleClass="badge badge-small badge-error badge-right" rendered="#{node.numErrors > 0}" />
                </rich:treeNode>
                <rich:treeNode type="table.xls.spreadsheet" onclick="changeNode(event, '#{node.url}')"
                    iconCollapsed="webresource/images/spreadsheet.gif" iconExpanded="webresource/images/spreadsheet.gif"
                    iconLeaf="webresource/images/spreadsheet.gif">
                    <h:outputLink value="#{node.url}" title="#{node.title}">
                        <h:outputText value="#{node.name}" styleClass="#{node.numErrors > 0 ? 'error' : ''}" />
                    </h:outputLink>
                    <h:outputText value="#{node.numErrors}" styleClass="badge badge-small badge-error badge-right" rendered="#{node.numErrors > 0}" />
                </rich:treeNode>
                <rich:treeNode type="table.xls.tbasic" onclick="changeNode(event, '#{node.url}')"
                    iconCollapsed="#{node.state == 2 ? 'webresource/images/tbasic-check.gif' : 'webresource/images/tbasic.gif'}"
                    iconExpanded="#{node.state == 2 ? 'webresource/images/tbasic-check.gif' : 'webresource/images/tbasic.gif'}"
                    iconLeaf="#{node.state == 2 ? 'webresource/images/tbasic-check.gif' : 'webresource/images/tbasic.gif'}">
                    <h:outputLink value="#{node.url}" title="#{node.title}">
                        <h:outputText value="#{node.name}" styleClass="#{node.numErrors > 0 ? 'error' : ''}" />
                    </h:outputLink>
                    <h:outputText value="#{node.numErrors}" styleClass="badge badge-small badge-error badge-right" rendered="#{node.numErrors > 0}" />
                </rich:treeNode>
                <rich:treeNode type="table.xls.columnmatch" onclick="changeNode(event, '#{node.url}')"
                    iconCollapsed="#{node.state == 2 ? 'webresource/images/cmatch-check.gif' : 'webresource/images/cmatch.gif'}"
                    iconExpanded="#{node.state == 2 ? 'webresource/images/cmatch-check.gif' : 'webresource/images/cmatch.gif'}"
                    iconLeaf="#{node.state == 2 ? 'webresource/images/cmatch-check.gif' : 'webresource/images/cmatch.gif'}">
                    <h:outputLink value="#{node.url}" title="#{node.title}">
                        <h:outputText value="#{node.name}" styleClass="#{node.numErrors > 0 ? 'error' : ''}" />
                    </h:outputLink>
                    <h:outputText value="#{node.numErrors}" styleClass="badge badge-small badge-error badge-right" rendered="#{node.numErrors > 0}" />
                </rich:treeNode>
                <rich:treeNode type="table.xls.data" onclick="changeNode(event, '#{node.url}')"
                    iconCollapsed="webresource/images/data.gif" iconExpanded="webresource/images/data.gif"
                    iconLeaf="webresource/images/data.gif">
                    <h:outputLink value="#{node.url}" title="#{node.title}">
                        <h:outputText value="#{node.name}" styleClass="#{node.numErrors > 0 ? 'error' : ''}" />
                    </h:outputLink>
                    <h:outputText value="#{node.numErrors}" styleClass="badge badge-small badge-error badge-right" rendered="#{node.numErrors > 0}" />
                </rich:treeNode>
                <rich:treeNode type="table.xls.datatype" onclick="changeNode(event, '#{node.url}')"
                    iconCollapsed="webresource/images/dataobject.gif" iconExpanded="webresource/images/dataobject.gif"
                    iconLeaf="webresource/images/dataobject.gif">
                    <h:outputLink value="#{node.url}" title="#{node.title}">
                        <h:outputText value="#{node.name}" styleClass="#{node.numErrors > 0 ? 'error' : ''}" />
                    </h:outputLink>
                    <h:outputText value="#{node.numErrors}" styleClass="badge badge-small badge-error badge-right" rendered="#{node.numErrors > 0}" />
                </rich:treeNode>
                <rich:treeNode type="table.xls.environment" onclick="changeNode(event, '#{node.url}')"
                    iconLeaf="webresource/images/config_obj.gif">
                    <h:outputLink value="#{node.url}" title="#{node.title}">
                        <h:outputText value="#{node.name}" styleClass="#{node.numErrors > 0 ? 'error' : ''}" />
                    </h:outputLink>
                    <h:outputText value="#{node.numErrors}" styleClass="badge badge-small badge-error badge-right" rendered="#{node.numErrors > 0}" />
                </rich:treeNode>
                <rich:treeNode type="table.xls.method" onclick="changeNode(event, '#{node.url}')"
                    iconCollapsed="webresource/images/method.gif" iconExpanded="webresource/images/method.gif"
                    iconLeaf="webresource/images/method.gif">
                    <h:outputLink value="#{node.url}" title="#{node.title}">
                        <h:outputText value="#{node.name}" styleClass="#{node.numErrors > 0 ? 'error' : ''}" />
                    </h:outputLink>
                    <h:outputText value="#{node.numErrors}" styleClass="badge badge-small badge-error badge-right" rendered="#{node.numErrors > 0}" />
                </rich:treeNode>
                <rich:treeNode type="table.xls.test.method" onclick="changeNode(event, '#{node.url}')"
                    iconCollapsed="webresource/images/test_ok.gif" iconExpanded="webresource/images/test_ok.gif"
                    iconLeaf="webresource/images/test_ok.gif">
                    <h:outputLink value="#{node.url}" title="#{node.title}">
                        <h:outputText value="#{node.name}" styleClass="#{node.numErrors > 0 ? 'error' : ''}" />
                    </h:outputLink>
                    <h:outputText value="#{node.numErrors}" styleClass="badge badge-small badge-error badge-right" rendered="#{node.numErrors > 0}" />
                </rich:treeNode>
                <rich:treeNode type="table.xls.run.method" onclick="changeNode(event, '#{node.url}')"
                    iconCollapsed="webresource/images/run.gif" iconExpanded="webresource/images/run.gif"
                    iconLeaf="webresource/images/run.gif">
                    <h:outputLink value="#{node.url}" title="#{node.title}">
                        <h:outputText value="#{node.name}" styleClass="#{node.numErrors > 0 ? 'error' : ''}" />
                    </h:outputLink>
                    <h:outputText value="#{node.numErrors}" styleClass="badge badge-small badge-error badge-right" rendered="#{node.numErrors > 0}" />
                </rich:treeNode>
                <rich:treeNode type="table.xls.properties" onclick="changeNode(event, '#{node.url}')"
                    iconLeaf="webresource/images/data.gif">
                    <h:outputLink value="#{node.url}" title="#{node.title}">
                        <h:outputText value="#{node.name}" styleClass="#{node.numErrors > 0 ? 'error' : ''}" />
                    </h:outputLink>
                    <h:outputText value="#{node.numErrors}" styleClass="badge badge-small badge-error badge-right" rendered="#{node.numErrors > 0}" />
                </rich:treeNode>
                <rich:treeNode type="table.xls.other" onclick="changeNode(event, '#{node.url}')">
                    <h:outputLink value="#{node.url}" title="#{node.title}">
                        <h:outputText value="#{node.name}" styleClass="#{node.numErrors > 0 ? 'error' : ''}" />
                    </h:outputLink>
                </rich:treeNode>
            </rich:tree>

            <script>
                function changeNode(event, url) {
                    event = event || window.event;
                    var target = event.target || event.srcElement;

                    // ensure that we didn't click on "a href" element
                    if ( (target.nodeName != 'A') &amp;&amp; (target.nodeName !='SPAN') ){
                        ws.nav.go(url);
                    }
                }
            </script>

        </div>
    </div>

</ui:composition>
