<ui:composition
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <f:view transient="true">
    <rich:popupPanel id="updateProject" width="500" autosized="true">
        <f:facet name="header">
          <h:outputText value="Update project"/>
        </f:facet>

        <f:facet name="controls">
          <h:graphicImage value="/images/close.gif" class="close"
            onclick="closeUpdateProjectDialog();" alt="Close" />
        </f:facet>

        <h:form id="updateProjectForm">
            <h:panelGrid id="updateProjectFormData" columns="2" styleClass="formfields" cellspacing="1" columnClasses="label,">
                <h:outputLabel for="projectUpload" styleClass="required" value="File" />
                <rich:fileUpload id="projectUpload" fileUploadListener="#{studio.uploadListener}"
                                 acceptedTypes="zip" maxFilesQuantity="1">
                    <a4j:ajax event="uploadcomplete" execute="@none"
                              render="structureChangedFormData"
                              oncomplete="disableUploadProjectButton(false);" />
                </rich:fileUpload>
            </h:panelGrid>

            <footer>
                <a4j:commandButton id="uploadProject" value="Update" action="#{studio.updateProject}" data="#{studio.url()}" styleClass="button-primary"
                    oncomplete="RichFaces.$('updateProject').hide();ws.nav.go(event.data);ws.nav.reload(true);ws.ui.success('Project was updated successfully!');" />
                <input type="button" value="Cancel" onclick="closeUpdateProjectDialog();" />
            </footer>

            <a4j:jsFunction name="initUpdateProjectDialog" action="#{studio.clearUploadedFiles}" render="updateProjectFormData" oncomplete="RichFaces.$('updateProject').show();" />
            <a4j:jsFunction name="closeUpdateProjectDialog" action="#{studio.clearUploadedFiles}" oncomplete="RichFaces.$('updateProject').hide();" />
        </h:form>
    </rich:popupPanel>

    <rich:popupPanel id="structureChanged" width="500" autosized="true">
        <f:facet name="header">
            <h:outputText value="Update project"/>
        </f:facet>

        <f:facet name="controls">
            <h:graphicImage value="/images/close.gif" class="close"
                            onclick="RichFaces.$('structureChanged').hide();" alt="Close" />
        </f:facet>

        <h:form id="structureChangedForm">
            <h:panelGrid id="structureChangedFormData">
                <h:panelGroup>
                    Warning: You've uploaded a project which structure differs from the current one. Please, ensure you've chosen the correct project to update.
                </h:panelGroup>

                <h:panelGrid rendered="#{studio.uploadedProjectStructureChanged}">
                    <script>
                        RichFaces.$('structureChanged').show();
                    </script>
                </h:panelGrid>
            </h:panelGrid>

            <footer>
                <input type="button" value="OK" onclick="RichFaces.$('structureChanged').hide();" />
            </footer>
        </h:form>
    </rich:popupPanel>
    </f:view>

    <script>
        function openUpdateProjectDialog() {
            disableUploadProjectButton(true);
            initUpdateProjectDialog();
        }

        function disableUploadProjectButton(disable) {
            #{rich:element('updateProjectForm:uploadProject')}.disabled = disable;
        }
    </script>
</ui:composition>
