<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:rich="http://richfaces.org/rich">

    <c:set var="uid" value="#{!empty id ? id : 'multiselect'}" />

    <h:panelGroup id="#{uid}" rendered="#{!empty rendered ? rendered : true}">

        <h:selectManyMenu id="#{uid}-select" value="#{selected}" style="display:none" required="#{!empty required ? required : false}" requiredMessage="#{!empty requiredMessage ? requiredMessage : requiredMessage}">
            <f:selectItems value="#{items}" />
        </h:selectManyMenu>

        <script>
            $j(#{rich:element(uid)}).find("select").multiselect();
        </script>

    </h:panelGroup>

</ui:composition>
