<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/pages/layout/simpleLayout.xhtml"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j">

    <ui:define name="content">
        <style>
            .installMessages ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
            }

            .pathInput { width: 211px; }

            .repositoryConfig > div {
                display: table;
                border-bottom: 1px dashed #aaa;
                margin-bottom: 12px;
                padding: 0 0 12px;
            }

            .repositoryConfig > div:last-child {
                border-bottom: 0;
            }

            .repositoryConfigButton {
                vertical-align: top;
            }

            .addRepositoryConfig {
                margin-top: 10px;
            }

            td.titleColumn + td > input[type="text"], td.titleColumn + td > select {
                width: 20em;
            }
            .messages {
                top: 7px;
            }

        </style>

        <c:set var="contextPath" value="#{request.contextPath}" />

        #{installWizard.setStep(2)}

        <div class="wizard-page">
            <div class="wizard-page-container">
                <h:form>
                    <h:panelGroup styleClass="messages" layout="block"
                                  rendered="#{!empty facesContext.maximumSeverity}">
                        <h:messages infoClass="success" errorClass="error" showDetail="true"
                                    showSummary="false" tooltip="true" globalOnly="true" />
                    </h:panelGroup>

                    <h:panelGroup id="repositoryProps">
                        <div class="wizard-block" id="designRepositoryBlock">
                            <h3>
                                Design Repository
                                <div class="field-description">
                                    <p>Centralized storage of rule projects accessible by all OpenL Tablets WebStudio users.  Projects uploaded to Design repository are visible to other users.
                                        Design repository creates a separate project revision each time a project is saved. Any project revision can be opened.
                                    </p>
                                </div>
                            </h3>
                            <div>
                                <c:set var="designRepository" value="#{installWizard.designRepositoryConfiguration}" />
                                <div>
                                    <table><tr><td>
                                        <h:panelGrid id="designInfoPanel" columns="2" columnClasses="titleColumn">
                                            <h:outputText value="Name:" />
                                            <h:inputText value="#{designRepository.name}" disabled="true" styleClass="repoFieldWidth"/>
                                            <h:outputText value="Type:" />
                                            <h:selectOneMenu value="#{designRepository.type}">
                                                <f:ajax event="change" render="designRepositoryPathTitle designRepositoryPath" />
                                                <f:selectItem itemValue="local" itemLabel="Local" />
                                                <f:selectItem itemValue="rmi" itemLabel="Remote - RMI" />
                                                <f:selectItem itemValue="webdav" itemLabel="Remote - WebDav" />
                                            </h:selectOneMenu>
                                            <h:outputText id="designRepositoryPathTitle"
                                                          value="#{designRepository.type == 'local' ? 'Directory' : 'URL'}:" />
                                            <h:inputText id="designRepositoryPath"
                                                         value="#{designRepository.path}" styleClass="pathInput"
                                                         disabled="#{designRepository.repositoryPathSystem}" />
                                            <h:outputLabel value="Secure connection" for="designRepositorySecureConnection" />
                                            <h:selectBooleanCheckbox id="designRepositorySecureConnection" value="#{designRepository.secure}"
                                                                     onmousedown="if($j(this).attr('checked')){if(!window.confirm('Login and password will be deleted. Do you want to continue?')) {return false;}} return this.click()">
                                                <f:ajax event="change" execute="@form" render="designInfoPanel" />
                                            </h:selectBooleanCheckbox>
                                            <h:outputText value="Login:" rendered="#{designRepository.secure}"/>
                                            <h:inputText value="#{designRepository.login}" styleClass="repoFieldWidth"
                                                         rendered="#{designRepository.secure}"/>
                                            <h:outputText value="Password:" rendered="#{designRepository.secure}"/>
                                            <h:inputSecret value="#{designRepository.password}" styleClass="repoFieldWidth"
                                                           rendered="#{designRepository.secure}"/>
                                        </h:panelGrid>
                                    </td></tr></table>
                                </div>
                            </div>
                        </div>
                        <div class="wizard-block" id="productionRepositoryBlock">
                            <h3>
                                Production Repositories
                                <div class="field-description">
                                    <p>Production storages of deployed rule projects where solution applications use them.
                                    </p>
                                </div>
                            </h3>
                            <div class="repositoryConfig">
                                <ui:param name="productionRepos" value="#{installWizard.productionRepositoryConfigurations}" />

                                <a4j:repeat value="#{productionRepos}" var="repository">
                                    <div>
                                        <table>
                                            <tr>
                                                <td>
                                                    <h:panelGrid id="repoInfoPanel" columns="2" columnClasses="titleColumn">
                                                        <h:outputText value="Name:" />
                                                        <h:inputText value="#{repository.name}" styleClass="repoFieldWidth"/>
                                                        <h:outputText value="Type:" />
                                                        <h:selectOneMenu value="#{repository.type}">
                                                            <f:ajax event="change" render="productionRepositoryPathTitle productionRepositoryPath" />
                                                            <f:selectItem itemValue="local" itemLabel="Local" />
                                                            <f:selectItem itemValue="rmi" itemLabel="Remote - RMI" />
                                                            <f:selectItem itemValue="webdav" itemLabel="Remote - WebDav" />
                                                            <f:selectItem itemValue="db" itemLabel="Database (JDBC)" />
                                                            <f:selectItem itemValue="jndi" itemLabel="Database (JNDI)" />
                                                        </h:selectOneMenu>
                                                        <h:outputText id="productionRepositoryPathTitle"
                                                                      value="#{repository.type == 'local' ? 'Directory' : 'URL'}:" />
                                                        <h:inputText id="productionRepositoryPath"
                                                                     value="#{repository.path}" styleClass="pathInput"
                                                                     disabled="#{repository.repositoryPathSystem}" />
                                                        <h:outputLabel value="Secure connection" for="productionRepositorySecureConnection" />
                                                        <h:selectBooleanCheckbox id="productionRepositorySecureConnection" value="#{repository.secure}"
                                                                                 onmousedown="if($j(this).attr('checked')){if(!window.confirm('Login and password will be deleted. Do you want to continue?')) {return false;}} return this.click()">
                                                            <f:ajax event="change" execute="@form" render="repoInfoPanel" />
                                                        </h:selectBooleanCheckbox>
                                                        <h:outputText value="Login:" rendered="#{repository.secure || !empty repository.login}"/>
                                                        <h:inputText value="#{repository.login}" rendered="#{repository.secure || !empty repository.login}" styleClass="repoFieldWidth"/>
                                                        <h:outputText value="Password:" rendered="#{repository.secure || !empty repository.login}"/>
                                                        <h:inputSecret value="#{repository.password}" rendered="#{repository.secure || !empty repository.login}" styleClass="repoFieldWidth"/>
                                                    </h:panelGrid>
                                                </td>
                                                <td class="repositoryConfigButton">
                                                    <a4j:commandLink action="#{installWizard.deleteProductionRepository(repository.configName)}"
                                                                     title="Delete Production Repository Connection" styleClass="toolbarButton menuButton"
                                                                     render="repositoryProps" rendered="#{productionRepos.size() > 1}"
                                                                     onclick="if(!window.confirm('Do you really want to delete repository connection?')) {return false;}"
                                                                     onmouseover="$j(this).find('.arrow').css({'visibility':'visible'})"
                                                                     onmouseout="$j(this).find('.arrow').css({'visibility':'hidden'})" >
                                                        <img src="#{contextPath}/images/delete.png" alt="Delete Repository" />
                                                    </a4j:commandLink>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </a4j:repeat>
                            </div>

                            <div class="addRepositoryConfig">
                                <a4j:commandButton onclick="#{rich:component('modalCreateRepo')}.show();return false;"
                                                   title="Create local production repository"
                                                   styleClass="toolbarButton menuButton" render="repositoryProps"
                                                   value="Create Production Repository" >
                                </a4j:commandButton>
                                <a4j:commandButton onclick="#{rich:component('modalAddRepoConnection')}.show();return false;"
                                                   title="Add connection to production repository"
                                                   styleClass="toolbarButton menuButton" render="repositoryProps"
                                                   value="Connect To Production Repository">
                                </a4j:commandButton>
                            </div>

                        </div>
                        <div class="wizard-buttons">
                            <h:button id="prevButton" value="Prev" outcome="#{installWizard.previousPage}" onclick="showLoader()" />
                            <h:commandButton value="Next" action="#{installWizard.next}" class="button-primary" onclick="showLoader()" />
                        </div>
                    </h:panelGroup>
                </h:form>

                <!-- Reuse existing dialogs -->
                <c:set var="connectionProductionRepoController" value="#{installWizard.connectionProductionRepoController}"/>
                <ui:include src="/pages/modules/administration/modal/addProductionRepoConnection.xhtml"/>
                <c:set var="newProductionRepoController" value="#{installWizard.newProductionRepoController}"/>
                <ui:include src="/pages/modules/administration/modal/createProductionRepo.xhtml"/>
            </div>
        </div>

    </ui:define>
</ui:composition>
