<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/pages/layout/simpleLayout.xhtml"
    xmlns:a4j="http://richfaces.org/a4j">

    <ui:define name="content">
    <style>
      .installMessages ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
        select, input[type='text'], input[type='password'] {
            width: 20em;
        }
    </style>

        <div class="wizard-page">
            <div class="wizard-page-container">
                <h:form>
                    <div class="wizard-block" id="usermodeBlock">
                        <h3>Select user mode:
                            <div class="field-description">
                                <p>User mode defines how many users can run the application and where user projects will be located by default.</p>
                                <p><strong>Single-user</strong> – Only the currently logged in user can run OpenL Tablets WebStudio. All user projects will be saved in the root of the '#{installWizard.workingDir}#{installWizard.folderSeparator}user-workspace' directory.</p>
                                <p><strong>Multi-user</strong> – Multiple users can run OpenL Tablets WebStudio using their unique user names.  The User’s projects will be located in the '#{installWizard.workingDir}#{installWizard.folderSeparator}user-workspace#{installWizard.folderSeparator}USERNAME' folder.</p>
                            </div>
                        </h3>
                        <div>
                            <h:selectOneRadio value="#{installWizard.userMode}" layout="pageDirection" >
                                <f:selectItem itemValue="single" itemLabel="Single-user" />
                                <f:selectItem itemValue="multi" itemLabel="Multi-user" />
                            </h:selectOneRadio>
                        </div>
                    </div>
                    <div class="wizard-block" id="appmodeBlock">
                        <h3>Select application mode:
                            <div class="field-description">
                                <p>Here you should choose which Database to use for managing users in the application.</p>
                                <p><strong>Production</strong> – You will use an external database to manage OpenL Tablets WebStudio users.  The database allows you to add/remove users and change their access rights.</p>
                                <p><strong>Demo</strong> – You will use an internal User Database with predefined list of users. All changes in the database will be lost after the application restart.</p>
                            </div>
                        </h3>
                        <div>
                            <h:selectOneRadio value="#{installWizard.appMode}" layout="pageDirection" immediate="true">
                                <f:selectItem itemValue="production" itemLabel="Production" />
                                <f:selectItem itemValue="demo" itemLabel="Demo" />
                                <f:ajax  listener="#{installWizard.appmodeChanged}" />
                            </h:selectOneRadio>
                        </div>
                    </div>
                    <div class="wizard-block" id="dbBlock">
                        <h3>Configure database:
                            <div class="field-description">
                                <p>Set up a database to be used for managing users in OpenL Tablets WebStudio.<br />
                                   Please contact your System Administrator for this information if necessary.</p>
                            </div>
                        </h3>
                        <div>
                            <table>
                                
                                <tr>
                                    <td colspan="2">
                                        <a4j:outputPanel styleClass="installMessages" ajaxRendered="true">
                                            <h:messages infoClass="success" errorClass="error" showDetail="true"
                                                showSummary="false" tooltip="true" globalOnly="true" />
                                            <h:message  class="error" for="dbPassword" />
                                        </a4j:outputPanel>
                                    </td>
                                   </tr>
                                <tr>
                                    <td><label>Database type</label></td>
                                    <td>
                                        <h:selectOneMenu value="#{installWizard.dbVendor}" id="dbVendor" immediate="true">
                                            <f:selectItem itemValue="#{null}" itemLabel="Select one"/>
                                            <f:selectItems value="#{installWizard.DBVendors}" />
                                            <f:ajax  listener="#{installWizard.dbVendorChanged}" />
                                            <f:ajax render="dbUrl dbUsername"/>
                                        </h:selectOneMenu> 
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Database URL</label></td>
                                    <td>
                                        <h:inputText id="dbUrl" value="#{installWizard.dbUrl}" size="40" >
                                        <f:ajax  listener="#{installWizard.urlChanged}" />
                                        </h:inputText>
                                    </td>
                                </tr>
                                <tr><td></td></tr>
                                <tr><td></td></tr>
                                <tr>
                                    <td><label>Username</label></td>
                                        <td>
                                           <h:inputText id="dbUsername" value="#{installWizard.dbUsername}" size="40"
                                           required="true" >
                                           <f:ajax  listener="#{installWizard.usernameChanged}" />
                                           </h:inputText>
                                         </td>
                                </tr>
                                <tr>
                                    <td><label>Password</label></td>
                                    <td>
                                        <h:inputSecret id="dbPassword" value="#{installWizard.dbPassword}" size="40"
                                                       binding="#{installWizard.dbPasswordInput}"
                                                       validator="#{installWizard.dbValidator}"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="wizard-buttons">
                        <h:button id="prevButton" value="Prev" outcome="#{installWizard.previousPage}" onclick="showLoader()" />
                        <h:commandButton value="Finish" action="#{installWizard.finish}" class="button-primary" onclick="showLoader()" />
                        <span style="color:#7b1">Click 'Finish' to complete the installation process</span>
                    </div>
                </h:form>
            </div>
        </div>

        <script>
          //<![CDATA[

            (function() {

                // TODO Move to UI JS model
                function toggleBlock(selector, toggle) {
                    $j(selector).toggle(toggle);
                    $j(selector + " input").each(function() {
                        if (this.type != "radio") {
                            this.disabled = !toggle;
                        }
                    })
                }

                toggleBlock("#appmodeBlock", $j("#usermodeBlock input:checked").val() != "single");
                toggleBlock("#dbBlock", $j("#usermodeBlock input:checked").val() != "single"
                    && $j("#appmodeBlock input:checked").val() != "demo");

                $j("#usermodeBlock input").change(function(e) {
                    toggleBlock("#appmodeBlock", e.target.value != "single");
                    toggleBlock("#dbBlock", e.target.value != "single"
                        && $j("#appmodeBlock input:checked").val() != "demo");
                });

                $j("#appmodeBlock input").change(function(e) {
                    toggleBlock("#dbBlock", e.target.value != "demo");
                });

            })();

          //]]>
        </script>

    </ui:define>
</ui:composition>
