<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/pages/layout/simpleLayout.xhtml">

    <ui:define name="content">

        #{installWizard.setStep(1)}

        <div class="wizard-page">
            <div class="wizard-page-container">
                <h:form>
                    <div class="wizard-block">
                        <h3>Enter a WebStudio working directory:
                            <div class="field-description">
                                <p>OpenL Tablets uses the '#{installWizard.workingDir}' folder as a working directory.</p>
                            </div>
                        </h3>
                        <h:panelGrid >
                        <div>
                            <h:inputText id="workingDir" value="#{installWizard.workingDir}"
                            validator="#{installWizard.workingDirValidator}" size="72"/>
                        </div>
                        <div >
                            <h:message for="workingDir" class="error" />
                        </div>

                        </h:panelGrid>
                    </div>
                    <div class="wizard-buttons">
                        <h:commandButton value="Next" action="#{installWizard.next}" class="button-primary" onclick="showLoader()" />
                    </div>
                </h:form>
            </div>
        </div>

    </ui:define>
</ui:composition>
