<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    template="/pages/layout/framePanel.xhtml">

    <ui:define name="content">

        <script src="webresource/javascript/vendor/jquery-1.7.2.min.js"></script>

        <style>
            .table-explain {
                border-collapse: collapse;
                width: 100%;
            }
            .table-explain th {
                padding: 6px 4px 9px;
                text-align: left;
                font-weight: normal;
                font-size: 14px;
            }
            .table-explain td {
                padding: 8px 4px;
                border-bottom: 1px solid #d7d7d7;
                white-space: nowrap;
            }
            .table-explain td span.explain {
                text-decoration: none;
                border-bottom: 1px dashed #8be;
                cursor: pointer;
            }
            .table-explain td span.expanded {
                color: #777;
            }
            .table-explain td a.open {
                color: #2a0;
                text-decoration: none;
                border-bottom: 1px solid #ada;
            }
            .table-explain .explain-selected td {
                background: #f7f7f7;
            }
            .table-explain td span.expanded:hover,
            .table-explain td span.expand-selected,
            .table-explain td:first-child:hover,
            .table-explain .explain-selected td:first-child {
                color: orange;
                cursor: default;
            }
        </style>

        <c:set var="rootID" value="#{param.rootID}" />

        <div class="tree-menu">
            <a href="#{contextPath}/faces/pages/modules/explain/tree.xhtml?rootID=#{rootID}"
                title="Tree View"><img src="webresource/images/treeview.gif" /></a>
        </div>

        <h:form>

            <input type="hidden" name="rootID" value="#{rootID}" />
    
            <p />
    
            <h:panelGroup id="explainData">
                <table class="table-explain">
                    <tr>
                        <th>Result</th>
                        <th></th>
                        <th>Explanation</th>
                    </tr>
                    <ui:repeat value="#{explainBean.expandedValues}" var="value" varStatus="st">
                    <tr id="#{value[0]}" class="#{st.first?'':'hidden'}">
                        <td style="padding-left:#{4 + 9 * value[1]}px">#{value[2]}</td>
                        <td>=</td>
                        <td><h:outputText value="#{value[3]}" escape="false" /></td>
                    </tr>
                    </ui:repeat>
                </table>
            </h:panelGroup>
        </h:form>

        <script>
            //<![CDATA[
            $(".table-explain").on( "click", "span.explain", function() {
                var id = $(this).data("id");
                $(this).removeClass("explain").addClass("expanded");
                $("#" + id).removeClass("hidden").addClass("explain-selected");
            });
            $(".table-explain").on( "hover", "span.expanded", function() {
                var id = $(this).data("id");
                $("#" + id).toggleClass("explain-selected");
            });
            $(".table-explain").on( "hover", "tr[id] > td:first-child", function() {
                var id = $(this).closest("tr").attr("id");
                $(".table-explain span[data-id='" + id + "']").toggleClass("expand-selected");
            });
            //]]>
        </script>

    </ui:define>

</ui:composition>
