<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:rules="http://openl-tablets.sourceforge.net/jsf"
    template="/pages/layout/framePanel.xhtml">

    <ui:define name="content">

        <c:set var="uri" value="#{param.uri}" />

        <h:panelGroup rendered="#{empty uri}">
            <h2>Source View Frame</h2>
            <p> This frame will show the source table for the values you select using the navigation frame on the left.
                You will be able to navigate to the original document from here as usual. If the value is an expression
                or a formula, you can explore it's content by opening the tree branch of that expression. 
            </p>
        </h:panelGroup>

        <h:panelGroup rendered="#{!empty uri}">
            <ui:include src="/pages/common/tableViewMenu.xhtml" />
            <div style="border-bottom: 1px solid #dddddd; padding: 4px 0 5px;font-size: 12px">
            <table>
                <tr>
                    <td>
                        <h:outputText value=" #{showExplainTableBean.header}" />
                    </td>
                </tr>
            </table>
            </div>

            <br />

            <rules:tableEditor table="#{showExplainTableBean.table}" filters="#{showExplainTableBean.filter}"
                editable="false" view="#{studio.tableView}" />

        </h:panelGroup>

    </ui:define>

</ui:composition>