<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/rich"
    template="/pages/layout/framePanel.xhtml">

    <ui:define name="content">
        <style>
            .tree .value {
                background-image: url("webresource/images/value.gif");
            }
            .tree .formula {
                background-image: url("webresource/images/operator.gif");
            }
            .tree .function {
                background-image: url("webresource/images/method.gif");
            }
            .tree .formula_plus {
                background-image: url("webresource/images/operator-plus.gif");
            }
            .tree .formula_minus {
                background-image: url("webresource/images/operator-min.gif");
            }
            .tree .formula_mul {
                background-image: url("webresource/images/operator-mul.gif");
            }
            .tree .formula_div {
                background-image: url("webresource/images/operator-div.gif");
            }
            .tree .formula_rem {
                background-image: url("webresource/images/operator.gif");
            }
        </style>

        <div class="tree-menu">
            <a href="#{contextPath}/faces/pages/modules/explain/explain.xhtml?rootID=#{param.rootID}"
                title="Table View"><img src="webresource/images/tableview.gif" /></a>
        </div>

        <p />

        <!-- Tree BEGIN -->
        <rich:tree styleClass="tree" value="#{explainTreeBean.tree}" toggleType="client" var="node">
            <rich:treeNode iconClass="#{node.type}">
                <h:outputLink value="#{node.url}" title="#{node.title}" target="mainFrame">
                    <h:outputText value="#{node.name}" />
                </h:outputLink>
            </rich:treeNode>
        </rich:tree>
        <!-- Tree END -->

    </ui:define>

</ui:composition>
