<ui:composition
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:c="http://java.sun.com/jsp/jstl/core">

  <style>
      #modalAddRepoConnectionForm .titleColumn {
          min-width: 100px;
      }
  </style>
  <rich:popupPanel id="modalAddRepoConnection" width="400" autosized="true">
    <f:facet name="header">
        <h:outputText value="Connect Production Repository" />
    </f:facet>

    <f:facet name="controls">
       <h:graphicImage value="/images/close.gif" class="close" onclick="$j('#modalAddRepoConnectionForm\\:cancelButton').click()"
            alt="Close">
       </h:graphicImage>
    </f:facet>

    <h:form id="modalAddRepoConnectionForm">
        <h:panelGrid id="modalAddRepoConnectionPanel" columns="2" columnClasses="titleColumn">
            <h:outputText value="" />
            <h:panelGroup id="messagePanel">
                <h:outputText id="errorMessage" styleClass="error" value="#{connectionProductionRepoController.errorMessage}" 
                    rendered="#{!empty connectionProductionRepoController.errorMessage}"/>
            </h:panelGroup>
            <h:outputText value="Name:"/>
            <h:inputText id="productionRepositoryName" value="#{connectionProductionRepoController.name}" styleClass="repoFieldWidth"/>
            <h:outputText value="Type:"/>
            <h:selectOneMenu value="#{connectionProductionRepoController.type}">
                <f:ajax event="change" execute="@this productionRepositoryName" render="modalAddRepoConnectionPanel" />
                <f:selectItem itemValue="local" itemLabel="Local" />
                <f:selectItem itemValue="rmi" itemLabel="Remote - RMI" />
                <f:selectItem itemValue="webdav" itemLabel="Remote - WebDav" />
                <f:selectItem itemValue="db" itemLabel="Database (JDBC)" />
                <f:selectItem itemValue="jndi" itemLabel="Database (JNDI)" />
            </h:selectOneMenu>
            <h:outputText id="productionRepositoryPathTitle"
                value="#{connectionProductionRepoController.local ? 'Directory' : 'URL'}:" />
            <h:inputText id="productionRepositoryPath"
                value="#{connectionProductionRepoController.path}" styleClass="pathInput"
                disabled="#{repository.productionRepositoryPathSystem}"/>
        
            <h:outputLabel id="secureConnectionTitle" value="Secure connection" for="secureConnection"
                           rendered="#{!connectionProductionRepoController.local}"/>
            <h:selectBooleanCheckbox id="secureConnection" value="#{connectionProductionRepoController.secure}"
                                     rendered="#{!connectionProductionRepoController.local}">
                <f:ajax event="change" execute="@form" render="modalAddRepoConnectionPanel" />
            </h:selectBooleanCheckbox>
            <h:outputText value="Login:" rendered="#{connectionProductionRepoController.secure}"/>
            <h:inputText value="#{connectionProductionRepoController.login}"
            rendered="#{connectionProductionRepoController.secure}" styleClass="repoFieldWidth"/>
            <h:outputText value="Password:" rendered="#{connectionProductionRepoController.secure}"/>
            <h:inputSecret value="#{connectionProductionRepoController.password}"
            rendered="#{connectionProductionRepoController.secure}" styleClass="repoFieldWidth"/>
        </h:panelGrid>

        <footer>
            <a4j:commandButton action="#{connectionProductionRepoController.save}"
                         styleClass="button-primary" process="@form" value="Connect" render="modalAddRepoConnectionPanel securePanel repositoryProps messagePanel errorMessage"
                         oncomplete="if(event.data.length == 0) #{rich:component('modalAddRepoConnection')}.hide(); else hideLoader();"
                         data="#{connectionProductionRepoController.errorMessage}"/>
            <a4j:commandButton id="cancelButton" action="#{connectionProductionRepoController.clearForm}"
                         value="Cancel" render="modalAddRepoConnectionPanel securePanel repositoryProps"
                         oncomplete="#{rich:component('modalAddRepoConnection')}.hide();"/>
        </footer>
    </h:form>

  </rich:popupPanel>
</ui:composition>