<ui:composition
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:c="http://java.sun.com/jsp/jstl/core">

  <rich:popupPanel id="modalCreateRepo" width="400" autosized="true">
    <f:facet name="header">
        <h:outputText value="Create Production Repository" />
    </f:facet>

    <f:facet name="controls">
        <h:graphicImage value="/images/close.gif" class="close"
            onclick="$j('#modalCreateRepoForm\\:cancelButton').click()" alt="Close">
        </h:graphicImage>
    </f:facet>

    <h:form id="modalCreateRepoForm">
        <h:panelGrid id="modalCreateRepoPanel" columns="2" columnClasses="titleColumn">
            <h:outputText value="" />
            <h:panelGroup id="messagePanel">
                <h:outputText id="errorMessage" styleClass="error" value="#{newProductionRepoController.errorMessage}" 
                    rendered="#{!empty newProductionRepoController.errorMessage}"/>
            </h:panelGroup>
            <h:outputText value="Name:" />
            <h:inputText value="#{newProductionRepoController.name}" styleClass="repoFieldWidth"/>
            <h:outputText id="productionRepositoryPathTitle"
                value="Directory:" />
            <h:inputText id="productionRepositoryPath"
                value="#{newProductionRepoController.path}" styleClass="pathInput"/>
            <h:outputLabel value="Secure connection" for="secureConnection" />
            <h:selectBooleanCheckbox id="secureConnection" value="#{newProductionRepoController.secure}">
                <f:ajax event="change" execute="@form" render="modalCreateRepoPanel" />
            </h:selectBooleanCheckbox>
            <h:outputText value="Login:" rendered="#{newProductionRepoController.secure}"/>
            <h:inputText value="#{newProductionRepoController.login}" rendered="#{newProductionRepoController.secure}"
            styleClass="repoFieldWidth"/>
            <h:outputText value="Password:" rendered="#{newProductionRepoController.secure}"/>
            <h:inputSecret value="#{newProductionRepoController.password}" rendered="#{newProductionRepoController.secure}"
            styleClass="repoFieldWidth"/>
        </h:panelGrid>

        <footer>
            <a4j:commandButton action="#{newProductionRepoController.save}" styleClass="button-primary" 
                         process="@form" value="Create" render="modalCreateRepoPanel securePanel repositoryProps messagePanel errorMessage"
                         oncomplete="if(event.data.length == 0) #{rich:component('modalCreateRepo')}.hide(); else hideLoader();"
                         data="#{newProductionRepoController.errorMessage}"/>
            <a4j:commandButton id="cancelButton" action="#{newProductionRepoController.clearForm}" onclick="#{rich:component('modalCreateRepo')}.hide();"
                            process="@form" value="Cancel" render="modalCreateRepoPanel securePanel" />
        </footer>
    </h:form>

  </rich:popupPanel>
</ui:composition>