<ui:composition
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:c="http://java.sun.com/jsp/jstl/core">

  <c:set var="availableProjects" value="#{deploymentController.projects}" />

  <rich:popupPanel id="addDeployEntry" autosized="true">
    <f:facet name="header">
        <h:outputText value="Add project" />
    </f:facet>
      <f:facet name="controls">
            <h:graphicImage value="/images/close.gif" class="close" onclick="RichFaces.$('addDeployEntry').hide();" alt="Close" />
        </f:facet>
    <h:form id="addDeployEntryForm">
        <h:panelGrid columns="2" rendered="#{not empty availableProjects}">
            <h:outputLabel for="projectName" styleClass="required" value="Name" />
            <h:selectOneMenu id="projectName" value="#{deploymentController.projectName}" style="width:250px;">
                <f:selectItems value="#{deploymentController.projects}" />
                <f:ajax event="change" render="projectVersion" execute="@this" />
            </h:selectOneMenu>
        </h:panelGrid>

        <div style="margin-top: 13px; max-height: 270px; overflow: auto;">
            <h:panelGrid styleClass="formfields" rendered="#{not empty availableProjects}" >
                <rich:dataTable id="projectVersion" value="#{deploymentController.projectVersions}" var="version" styleClass="table"
            	    columnClasses="padding" style="width: 100%">
            	    <f:facet name="header">
            	      <rich:columnGroup>
            	        <rich:column>
            	          <h:outputText value="Revision" />
            	        </rich:column>
            	        <rich:column>
            	          <h:outputText value="Comment" />
            	        </rich:column>
            	        <rich:column>
                          <h:outputText value="Action" />
                        </rich:column>
            	      </rich:columnGroup>
            	    </f:facet>
                  <rich:column style="text-align: center;">
                    <h:outputText value="#{version.versionName}" />
                    <rich:tooltip showDelay="500" rendered="#{!empty version.versionProperties}" >
                       <a4j:repeat value="#{repositoryProjectPropsBean.getVersionPropToolTip(version.versionProperties)}" var="prop">
                           <h:outputText value="#{prop.displayName} : #{prop.displayValue}"/><br/>
                       </a4j:repeat>
                    </rich:tooltip>
                  </rich:column>
                  <rich:column>
                    <h:outputText value="#{version.versionComment}" />
                  </rich:column>
                  <rich:column>
                    <h:commandButton value="Add" action="#{deploymentController.addItem(version.versionName)}"
                        immediate="true" styleClass="button-primary" />
                  </rich:column>
              </rich:dataTable>

            </h:panelGrid>
        </div>

        <h:panelGrid columns="1" styleClass="formfields" rendered="#{empty availableProjects}">
            <h:outputText value="There is no more project to add" />
            <br/>
        </h:panelGrid>

        <footer>

        <h:panelGroup rendered="#{not empty availableProjects}">
          <input type="button" value="Cancel" onclick="#{rich:component('addDeployEntry')}.hide();" />
        </h:panelGroup>

        <h:panelGroup rendered="#{empty availableProjects}">
            <input type="button" value="OK" onclick="#{rich:component('addDeployEntry')}.hide();" />
        </h:panelGroup>
        </footer>
    </h:form>

  </rich:popupPanel>

  <script>
    function showAddDeployEntry() {
      var projectSelector = document.getElementById('addDeployEntryForm:projectName');
      if(projectSelector){
    	projectSelector.onchange();  
      }
      RichFaces.$('addDeployEntry').show();
    }
  </script>
</ui:composition>
