<ui:composition
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ui="http://java.sun.com/jsf/facelets">

  <rich:popupPanel id="modalCloseProject" width="400" autosized="true">
    <f:facet name="header">
      <h:outputText value="Confirm Close" />
    </f:facet>

    <f:facet name="controls">
      <h:graphicImage value="/images/close.gif" class="close" onclick="RichFaces.$('modalCloseProject').hide();" alt="Close" />
    </f:facet>

    <h:form id="closeProjectForm">
      <h:panelGroup id="modalCloseProjectData">
          <h:panelGroup rendered="#{repositoryTreeState.selectedProjectModified}">
              <div>
                  <h:outputText value="Project '#{node.name}' is modified, if you close it, all changes will be lost." />
              </div>
              <div>
                  <h:outputText value="Are you sure you want to close the project '#{node.name}' without saving?" />
              </div>
          </h:panelGroup>
        <h:panelGroup rendered="#{not repositoryTreeState.selectedProjectModified}">
            <h:outputText value="Project '#{node.name}' will be removed from the workspace." />
        </h:panelGroup>
        <h:panelGroup rendered="#{repositoryTreeState.canClose and repositoryTreeController.hasDependingProjects}">
            <div>
                <h:outputText value="NOTE: Project " rendered="#{fn:length(repositoryTreeController.dependingProjects) == 1}"/>
                <h:outputText value="NOTE: Projects " rendered="#{fn:length(repositoryTreeController.dependingProjects) > 1}"/>
                <ui:repeat value="#{repositoryTreeController.dependingProjects}" var="project" varStatus="i">
                    <h:outputText value="'#{project}'#{i.last ? '' : ', '}"/>
                </ui:repeat>
                <h:outputText value=" which has dependency on this project is still opened." rendered="#{fn:length(repositoryTreeController.dependingProjects) == 1}"/>
                <h:outputText value=" which have dependency on this project are still opened." rendered="#{fn:length(repositoryTreeController.dependingProjects) > 1}"/>
            </div>
        </h:panelGroup>
      </h:panelGroup>

      <footer>
        <h:commandButton value="Close Project" action="#{repositoryTreeController.closeProject}" styleClass="button-primary" />
        <input type="button" value="Cancel" onclick="#{rich:component('modalCloseProject')}.hide();" />
      </footer>
    </h:form>

  </rich:popupPanel>

</ui:composition>
