<ui:composition
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ui="http://java.sun.com/jsf/facelets">

  <rich:popupPanel id="modalCloseDeployConfiguration" width="400" autosized="true">
    <f:facet name="header">
      <h:outputText value="Confirm Close" />
    </f:facet>

    <f:facet name="controls">
      <h:graphicImage value="/images/close.gif" class="close" onclick="RichFaces.$('modalCloseDeployConfiguration').hide();" alt="Close" />
    </f:facet>

    <h:form id="closeDeployConfigurationForm">
      <h:panelGroup id="modalCloseDeployConfigurationData">
          <h:panelGroup>
              <div>
                  <h:outputText value="Deploy configuration '#{node.name}' is modified, if you close it, all changes will be lost." />
              </div>
              <div>
                  <h:outputText value="Are you sure you want to close the deploy configuration '#{node.name}' without saving?" />
              </div>
          </h:panelGroup>
      </h:panelGroup>

      <footer>
        <h:commandButton value="Close Deploy Configuration" action="#{deploymentController.close}" styleClass="button-primary" />
        <input type="button" value="Cancel" onclick="#{rich:component('modalCloseDeployConfiguration')}.hide();" />
      </footer>
    </h:form>

  </rich:popupPanel>

</ui:composition>
