<ui:composition
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:ui="http://java.sun.com/jsf/facelets">

  <rich:popupPanel id="modalCopyDeploymentProject" width="400" autosized="true">
    <f:facet name="header">
      <h:outputText value="Copy Deploy Configuration" />
    </f:facet>

    <f:facet name="controls">
      <h:graphicImage value="/images/close.gif" class="close"
        onclick="RichFaces.$('modalCopyDeploymentProject').hide();" alt="Close" />
    </f:facet>

    <h:form id="copyDeploymentProjectForm">
      <h:panelGroup id="modalCopyDeploymentProjectData">
        <h:panelGrid columns="2" styleClass="formfields" cellspacing="1" columnClasses="label,">
          <h:outputText value="Project Name" />
          <input id="deploymentProjectName1" value="#{artefact.name}" type="text" size="35" readonly="readonly" title="#{artefact.name}"/>
          <h:outputLabel for="newProjectName" styleClass="required" value="New Project Name" />
          <h:inputText id="newProjectName" size="35"
              maxlength="50"
              value="#{repositoryTreeController.newProjectName}"
              onkeyup="#{rich:element('copyDProject')}.disabled = (this.value.trim().length == 0);" />
        </h:panelGrid>

        <h:inputHidden id="hiddenProjectName" value="#{repositoryTreeController.projectName}" />
      </h:panelGroup>

      <footer>
        <h:commandButton id="copyDProject" value="Copy" action="#{repositoryTreeController.copyDeploymentProject}" styleClass="button-primary" />
        <input type="button" value="Cancel" onclick="RichFaces.$('modalCopyDeploymentProject').hide();" />
      </footer>
    </h:form>
  </rich:popupPanel>

  <script>
    #{rich:element('copyDProject')}.disabled = true;

    function openCopyDeploymentProjectDialog(projectName) {
      if (projectName) {
        var el = document.getElementById('deploymentProjectName1');
        el.value = projectName;
        el.title = projectName;
      }
      RichFaces.$('modalCopyDeploymentProject').show();
      focusElement('copyDeploymentProjectForm:newProjectName');
      document.getElementById('copyDeploymentProjectForm:hiddenProjectName').value = document.getElementById('deploymentProjectName1').value;
    }
  </script>
</ui:composition>
