<ui:composition
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ui="http://java.sun.com/jsf/facelets">

  <rich:popupPanel id="modalNewDProject" width="400" autosized="true">
    <f:facet name="header">
      <h:outputText value="New Deploy Configuration" />
    </f:facet>

    <f:facet name="controls">
      <h:graphicImage value="/images/close.gif" class="close"
        onclick="#{rich:component('modalNewDProject')}.hide();" alt="Close" />
    </f:facet>

    <h:form id="newDProjectForm">
      <h:panelGrid columns="2" styleClass="formfields" cellspacing="1" columnClasses="label,">
        <h:outputLabel for="projectName" styleClass="required" value="Name" />
        <h:inputText id="projectName" size="30" maxlength="50" value="#{repositoryTreeController.projectName}"/>
      </h:panelGrid>

      <footer>
        <h:commandButton value="Create" action="#{repositoryTreeController.createDeploymentConfiguration}" styleClass="button-primary" />
        <input type="button" value="Cancel" onclick="clearNewDProjectFormProjName(); #{rich:component('modalNewDProject')}.hide();" />
      </footer>
    </h:form>
  </rich:popupPanel>

  <script>
    function openNewDeploymentProjectDialog() {
      RichFaces.$('modalNewDProject').show();
      focusElement("newDProjectForm:projectName");
    }
    
    function clearNewDProjectFormProjName() {
        $j("#newDProjectForm\\:projectName").val("");
    }
  </script>

</ui:composition>
