<ui:composition
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:ui="http://java.sun.com/jsf/facelets" >

    <style>
        .table-templates {
            width: 100%;
        }
        .table-templates th {
            padding: 8px 5px;
            border-bottom: 1px solid #ddd;
        }
        .table-templates td {
            padding: 7px 7px 7px 15px;
            border: 1px solid #fff;
        }
    </style>

    <rich:popupPanel id="modalNewProject" autosized="true" width="500">
        <f:facet name="header">
            <h:outputText value="Create Project from..." />
        </f:facet>

        <f:facet name="controls">
            <h:graphicImage value="/images/close.gif" class="close" onclick="hideNewProjectDialog()" alt="Close" />
        </f:facet>

        <rich:tabPanel switchType="client">

            <rich:tab header="Template">
                <h:form id="createProjectFormTempl" style="padding-top: 4px">
                    <table class="formfields" cellspacing="1">
                        <tr>
                        <td class="label" style="width: 65px">
                            <h:outputLabel styleClass="required" value="Project Template" />
                        </td>
                        <td>
                            <div style="height: 243px; overflow: auto; border: 1px solid #ccc; margin-top: 2px">
                                <table id="projectTemplates" class="table table-over table-templates">
                                    <ui:repeat var="category" value="#{repositoryTreeController.getCustomProjectCategories()}">
                                        <tr><th>#{category}</th></tr>
                                        <ui:repeat var="template" value="#{repositoryTreeController.getCustomProjectTemplates(category)}">
                                            <tr><td>
                                                <input type="hidden" value="custom/#{category}/#{template}" />
                                                <span>#{template}</span>
                                            </td></tr>
                                        </ui:repeat>
                                    </ui:repeat>
                                    <tr><th>Simple Templates</th></tr>
                                    <ui:repeat var="template" value="#{repositoryTreeController.getProjectTemplates('templates')}">
                                        <tr><td>
                                            <input type="hidden" value="predefined/templates/#{template}" />
                                            <span>#{template}</span>
                                        </td></tr>
                                    </ui:repeat>
                                    <tr><th>Examples</th></tr>
                                    <ui:repeat var="template" value="#{repositoryTreeController.getProjectTemplates('examples')}">
                                        <tr><td>
                                            <input type="hidden" value="predefined/examples/#{template}" />
                                            <span>#{template}</span>
                                        </td></tr>
                                    </ui:repeat>
                                    <tr><th>Tutorials</th></tr>
                                    <ui:repeat var="template" value="#{repositoryTreeController.getProjectTemplates('tutorials')}">
                                        <tr><td>
                                            <input type="hidden" value="predefined/tutorials/#{template}" />
                                            <span>#{template}</span>
                                        </td></tr>
                                    </ui:repeat>
                                </table>
                            </div>
                        </td>
                        </tr>
                        <tr>
                        <td class="label" style="width: 65px">
                            <h:outputLabel for="projectName" styleClass="required" value="Project Name" />
                        </td>
                            <td><h:inputText id="projectName"
                                    size="35" maxlength="70"
                                    value="#{repositoryTreeController.projectName}"
                                    onkeyup="enableCreateButton(this.value.length > 0, #{rich:element('sbtTemplates')});" />
                            </td>
                        </tr>
                    </table>

                    <h:inputHidden id="projectTemplate" value="#{repositoryTreeController.newProjectTemplate}" />

                    <footer>
                        <h:commandButton id="sbtTemplates" value="Create" styleClass="button-primary"
                            action="#{repositoryTreeController.createNewRulesProject}" />
                        <input type="button" value="Cancel" onclick="hideNewProjectDialog()" />
                    </footer>
                </h:form>
            </rich:tab>

            <rich:tab header="Excel Files">
                <h:form id="createProjectFormFiles" style="padding-top: 6px">
                    <h:panelGrid columns="2" styleClass="formfields" cellspacing="1" columnClasses="label,">
                        <h:outputLabel for="file" styleClass="required" value="File" />

                        <rich:fileUpload id="file" fileUploadListener="#{repositoryTreeController.uploadListener}"
                            acceptedTypes="xls, xlsx, xlsm" />

                        <h:outputLabel for="projectName" styleClass="required" value="Project Name" />
                        <h:inputText id="projectName" size="35"
                            maxlength="50"
                            value="#{repositoryTreeController.projectName}"
                            onkeyup="enableCreateButton(this.value.length > 0, #{rich:element('sbtFiles')});" />
                    </h:panelGrid>

                    <footer>
                        <h:commandButton id="sbtFiles" value="Create" styleClass="button-primary"
                            action="#{repositoryTreeController.createProjectWithFiles}" />
                        <input type="button" value="Cancel" onclick="hideNewProjectDialog()" />
                    </footer>
                </h:form>
            </rich:tab>

            <rich:tab header="Zip Archive">
                <h:form id="uploadProjectForm" style="padding-top: 6px">
                <h:panelGrid columns="2" styleClass="formfields" cellspacing="1" columnClasses="label,">
                    <h:outputLabel for="file" styleClass="required" value="File" />

                    <rich:fileUpload id="file" fileUploadListener="#{repositoryTreeController.uploadListener}"
                        acceptedTypes="zip" maxFilesQuantity="1" >
                            <a4j:ajax event="uploadcomplete"
                                execute="@none"
                                render="projectName"
                                oncomplete="enableCreateButton(#{rich:element('uploadProjectForm:projectName')}.value.length > 0, #{rich:element('sbtZips')});" />
                        </rich:fileUpload>

                    <h:outputLabel for="projectName" styleClass="required" value="Project Name" />
                        <h:inputText id="projectName" size="35"
                            maxlength="50"
                            value="#{repositoryTreeController.projectName}"
                            onkeyup="enableCreateButton(this.value.length > 0, #{rich:element('sbtZips')});" />
                    </h:panelGrid>

                <footer>
                    <h:commandButton id="sbtZips" value="Create" action="#{repositoryTreeController.upload}"
                        styleClass="button-primary" />
                    <input type="button" value="Cancel" onclick="hideNewProjectDialog()" />
                </footer>
                </h:form>
            </rich:tab>

            <rich:tab header="Workspace">
                <h:form id="uploadWorkspaceProjectForm" prependId="false" style="padding-top: 6px">
                    <div style="max-height: 286px; overflow:auto">
                    <h:panelGrid style="width: 100%" id="uploadPrjFromLocalDiv">
                        <rich:dataTable value="#{localUpload.projects4Upload}"
                            rendered="#{not empty localUpload.projects4Upload}"
                            var="item" styleClass="table" id="uploadPrjFromLocalTable" style="width: 98%">
                            <f:facet name="header">
                                <rich:columnGroup>
                                    <rich:column>
                                        <h:selectBooleanCheckbox id="selectAll" title="Select/Deselect All'" value="#{localUpload.selectAll}"
                                        onclick="changeStatus(this);"/>
                                    </rich:column>
                                    <rich:column>
                                        <h:outputText value="Name" />
                                    </rich:column>
                                </rich:columnGroup>
                            </f:facet>

                            <rich:column style="text-align: center; width: 20px;">
                                <h:selectBooleanCheckbox value="#{item.selected}" onclick="changeAllProjectCheck(this)" />
                            </rich:column>
                            <rich:column>
                                <h:outputText value="#{item.projectName}" />
                            </rich:column>
                        </rich:dataTable>
                    </h:panelGrid>
                    <h:panelGrid id="uploadPrjFromLocalMessageDiv">
	                    <h:outputText value="All projects are already in repository"
	                        rendered="#{empty localUpload.projects4Upload}" />
                    </h:panelGrid>
                    </div>

                    <h:panelGroup id="localUploadButtonPanel">
                    <footer>
                        <a4j:commandButton id="sbtWorkspace" action="#{localUpload.upload}" styleClass="button-primary"
                        rendered="#{not empty localUpload.projects4Upload}" process="@form" value="Create"
                        oncomplete="hideNewProjectDialog()"
                        render="uploadWorkspaceProjectForm uploadPrjFromLocalMessageDiv"/>
                        <input type="button" value="Cancel" onclick="hideNewProjectDialog()" />
                    </footer>
                    </h:panelGroup>
                </h:form>
            </rich:tab>

        </rich:tabPanel>
    </rich:popupPanel>

    <script>

        // TODO Move code to namespace

        enableCreateButton(false, #{rich:element("sbtFiles")});
        enableCreateButton(false, #{rich:element("sbtZips")});
        enableCreateButton(false, #{rich:element("sbtWorkspace")});
        
        #{rich:element("createProjectFormFiles:projectName")}.onpaste=function(){enableCreateButton(true, #{rich:element("sbtFiles")});}
        #{rich:element("uploadProjectForm:projectName")}.onpaste=function(){enableCreateButton(true, #{rich:element("sbtZips")});}

        function enableCreateButton(enable, button) {
            if (button) {
                button.disabled = !enable;
            }
        }

        function openNewProjectDialog() {
            RichFaces.$("modalNewProject").show();
            focusElement("createProjectFormTempl:projectName");
        }

        function hideNewProjectDialog() {
            $j("#createProjectFormTempl\\:projectName").val("");
            initTemplates();

            $j("#createProjectFormFiles\\:projectName").val("");
            $j("#uploadProjectForm\\:projectName").val("");

            RichFaces.$("modalNewProject").hide();
        }

        function changeStatus(element) {
            $j("#uploadWorkspaceProjectForm INPUT[type='checkbox']").prop("checked", element.checked);
            enableCreateButton(element.checked, #{rich:element('sbtWorkspace')});
        }

        function changeAllProjectCheck(element) {
            if($j("#uploadWorkspaceProjectForm INPUT[id='uploadPrjFromLocalTable:selectAll']:checked").val() == "on") {
                if( !element.checked ) {
                    $j("#uploadWorkspaceProjectForm INPUT[id='uploadPrjFromLocalTable:selectAll']").prop("checked", element.checked);
                }
            }

            checkedCount = $j("#uploadWorkspaceProjectForm INPUT[type='checkbox']:checked").not("INPUT[id='uploadPrjFromLocalTable:selectAll']").size();
            allCount = $j("#uploadWorkspaceProjectForm INPUT[type='checkbox']").not("INPUT[id='uploadPrjFromLocalTable:selectAll']").size()

            if (checkedCount == allCount) {
                $j("#uploadWorkspaceProjectForm INPUT[id='uploadPrjFromLocalTable:selectAll']").prop("checked", true);
            }

            enableCreateButton(checkedCount != 0, #{rich:element('sbtWorkspace')});
        }

        function uncheckSelectAllProject() {
            $j("#uploadWorkspaceProjectForm INPUT[id='uploadPrjFromLocalTable:selectAll']").prop("checked", false);
        }

        //<![CDATA[
        
        var selectedTemplate;

        function initTemplates() {
            selectTemplate($j("#projectTemplates").find("td:first"));
        }

        function selectTemplate(newTemplate) {
            selectedTemplate && selectedTemplate.removeClass("row-selected");
            selectedTemplate = newTemplate;
            selectedTemplate.addClass("row-selected");

            $j("#createProjectFormTempl\\:projectTemplate").val(selectedTemplate.find("input").val());
            $j("#createProjectFormTempl\\:projectName").val(selectedTemplate.find("span").text());
        }

        initTemplates();

        $j("#projectTemplates").on("click", "td", function() {
            selectTemplate($j(this));
        });

        //]]>

    </script>

</ui:composition>
