<ui:composition
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ui="http://java.sun.com/jsf/facelets">

  <rich:popupPanel id="modalDeleteNode" width="400" autosized="true">
    <f:facet name="header">
      <h:outputText value="Confirm Delete" />
    </f:facet>

    <f:facet name="controls">
      <h:graphicImage value="/images/close.gif" class="close"
        onclick="RichFaces.$('modalDeleteNode').hide();" alt="Close" />
    </f:facet>

    <h:form id="deleteNodeForm">
      <h:panelGroup id="modalDeleteNodeData">
        <ui:param name="node" value="#{repositoryTreeController.selectedNode}" />

        <h:outputText rendered="#{node.type == 'project' || node.type == 'deployment'}"
          value="Are you sure you want to delete the project '#{node.name}'?" />
        <h:outputText rendered="#{node.type == 'folder'}"
          value="Are you sure you want to delete the folder '#{node.name}'?" />
        <h:outputText rendered="#{node.type == 'file'}"
          value="Are you sure you want to delete the file '#{node.name}'?" />

        <h:panelGroup rendered="#{node.type == 'project' and repositoryTreeController.hasDependingProjects}">
            <div>
                <h:outputText value="NOTE: Project " rendered="#{fn:length(repositoryTreeController.dependingProjects) == 1}"/>
                <h:outputText value="NOTE: Projects " rendered="#{fn:length(repositoryTreeController.dependingProjects) > 1}"/>
                <ui:repeat value="#{repositoryTreeController.dependingProjects}" var="project" varStatus="i">
                    <h:outputText value="'#{project}'#{i.last ? '' : ', '}"/>
                </ui:repeat>
                <h:outputText value=" which has dependency on this project is still opened." rendered="#{fn:length(repositoryTreeController.dependingProjects) == 1}"/>
                <h:outputText value=" which have dependency on this project are still opened." rendered="#{fn:length(repositoryTreeController.dependingProjects) > 1}"/>
            </div>
        </h:panelGroup>

      </h:panelGroup>

      <footer>
        <h:commandButton value="Delete" action="#{repositoryTreeController.deleteNode}" styleClass="button-primary" />
        <input type="button" value="Cancel" onclick="#{rich:component('modalDeleteNode')}.hide();" />
      </footer>
    </h:form>

  </rich:popupPanel>

</ui:composition>
