<ui:composition
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ui="http://java.sun.com/jsf/facelets">

  <rich:popupPanel id="modalEditProject" width="400" autosized="true">
    <f:facet name="header">
      <h:outputText value="Confirm Edit" />
    </f:facet>

    <f:facet name="controls">
      <h:graphicImage value="/images/close.gif" class="close" onclick="RichFaces.$('modalEditProject').hide();" alt="Close" />
    </f:facet>

    <h:form id="editProjectForm">
      <h:panelGroup id="modalEditProjectData">
        <h:outputText value="NOTE: Project data in the workspace will be replaced by data that will be opened from repository."  rendered="#{repositoryTreeState.canEdit and not repositoryTreeController.hasDependencies}"/>

        <h:panelGrid columns="2" rendered="#{repositoryTreeState.canEdit and repositoryTreeController.hasDependencies}">
          <h:panelGroup>
            <h:outputText value="Would you like to open dependecies too? Project(s) to open: "/>
            <ui:repeat value="#{repositoryTreeController.dependencies}" var="project" varStatus="i">
                <h:outputText value="'#{project}'#{i.last ? '' : ', '}"/>
            </ui:repeat>
          </h:panelGroup>
          <h:selectBooleanCheckbox value="#{repositoryTreeController.openDependencies}" title="Open dependencies" />
        </h:panelGrid>
      </h:panelGroup>

      <footer>
        <h:commandButton value="Edit Project" action="#{repositoryTreeController.editProject}" styleClass="button-primary" />
        <input type="button" value="Cancel" onclick="#{rich:component('modalEditProject')}.hide();" />
      </footer>
    </h:form>

  </rich:popupPanel>

</ui:composition>
