<ui:composition
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ui="http://java.sun.com/jsf/facelets">

  <rich:popupPanel id="modalEraseProject" width="250" autosized="true">
    <f:facet name="header">
      <h:outputText value="Confirm Erase" />
    </f:facet>

    <f:facet name="controls">
      <h:graphicImage value="/images/close.gif" class="close" onclick="RichFaces.$('modalEraseProject').hide();" alt="Close" />
    </f:facet>

    <h:form id="eraseProjectForm">
      <h:outputText value="Are you sure you want to erase the project?" />

      <footer>
        <h:commandButton value="Erase" action="#{repositoryTreeController.eraseProject}" styleClass="button-primary" />
        <input type="button" value="Cancel" onclick="#{rich:component('modalEraseProject')}.hide();" />
      </footer>
    </h:form>
  </rich:popupPanel>

  <script>
    function confirmEraseProject() {
      RichFaces.$('modalEraseProject').show();
    }
  </script>
</ui:composition>
