<ui:composition
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:ui="http://java.sun.com/jsf/facelets">

  <rich:popupPanel id="modalExportVersion" width="400" autosized="true">
    <f:facet name="header">
      <h:outputText value="Export" />
    </f:facet>

    <f:facet name="controls">
      <h:graphicImage value="/images/close.gif" class="close" onclick="RichFaces.$('modalExportVersion').hide();" alt="Close" />
    </f:facet>

    <h:form id="exportVersionForm">
      <h:panelGrid columns="2" styleClass="formfields" cellspacing="1" columnClasses="label," id="modalExportVersionData">
        <h:outputText value="Project Name" />
        <h:outputText value="#{artefact.name}" />
        <h:outputLabel for="projectVersion" styleClass="required" value="Project Revision" />
        <h:selectOneMenu id="projectVersion" value="#{repositoryTreeController.version}" required="true">
            <f:selectItems value="#{repositoryTreeController.selectedProjectVersions}" />
        </h:selectOneMenu>
      </h:panelGrid>

      <footer>
        <h:commandButton value="Export" action="#{repositoryTreeController.exportProjectVersion}"
            onclick="RichFaces.$('modalExportVersion').hide();" styleClass="button-primary" />
        <input type="button" value="Cancel" onclick="RichFaces.$('modalExportVersion').hide();" />
      </footer>
    </h:form>

  </rich:popupPanel>

  <script>
    function openExportVersionDialog() {
        RichFaces.$('modalExportVersion').show();
        focusElement('exportVersionForm:projectVersion');
    }
  </script>
</ui:composition>
