<ui:composition
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:ui="http://java.sun.com/jsf/facelets">

  <rich:popupPanel id="modalExportFile" width="400" autosized="true">
    <f:facet name="header">
      <h:outputText value="Export file" />
    </f:facet>

    <f:facet name="controls">
      <h:graphicImage value="/images/close.gif" class="close" onclick="RichFaces.$('modalExportFile').hide();" alt="Close" />
    </f:facet>

    <h:form id="exportFileForm">
      <h:panelGrid columns="2" styleClass="formfields" cellspacing="1" columnClasses="label," id="modalExportFileData">
        <h:outputText value="File Name" />
        <h:outputLabel id="exportingFileName" value="#{node.name}" />
        <h:outputLabel for="fileVersion" styleClass="required" value="File Revision" />
        <h:selectOneMenu id="fileVersion" value="#{repositoryTreeController.version}" required="true">
            <f:selectItems value="#{node.selectedFileVersions}" />
        </h:selectOneMenu>
      </h:panelGrid>

      <footer>
        <h:commandButton value="Export" action="#{repositoryTreeController.exportFileVersion}"
            onclick="RichFaces.$('modalExportFile').hide();" styleClass="button-primary" />
        <input type="button" value="Cancel" onclick="RichFaces.$('modalExportFile').hide();" />
      </footer>
    </h:form>

  </rich:popupPanel>

  <script>
    function openExportFileDialog() {
        RichFaces.$('modalExportFile').show();
        focusElement('exportFileForm:fileVersion');
    }
  </script>
</ui:composition>
