<ui:composition
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:ui="http://java.sun.com/jsf/facelets">

  <rich:popupPanel id="modalOpenVersion" width="400" autosized="true">
    <f:facet name="header">
      <h:outputText value="Open Revision" />
    </f:facet>

    <f:facet name="controls">
      <h:graphicImage value="/images/close.gif" class="close" onclick="RichFaces.$('modalOpenVersion').hide();" alt="Close" />
    </f:facet>

    <h:form id="openVersionForm">
      <h:panelGroup id="modalOpenVersionData">
          <h:panelGrid columns="2" styleClass="formfields" cellspacing="1" columnClasses="label,">
            <h:outputText value="Project Name" />
            <input value="#{artefact.name}" type="text" size="35" readonly="true" title="#{artefact.name}"/>
            <h:outputLabel for="projectVersion" styleClass="required" value="Project Revision" />
            <h:selectOneMenu id="projectVersion" value="#{repositoryTreeController.version}" required="true">
                <f:selectItems value="#{repositoryTreeController.selectedProjectVersions}" />
                <f:ajax event="change" render="@form" execute="@form"/>
            </h:selectOneMenu>
            <h:panelGroup rendered="#{repositoryTreeController.hasDependenciesForVersion}">
                <h:outputText value="Would you like to open dependecies too? Project(s) to open: "/>
                <ui:repeat value="#{repositoryTreeController.dependencies}" var="project" varStatus="i">
                    <h:outputText value="'#{project}'#{i.last ? '' : ', '}"/>
                </ui:repeat>
            </h:panelGroup>
            <h:selectBooleanCheckbox value="#{repositoryTreeController.openDependencies}" title="Open dependencies" rendered="#{repositoryTreeController.hasDependenciesForVersion}"/>
          </h:panelGrid>
    
          <h:panelGroup rendered="#{node.type == 'project' and artefact.opened and systemConfig['user.mode'] == 'single'}">
            <br />
            <h:outputText value="NOTE: Project data in the workspace will be replaced by the data of specified revision that will be opened from repository." />
            <br />
          </h:panelGroup>
      </h:panelGroup>

      <footer>
        <h:commandButton value="Open" action="#{repositoryTreeController.openProjectVersion}" styleClass="button-primary" />
        <input type="button" value="Cancel" onclick="RichFaces.$('modalOpenVersion').hide();" />
      </footer>
    </h:form>

  </rich:popupPanel>

  <script>
    function openOpenVersionDialog() {
        RichFaces.$('modalOpenVersion').show();
        focusElement('openVersionForm:projectVersion');
    }
  </script>
</ui:composition>
