<ui:composition
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ui="http://java.sun.com/jsf/facelets">

  <rich:popupPanel id="modalRepFilter" width="300" autosized="true">
    <f:facet name="header">
      <h:outputText value="Advanced Filter"/>
    </f:facet>

    <f:facet name="controls">
      <h:graphicImage value="/images/close.gif" class="close" onclick="RichFaces.$('modalRepFilter').hide();" alt="Close"/>
    </f:facet>

    <h:form id="filterForm">
      <table>
        <tr>
          <td>Filter files by extensions (comma-separated)</td>
          <td>
            <h:inputText id="filter" value="#{repositoryTreeController.filterString}" />
          </td>
        </tr>
        <tr>
          <td>Hide deleted projects</td>
          <td>
            <h:selectBooleanCheckbox id="hideDeleted" value="#{repositoryTreeController.hideDeleted}"
                style="margin:0" />
          </td>
        </tr>
      </table>

      <footer>
        <h:commandButton value="Apply" action="#{repositoryTreeController.filter}" styleClass="button-primary" />
        <input type="button" value="Cancel" onclick="#{rich:component('modalRepFilter')}.hide();" />
      </footer>
    </h:form>
  </rich:popupPanel>

  <script>
    function showRepFilterDialog() {
        RichFaces.$('modalRepFilter').show();
        focusElement('filterForm:filter');
    }
  </script>

</ui:composition>