<ui:composition
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ui="http://java.sun.com/jsf/facelets">

  <rich:popupPanel id="modalSelectRepository" width="210" autosized="true">
    <f:facet name="header">
      <h:outputText value="Select a production repository" style="padding: 2px;"/>
    </f:facet>

    <f:facet name="controls">
      <h:graphicImage value="/images/close.gif" class="close" onclick="closeSelectRepository();" alt="Close" />
    </f:facet>

    <h:form id="selectRepositoryForm">
      <h:selectOneMenu value="#{deploymentController.repositoryConfigName}">
        <f:selectItems value="#{deploymentController.repositories}" var="repository" itemValue="#{repository.configName}" itemLabel="#{repository.name}"/>
      </h:selectOneMenu>

      <footer>
        <h:commandButton id="deployBtn" value="Deploy" action="#{deploymentController.deploy}" styleClass="button-primary" />
        <input id="cancelBtn" type="button" value="Cancel" onclick="closeSelectRepository();" />
      </footer>
    </h:form>
  </rich:popupPanel>

  <script>
    function openSelectRepositoryDialog() {
      RichFaces.$('modalSelectRepository').show();
      window._deployInProgress = false;
    }

    function closeSelectRepository() {
      if (window._deployInProgress) return;
      RichFaces.$('modalSelectRepository').hide();
    }

  </script>
</ui:composition>
