<ui:composition
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ui="http://java.sun.com/jsf/facelets">

  <rich:popupPanel id="modalSmartRedeploy" width="400" autosized="true">
    <f:facet name="header">
      <h:outputText value="Auto Deploy" />
    </f:facet>

    <f:facet name="controls">
      <h:graphicImage value="/images/close.gif" class="close" onclick="closeSmartRedeploy();" alt="Close" />
    </f:facet>

    <h:form id="smartRedeployForm">
      <h:panelGroup style="width:380px; height:180px; overflow:auto;" id="modalSmartRedeployData">
      <h:panelGroup layout="block" style="margin: 0px 7px">
        <h:outputText value="Repository: " />
        <h:selectOneMenu value="#{smartRedeployController.repositoryConfigName}">
          <f:selectItems value="#{smartRedeployController.repositories}" var="repository"
            itemValue="#{repository.configName}" itemLabel="#{repository.name}"/>
          <f:ajax event="change" render="@form" execute="@this"/>
        </h:selectOneMenu>
      </h:panelGroup>

      <h:outputText value="Wait..." rendered="#{smartRedeployController.loading}" style="margin: 25px 0px"/>
      <h:outputText value="There are no deploy configurations containing project '#{repositoryTreeState.selectedProject.name}'" rendered="#{!smartRedeployController.loading and empty smartRedeployController.items}" style="margin: 25px 0px"/>
      <rich:dataTable id="smartRedeployTable" value="#{smartRedeployController.items}" var="item"
        styleClass="table" rendered="#{not empty smartRedeployController.items}" style="margin: 25px 0px">
        <f:facet name="header">
          <rich:columnGroup>
            <rich:column>
                <h:selectBooleanCheckbox id="allDeploymentsCheck" value="#{smartRedeployController.selectAll4SmartRedeploy}" onclick="showLoader();" title="Select All" >
                  <f:ajax event="change" render="@form" execute="@this"/>
                </h:selectBooleanCheckbox>
            </rich:column>
            <rich:column>
              <h:outputText value="Deploy Configuration" />
            </rich:column>
            <rich:column>
              <h:outputText value="Message" />
            </rich:column>
          </rich:columnGroup>
        </f:facet>

        <rich:column style="text-align: center">
          <h:selectBooleanCheckbox value="#{item.selected}" disabled="#{item.disabled}" onclick="showLoader();">
            <f:ajax event="click" render="@form" execute="@this"/>
          </h:selectBooleanCheckbox>
        </rich:column>
        <rich:column>
          <h:outputText value="#{item.name}" styleClass="#{item.styleForName}" />
        </rich:column>
        <rich:column>
          <h:outputText value="#{item.messages}" escape="false" styleClass="#{item.styleForMessages}" />
        </rich:column>
      </rich:dataTable>
      </h:panelGroup>

      <h:panelGrid id="processing" columns="2" cellpadding="4" cellspacing="0"
        styleClass="dr-mpnl-pnl"
        style="width:100px; height:28px; position:absolute; top:42px; left:190px; border-width:2px; visibility:hidden;" >
        <h:graphicImage value="/webresource/images/ajax-loader.gif" alt="Waiting" />
        <h:outputText value="Processing..." />
      </h:panelGrid>

      <footer>
        <h:commandButton id="smartRedeployBtn" value="Deploy" onclick="return startSmartRedeploy();" action="#{smartRedeployController.redeploy}"
            disabled="#{!smartRedeployController.projectHasSelectedItems}" styleClass="button-primary" />
        <h:commandButton id="cancelBtn" value="Cancel" action="#{smartRedeployController.reset}"/>
      </footer>
    </h:form>
  </rich:popupPanel>

    <script>
        function openSmartRedeployDialog() {
            RichFaces.$('modalSmartRedeploy').show();
            window._smartRedeployInProgress = false;
        }

        function isEmptySelection4SmartRedeploy() {
            var table = document.getElementById('smartRedeployForm:smartRedeployTable');

            if (table) {
                for (var i = 0; i &lt; table.childNodes[2].childNodes.length; i++) {
                    if (table.childNodes[2].childNodes[i].firstChild.firstChild.checked) {
                        return false;
                    }
                }
            }

            return true;
        }

    function closeSmartRedeploy() {
      if (window._smartRedeployInProgress) return;
      RichFaces.$('modalSmartRedeploy').hide();
    }

    function startSmartRedeploy() {
      if (window._smartRedeployInProgress) return false;
      if (isEmptySelection4SmartRedeploy()) return false;
      window._smartRedeployInProgress = true;

      document.getElementById('smartRedeployForm:cancelBtn').disabled = true;
      document.getElementById('smartRedeployForm:processing').style.visibility = 'visible';

      return true;
    }

  </script>
</ui:composition>
