<ui:composition
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ui="http://java.sun.com/jsf/facelets">

  <rich:popupPanel id="modalUndeleteProject" width="400" zindex="2000" autosized="true">
    <f:facet name="header">
      <h:outputText value="Confirm Undelete" />
    </f:facet>

    <f:facet name="controls">
      <h:graphicImage value="/images/close.gif" class="close" onclick="RichFaces.$('modalUndeleteProject').hide();" alt="Close" />
    </f:facet>

    <h:form id="modalUndeleteProjectForm">
      <h:outputText value="Are you sure you want to undelete the project?" />

      <footer>
        <h:commandButton value="Undelete" action="#{repositoryTreeController.undeleteProject}" styleClass="button-primary" />
        <input type="button" value="Cancel" onclick="#{rich:component('modalUndeleteProject')}.hide();" />
      </footer>
    </h:form>

  </rich:popupPanel>

  <script>
    function confirmUndeleteProject() {
      RichFaces.$('modalUndeleteProject').show();
    }
  </script>

</ui:composition>
