<ui:composition
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ui="http://java.sun.com/jsf/facelets">

  <rich:popupPanel id="modalNewFile" width="500" autosized="true">
    <f:facet name="header">
      <h:outputText value="Upload File" />
    </f:facet>

    <f:facet name="controls">
      <h:graphicImage value="/images/close.gif" class="close"
        onclick="RichFaces.$('modalNewFile').hide();" alt="Close" />
    </f:facet>
    
    <h:form id="newFileForm" >
        <h:panelGrid id="newFilePanel" columns="2" styleClass="formfields" cellspacing="1" columnClasses="label,">
            <h:outputLabel for="file" styleClass="required" value="File" />
            <rich:fileUpload id="file" fileUploadListener="#{repositoryTreeController.uploadListener}" maxFilesQuantity="1">
                <a4j:ajax event="uploadcomplete" render="newFileForm:fileName" />
            </rich:fileUpload>
    
            <h:outputLabel for="fileName" styleClass="required" value="File name" />
            <h:inputText id="fileName" size="40" maxlength="50" value="#{repositoryTreeController.fileName}" />
        </h:panelGrid>

      <footer>
        <h:commandButton value="Upload" action="#{repositoryTreeController.addFile}" styleClass="button-primary" />
        <input type="button" value="Cancel" onclick="RichFaces.$('modalNewFile').hide();" />
      </footer>
    </h:form>
  </rich:popupPanel>

  <script>
    function openNewFileDialog() {
      RichFaces.$('modalNewFile').show();
    }
  </script>
</ui:composition>
