body {
    color: #171717;
    background: #fff;
    font-family: Verdana, Helvetica, Arial;
    font-size: 70%;
}

optgroup {
    font-style: normal;
}

input[type='text'], input[type='password'], textarea, select {
    border-width: 1px;
    border-style: solid;
    border-color: #c7c7c7 #d5d5d5 #d5d5d5 #c7c7c7;
    border-radius: 1px;
    background: #ffffff;
    color: #333;
    margin-left: 0;
    margin-right: 0;
    padding: 3px;
    width:138px;
    height: 15px;
    font-size: 100%;
    box-sizing:content-box;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
}

input[type='text']:focus, input[type='password']:focus, textarea:focus, select:focus {
    border: 1px solid #39c;
    outline: none;
}

/* Removing clear button (x) from input text element for MS IE 10 */
::-ms-clear {
    display: none;
}

/*Removing button 'show password' in MS IE 10 */
::-ms-reveal {
    display: none;
}

.input-container {
    width: 100%;
    height: 100%;
    border: 0 !important;
    font: inherit;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.input-container:focus {
    border: 0 !important;
}

input[type='submit'], input[type='reset'],
input[type='button'], button,
.button, .imageButton {
    padding: 5px 8px;
    border: 1px solid #e5e5e5;
    background: #fff;
    color: #555;
    margin-right: 4px;
    cursor: pointer;
    box-shadow: 0 0 2px #fff inset;
    background-image: linear-gradient(to top, #f9f9f9 0%, #fff 37%, #fff 100%);
    outline: none;
}

input[type='submit']:hover, input[type='reset']:hover,
input[type='button']:hover, button:hover,
.button:hover {
    border-color: #ddd;
    color: #222222;
}

input[type='submit']:active, input[type='reset']:active,
input[type='button']:active, button:active,
.button:active {
    border-color: #ccc;
}

input[type='submit']:focus, input[type='reset']:focus,
input[type='button']:focus, button:focus,
.button:focus {
    border: 1px solid #9d4;
}

input[type='submit']:disabled, input[type='reset']:disabled,
input[type='button']:disabled, button:disabled,
.button:disabled, .imageButton:disabled {
    border-color: #eeeeee !important;
    color: #999999 !important;
    background: #fff !important;
    cursor: default;
}

.button,
.button-primary,
.button-secondary {
    text-decoration: none;
}

.button {
    padding: 5px 6px;
}

.button-primary,
.button-secondary {
    color: #fff !important;
    box-shadow: none !important;
}

.button-primary {
    background: #8c2 !important;
    border-color: #8c2 !important;
}

.button-secondary {
    background: #5ad !important;
    border-color: #5ad !important;
}

a.button-primary,
a.button-secondary {
    padding: 6px 8px;
}

.button-large {
    padding: 5px 7px !important;
}

.imageButton {
    padding: 5px 16px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: #fff !important;
    border: 0;
    margin-right: 0;
}


#refreshBtn,
#designRepoRefresh,
#productionRepoRefresh {
    opacity: 0.7;
}

img {
    border: 0;
}

hr {
    border: 0 !important;
    border-bottom: 1px solid #dddddd !important;
    margin-top: 15px;
}

h1 {
    font-size: 150%;
    font-weight: normal;
}

h2 {
    font-size: 120%;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 110%;
}

a {
    outline: none;
    color: #29d;
}

a > .caret {
    margin-left: 4px !important;
}

a.link-ref {
    text-decoration: none;
    color: #aaa;
    border-bottom: 1px dashed #eee;
    font-style: italic;
    padding-bottom: 2px;
}

.link-dropdown {
    color: #29d;
    text-decoration: none;
    border-bottom: 1px dashed #29d;
    padding: 1px 2px;
}

.link-text {
    color: #777;
    text-decoration: none;
}

.link-dropdown-menu {
    margin: 6px 0 0 -9px;
}

.link-dropdown-menu > li > a {
    padding: 2px 12px;
}

.w100 {
    width: 100%;
}

form {
    margin: 0;
}

fieldset {
    border: 1px solid #cccccc;
    border-radius: 1px;
}

#loadingPanel {
    position: fixed;
    top: 32px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

#loadingPanel img {
    position: fixed;
    top: 11px;
    right: 750px;
    z-index: 10001;
}

.problem-error,
.problem-warning,
.problem-info {
    padding: 12px;
    border-radius: 1px;
    border-left-style: solid;
    border-left-width: 3px;
}

.problem-error {
    background: #FFE9E4;
    border-left-color: #FF6234;
}

.problem-warning {
    background: #FFF9AD;
    border-left-color: #EFCA5F;
}

.problem-info {
    background: #DAEBFF;
    border-left-color: #92BFFF;
}

.problem-small {
	background: transparent;
    padding: 0 5px;
    border-left-width: 2px
}

.table {
    color: #222;
    background: #fff;
    font-size: 100%;
    border: 1px solid #fff;
    empty-cells: show;
    border-collapse: collapse;
}

.table th {
    border: 1px dotted #ccc;
    border-right: 0;
    border-left: 0;
    border-bottom-style: solid;
    padding: 6px 9px;
    text-align: left;
}

.table td {
    border: 1px dotted #ccc;
    border-right: 0;
    border-left: 0;
    padding: 6px 9px;
    line-height: 15px;
}

.table-over tr:hover td {
    background: #f7f7f7;
    cursor: pointer;
}

.table .row-selected,
.table tr.active > td {
    background: #59c !important;
    color: #fff !important;
    font-weight: bold !important;
}

.badge {
    background: #999;
    border-radius: 1px;
    color: #fff;
    font-size: 9px;
    font-weight: bold;
    padding: 2px 6px 3px;
    padding-top: 4px\9; /* IE 9*/
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: 12%;
}

.badge-small {
    padding: 1px 4px 2px;
    padding-top: 2px\9; /* IE 9*/
}

.badge-error {
    background: #f54;
}

.badge-warning {
    background: #FFD200;
}

.badge-success {
    background: #6b3;
}

.badge-info {
    background: #59c;
}

.close {
    cursor: pointer;
    opacity: 0.3;
}

.close:hover {
    opacity: 0.5;
}

.tab-panel-vertical {
    border-top: 1px solid #ddd;
    margin: 13px 24px 13px 3px;
    min-height: 350px;
}

.tab-panel-vertical ul {
    height: 350px;
    list-style: none;
    margin: 0; padding: 0;
    background: #f5f5f5;
    float: left;
    border-right: 1px solid #ddd;
}

.tab-panel-vertical ul li {
    width: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    opacity: 0.8;
}

.tab-panel-vertical ul li:hover {
     opacity: 1;
}

.tab-panel-vertical ul li.selected-tab {
    font-weight: bold;
    position: relative;
    left: 1px;
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    background: #fff;
    opacity: 1;
}

.tab-panel-vertical ul li:first-child.selected-tab {
    border-top: 0;
}

.tab-panel-vertical ul li a {
    display: block;
    padding: 20px 5px;
    outline: none;
    text-decoration: none;
    color: #222;
}

.tab-panel-vertical ul li a span {
    display: block;
}

.tab-panel-vertical .data-container {
    padding: 15px 25px 15px 125px;
}

.page {
    padding: 7px 21px 15px;
}

.page .page-header {
    margin: 11px 0 27px;
}

/* TODO Merge with .block */
.fields {
    margin-top: 13px;
}

.fields section {
    margin-bottom: 31px;
}

.fields section > h3 {
    color: #578;
    font: normal 110% Verdana;
    margin: 5px 0;
    padding-bottom: 3px;
}

.fields section > div {
    margin-left: 11px;
    color: rgb(71,71,71);
}

.fields section div .titleColumn {
    width: 150px;
    padding: 5px 0;
}

.block-column {
    display: inline-block;
    vertical-align: top;
    margin-right: 105px;
}

.block {
    margin-bottom: 37px;
}

.block:last-child {
    margin-bottom: 0;
}

.block > h3 {
    color: #578;
    font-weight: normal;
    font-size: 14px;
}

.block > .block-content {
    padding-left: 7px;
    padding-top: 2px;
}

.block > .block-content > .list {
    margin-top: -5px;
}

.block > .block-content > .properties {
    margin-top: -2px;
}

.list > .list-item {
    display: block;
    width: 100%;
    padding: 8px 3px 10px;
    border-bottom: 1px dashed #ddd;
}

.list > .list-item:last-child {
    border-bottom: none;
}

table.properties td {
    padding: 4px 2px 4px 0;
    vertical-align: top;
}

table.properties td:first-child {
    width: 110px;
    color: #777;
    padding-right: 5px;
    font-family: Verdana, Helvetica, Arial !important; /* Rewrite RichFaces styles */
}

table.properties-form td {
    padding: 1px 2px 1px 0;
}

table.properties-form td:first-child {
    color: #444;
    padding-top: 6px;
}

table.properties-form input[type="text"],
table.properties-form select,
table.properties-form textarea {
    width: 170px;
}

table.properties-form textarea {
    height: 120px;
}

table.properties-form.wide input[type="text"],
table.properties-form.wide select,
table.properties-form.wide textarea {
    width: 315px;
}

table.properties-form.wide input[type="text"].with-button {
    /* 280px - 2px for IE9 and Chrome*/
    width: 278px;
}

table td.delimeter {
    padding: 0 !important;
    height: 10px;
}

ul.enum {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

ul.enum li {
    padding-top: 3px;
    padding-bottom: 4px;
}

.editable .editable-link,
.editable-inner .editable-link-inner {
    visibility: hidden;
    opacity: 0;
    /*padding-left: 4px;*/
    padding-right: 4px;
    transition: visibility 0.1s linear, opacity 0.2s ease-out;
}

.editable:hover .editable-link,
.editable-inner:hover .editable-link-inner {
    visibility: visible;
    opacity: 1;
}

.code {
    font-family: Courier New, monospace;
    font-size: 110%;
}

.codeerror {
    color: red;
    font-weight: bold;
}

.title {
    position: relative;
    zoom: 1;
    text-align: left;
}

.title-datatype > a,
.title-data > a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted;
}

.title-field > a,
.title-other > a {
    color: inherit;
    text-decoration: none;
}

.title-field > a:hover,
.title-other > a:hover {
    border-bottom: 1px dotted;
}

.title em {
    display: none;
}

.title:hover em {
    display: block;
    position: absolute;
    z-index: 1;
    background-color: #000;
    border-radius: 4px;
    white-space: nowrap;
    line-height: normal;
    color: #fff;
    text-decoration: none;
    padding: 3px 5px;
    bottom: 22px;
    left: 0;
}

.title:hover.title-bottom em {
    bottom: inherit;
    top: 32px;
}

.title:hover.title-right em {
    left: inherit;
    right: 0;
}

.menuPanel a {
    margin-right: 10px;
}

/* Deprecated, use .properties instead */
form .formfields {
    vertical-align: top;
    border: none;
    width: 99%;
}

/* Deprecated, use .properties instead */
.label {
    color: #3f3f3f;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 150px;
    vertical-align: top;
    font-family: verdana, helvetica, arial, sans-serif;
}

.required:after {
    color: #ff2722;
    content: "*";
    padding-left: 2px;
}

.messages {
    position: absolute;
    left: 41%;
    top: 0;
    z-index: 5;
    padding: 6px 6px 1px;
    box-shadow: 0 1px 5px #ccc;
    background: white;
    max-height: 211px;
    max-width: 400px;
    overflow: auto;
}

.messages ul {
  margin: 0 0 7px 5px;
  padding: 0;
  list-style-type: none;
}

.error {
    color: red;
    padding: 0 2px;
}

.success {
  color: green;
}

.warning {
    color: brown;
}

.message {
    position: absolute;
    width: 210px;
    left: 43%;
    z-index: 1000;
    background: #333;
    color: white;
    padding: 17px 11px;
    opacity: 0.8;
    text-align: center;
    transition: all .4s ease-out;
    word-wrap: break-word;
}
.message.success {
    background-color: #380;
}
.message.error {
    background-color: #c33;
}
.message.closable {
    cursor: pointer;
}
.message.closable:after {
    content: "×";
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    right: 1px;
    top: -2px;
}

.noEntries {
    display: inline-block;
    color: #002276;
    font-weight: bold;
    margin: 7px 0 3px 10px;
}

.tree-menu {
    padding: 7px 5px;
    background: #f5f5f5;
    height: 16px;
}

.tree a {
    text-decoration: none;
    color: #111111 !important;
}

.treeNodeInactive {
    opacity: 0.35;
}

.panel > .panel-header {
    height: 32px;
    font-size: 110%;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #f9f9f9;
    background: #fff;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

.panel > .panel-body {
    width: 100%;
    overflow: auto;
    position: absolute;
    bottom: 0;
    top: 32px; /*- header height */
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

.panel > .container {
    padding: 8px 7px;
}

.view-header-link {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.view-header-link-inactive {
    color: #777;
}

.field-description {
    font-size: 11px;
    color: #888;
}

.wizard-page {
    text-align: center;
}

.wizard-page .wizard-page-container {
    margin: 40px 30px;
    display: inline-block;
    text-align: left;
    width: 650px;
}

.wizard-page .wizard-block {
    margin-bottom: 30px;
}

.wizard-page .wizard-block > h2,
.wizard-page .wizard-block > h3 {
    font-weight: normal;
    color: #28b;
}

.wizard-page .wizard-block > h2 {
    margin-bottom: 27px;
    font-size: 16px;
}

.wizard-page .wizard-block > h3 {
    font-size: 14px;
}

.wizard-page .field-description {
    margin-top: 3px;
    color: #555;
}

.wizard-page .wizard-buttons {
    border-top: 1px solid #ddd;
    margin-top: 50px;
    padding-top: 15px;
}

.test {
    margin-bottom: 37px;
}

.test .table > tbody > tr > th {
    min-width: 91px;
}

.testSuccess,
.testError {
    text-decoration: none;
    vertical-align: middle;
    margin-right: 7px;
}

.testSuccess {
    color: #2a1;
}

.testError {
    color: #f23;
}

.case-result {
    display: inline-block;
}

.case-success,
.case-error {
    padding-left: 20px;
}

.case-success {
    background: url(webresource/images/ok.png) no-repeat;
}

.case-error {
    background: url(webresource/images/error.png) no-repeat;
}

.case-expected {
    color: #aaa;
}

.case-empty {
    color: #588;
    font-style: italic;
}

.te_table i.case-success,
.te_table i.case-error {
    padding-left: 16px;
    background-size: contain;
}

.param-tree .rf-trn-ico-lf {
    display: none;
}
/* Hide empty nodes in a tree */
.rf-tr-nd-exp-nc {
    display: none;
}
.param-tree .rf-trn-sel {
    font-weight: normal;
}

.param-tree .rf-trn {
    padding: 3px 0 !important;
}

.param-tree > .rf-tr-nd > .rf-trn {
    padding: 0 !important;
}


.spreadsheet .rf-trn-ico-lf {
    display: none;
}

#rulesTree .rf-trn:hover {
    background: #f7f7f7 !important;
}

#rulesTree .rf-trn-lbl {
    overflow: hidden;
    text-overflow: ellipsis;
    width: -webkit-calc(100% - 35px);
    width: calc(100% - 35px);
}

.hidden {
    display: none;
}

.navbar {
    display: block;
    height: 100%;
    padding: 0 5px 0 15px;
}

.navbar > .navbar-inner,
.navbar > .breadcrumbs {
    display: inline-block;
    height: 100%;
}

.navbar > .navbar-inner.right {
    float: right;
}

.navbar > .navbar-inner > .dropdown,
.navbar > .breadcrumbs > .dropdown {
    display: inline-block;
    line-height: 13px;
}

.navbar > .navbar-inner > a,
.navbar > .navbar-inner > .dropdown > a {
    display: inline-block;
    height: 100%;
    background-color: transparent;
    color: #777;
    padding: 11px 13px 12px;
    overflow: hidden;
    outline: none;
    text-decoration: none;
    line-height: 13px;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

.navbar > .navbar-inner > a.primary {
    color: #8c2;
}

.navbar > .navbar-inner > a:hover,
.navbar > .navbar-inner > .dropdown > a:hover {
    background: #fafafa;
}

.navbar > .navbar-inner > .delimeter {
    display: inline-block;
    margin-left: 13px;
}

.navbar .navbar-dropdown {
    padding-right: 8px !important;
    margin-right: 0 !important;
}

.navbar .navbar-dropdown + .dropdown {
    margin-left: -4px;
}

.navbar .navbar-dropdown + .dropdown > .dropdown-toggle {
    padding-left: 5px;
    padding-right: 9px;
    margin-left: -7px;
}

.navbar .navbar-dropdown:hover + .dropdown > .dropdown-toggle {
    background: #fafafa;
}

.navbar .dropdown-menu {
    margin-top: -2px;
    margin-left: 1px;
}

.breadcrumbs {
    position: relative;
}

.breadcrumbs > a,
.breadcrumbs > .dropdown > a {
    display: inline-block;
    height: 100%;
    max-width: 170px;
    background-color: transparent;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 11px 4px 12px;
    text-decoration: none;
    line-height: 13px;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

.breadcrumbs .delimeter {
    display: inline-block;
    margin-left: 1px;
    height: 100%;
    vertical-align: 14px;
}

.breadcrumbs .delimeter::after {
    content: '/';
    color: #bbb;
}

.breadcrumbs .delimeter-dash::after {
    content: '-';
}

.breadcrumbs .dropdown-menu {
    max-height: 370px;
    overflow: auto;
    left: -16px;
}

.breadcrumbs::before {
    border-bottom: 17px solid transparent;
    border-top: 17px solid transparent;
    border-left: 9px solid #ddd;
    content: "";
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 2px;
}

.breadcrumbs::after {
    border-bottom: 16px solid transparent;
    border-top: 16px solid transparent;
    border-left: 8px solid #fff;
    content: "";
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 3px;
}


/* RichFaces styles */

.rf-trn, .rf-tr-nd {
    background: none !important;
}

.rf-tr-nd {
    padding: 0 1px !important;
}

.rf-trn {
    padding: 4px 0 !important;
    cursor: pointer !important;
}

.rf-trn-sel {
    background: none !important;
}

.rf-trn.sel {
    font-weight: bold;
    background: #f3f3f3 !important;
}

.rf-trn-cnt {
    width: 100%;
}

*.rf-tr-nd *.rf-tr-nd {
    margin-left: 11px !important;
}

.rf-tab-hdr {
    vertical-align: middle !important;
    color: #333333 !important;
    background: none !important;
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
    padding: 0px 11px !important;
}

.rf-tab-hdr-act {
    background: rgba(169, 212, 94, 0.25) !important;
    border-bottom: 1px solid #9c3 !important;
    color: #111111 !important;
}

.rf-tab-hdr-inact:hover {
    background: #f5f5f5 !important;
}

.rf-tab-hdr-tabline-vis {
    height: 25px !important;
    border: 0 !important;
    background: none !important;
}

.rf-tab-cnt {
    border: 0 !important;
    background: none !important;
}

.rf-tab-hdr-brd {
    border: 0 !important;
    height: 0 !important;
}

.rf-insp {
    border: 0 !important;
    display: inline !important;
}

.rf-insp-btns {
    border: 0 !important;
    background: #e6e6e6 !important;
}

.rf-dt {
    border: 1px solid #fff !important;
}

.rf-dt-hdr-c, .rf-dt-shdr-c {
    background: #fff !important;
    color: #222 !important;
}

.rf-pp-hdr {
    background: #fff !important;
    padding: 10px 0 !important;
    border-bottom: 1px solid #e5e5e5;
}

.rf-pp-hdr-cnt {
    color: #555 !important;
    font-size: 13px !important;
    font-weight: normal !important;
}

.rf-pp-hdr-cntrls {
    top: 8px !important;
    right: 8px !important;
}

.rf-pp-cntr {
    border: none !important;
    box-shadow: 0 1px 31px #dadada;
}

.rf-pp-shade {
    background-color: #f5f5f5 !important;
    opacity: 0.7 !important;
}

.rf-pp-shdw {
    display: none !important;
}

.rf-pp-cnt {
    padding-top: 12px !important;
}

.rf-pp-cnt footer {
    border-top: 1px solid #ddd;
    margin-top: 15px;
    padding: 13px 1px 4px;
    text-align: right;
}

.rf-pp-cnt .rf-tab-cnt footer {
    padding-bottom: 0;
}

.rf-pp-cnt footer > input {
    margin: 0 0 0 2px;
}

.rf-pp-cnt-scrlr {
    background: #fff !important;
}

.rf-fu {
    background: #fefefe !important;
}

.rf-fu-hdr {
    background: #fefefe !important;
    border: none !important;
    border-bottom: 1px solid #ddd !important;
}

.rf-fu-btn-add, .rf-fu-btn-upl, .rf-fu-btn-clr {
    height: 21px !important;
    background: #f7f7f7 !important;
}

.rf-pp-hdr-cntrls .close {
    margin: 8px 4px;
}

.rf-tt-cntr {
    border: 0 !important;
    background: #191919 !important;
    opacity: 0.8 !important;
    color: #fff !important;
    border-radius: 1px !important;
    padding: 8px 9px !important;
}

/* Twitter Bootstrap styles */

.caret {
    border-top: 5px solid #111;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: relative;
}

.caret::before {
    display: inline-block;
    border-top: 3px solid #fff;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    position: absolute;
    top: -5px;
    left: -4px;
}

.dropdown .caret {
    margin-top: 5px;
}

.dropdown-menu {
    border-radius: 0;
    border: 1px solid #eaeaea;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.05);
    min-width: 100px;
    margin-top: 12px;
}

.dropdown-menu::before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.15);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px;
}

.dropdown-menu::after {
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}

.dropdown-menu.pull-right::before {
    left: auto;
    right: 9px;
}

.dropdown-menu.pull-right::after {
    left: auto;
    right: 10px;
}

.dropdown-menu > li > a {
    color: #444;
    text-decoration: none;
}

.dropdown-menu .divider {
    margin: 5px 1px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    background-color: #59c;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #59c;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.dropdown-submenu > .dropdown-menu {
    border-radius: 0 1px 1px 1px;
}

.dropup .dropdown-submenu > .dropdown-menu {
    border-radius: 1px 1px 1px 0;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    border-radius: 1px 0 1px 1px;
}

.dropdown .dropdown-menu .nav-header {
    padding: 6px 15px;
    color: #999;
    white-space: nowrap;
    font-size: 12px;
}

.typeahead {
    border-radius: 1px;
}

.pagination {
    margin: 0;
}

.pagination > ul {
    border: 0;
    box-shadow: none;
    margin: 0;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
    font-weight: bold;
}

.pagination ul > li > a,
.pagination ul > li > span {
	border: 0;
}

.tooltip-inner {
    border-radius: 1px;
    background: #191919;
    padding: 8px 9px;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #191919;
}

/* OpenL Tablets Bootstrap styles */

.dropdown-hover:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-menu > li > span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #444;
    white-space: nowrap;
}

.dropdown-menu > li > a > input[type="checkbox"],
.dropdown-menu > li > span > input[type="checkbox"] {
    vertical-align: bottom;
    margin-right: 5px;
}

.dropdown-form .dropdown-menu > li > span > span {
    display: inline-block;
    min-width: 110px;
}

/* Disabled-like style for hyperlinks.
   It is used to mark active (currently selected) links, so a User can see where he is now. */
.selected-link {
    font-weight: bold;
    color: #171717;
    text-decoration: none;
    cursor: default;
}
