<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    template="/pages/layout/wizardStep.xhtml">

    <ui:define name="header">Add table parameters</ui:define>

    <ui:define name="data">
        <style>
            .addButton {
                background: url(#{contextPath}/webresource/images/add_obj.gif) no-repeat 2px;
                padding: 3px 5px 3px 21px;
                text-decoration: none;
                vertical-align: middle;
            }
        </style>

        <h:form>
            <f:validateBean disabled="#{wizard.containsRemoveLink(param)}">
                <a4j:commandLink action="#{wizard.addParameter}"
                    render="paramTable" title="Add more" styleClass="addButton">
                    <h:outputText value="Add Parameter" />
                </a4j:commandLink>

                <br />
                <br />

                <h:panelGroup id="paramTable">
	                <h:dataTable value="#{wizard.parameters}" var="parameter">
	                    <h:column>
	                        <f:facet name="header">
	                            <h:outputText value="Type" />
	                        </f:facet>
	                        <h:selectOneMenu value="#{parameter.type}">
	                            <f:selectItems value="#{wizard.domainTypes}" />
	                        </h:selectOneMenu>
	                    </h:column>
	
	                    <h:column>
	                        <f:facet name="header">
	                            <h:outputText value="Is Array" />
	                        </f:facet>
	                        <h:selectBooleanCheckbox value="#{parameter.iterable}" />
	                    </h:column>
	
	                    <h:column>
	                        <f:facet name="header">
	                            <h:outputText value="Name"/>
	                        </f:facet>
	                        <h:inputText id="pname" value="#{parameter.name}" />
	                    </h:column>
	
	                    <h:column>
	                        <a4j:commandLink id="removeLink" action="#{wizard.removeParameter(parameter)}" 
	                            render="paramTable" execute="@form"
                                title="Remove Parameter" style="margin-left: 5px;" disabled="#{wizard.parameters.size() == 1}">
	                            <h:graphicImage value="/images/delete.png" />
	                        </a4j:commandLink>
	                        <a4j:outputPanel ajaxRendered="true">
	                            <h:message for="pname" errorClass="error" style="margin-left: 5px;" />
	                        </a4j:outputPanel>
	                    </h:column>
	                </h:dataTable>
                </h:panelGroup>
                <br />
                <hr />

                <a4j:commandButton value="Prev" action="#{tableCreatorWizardManager.prev}" immediate="true"
                    oncomplete="go('datatype/step1.xhtml')" />
                <a4j:commandButton value="Next" action="#{tableCreatorWizardManager.next}"
                    data="#{facesContext.maximumSeverity}"
                    oncomplete="if(!event.data) go('datatype/step3.xhtml')">
                </a4j:commandButton>
                <a4j:commandButton value="Cancel" action="#{tableCreatorWizardManager.cancel}" immediate="true"
                    oncomplete="go('step0.xhtml')" />
            </f:validateBean> 
        </h:form>

  </ui:define>

</ui:composition>
