<div class="col-md-8">
    <div class="card">
        <div class="card-header" data-background-color="grey">
            <h4 class="title">Usuarios</h4>
            <p class="category">Registro de Usuarios</p>
        </div>
        <div class="card-content">

            <form name="myForm" ng-submit="crearUsuario()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group col-md-12">
                            <label>Numero de Cédula</label>
                            <input class="form-control" ng-model="usuario.numerocedula" required type="number">
                        </div>
                        <div class="form-group col-md-12">
                            <label>Nombre</label>
                            <input class="form-control" ng-model="usuario.nombre" required varchar>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Apellido</label>
                            <input class="form-control" ng-model="usuario.apellido" required varchar>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Fecha nacimiento</label>
                            <input class="form-control" type="date"  ng-model="usuario.fechanacimiento" placeholder="yyyy-MM-dd" 
                            required  valid-date max="2000-01-01" min="1890-01-01"/>
                       
                        </div>

                        
                        
                        <div class="form-group col-md-6">
                            <div class="form-group derecha">
                                <button type="submit" class="btn btn-info btn-md" ng-dblclick="disableSubmit = true" ng-disabled="disableSubmit">Crear</button>
                                <button type="button" class="btn btn-md btncancelar" ng-click="cancelar()">Cancelar</button>
                            </div>
                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>