<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <c:set var="wizard" value="#{tableCreatorWizardManager.wizard}" />
    <c:set var="initStep" value="#{empty param.initStep ? 'step0.xhtml' : param.initStep}" />

    <style>
        .wz_selected_list_item { background-color: yellow; }
        fieldset { display: inline; }
    </style>

    <h:panelGroup id="wizardData" />

    <script>
        function go(to) {
            var contextPath = "#{facesContext.externalContext.request.contextPath}";
            ws.ajax.load([{ target: "#wizardData", url: contextPath + "/faces/pages/modules/create/" + to }]);
        }

        go('#{initStep}');
    </script>

</ui:composition>
