<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:a4j="http://richfaces.org/a4j"
    template="/pages/layout/wizardStep.xhtml">

    <ui:define name="header">Input name</ui:define>

    <ui:define name="data">
        <h:form>
            <h:panelGrid columns="3" cellspacing="5">
                <h:outputText value="Name" styleClass="required" />
                <h:inputText id="technicalName" value="#{wizard.technicalName}" 
                validator="#{wizard.validateTechnicalName}" immediate="true" />
                <a4j:outputPanel ajaxRendered="true">
                    <h:message for="technicalName" styleClass="error" />
                </a4j:outputPanel>
            </h:panelGrid> 

            <hr />
            <br />

            <a4j:commandButton value="Prev" action="#{tableCreatorWizardManager.prev}" immediate="true"
                oncomplete="go('#{tableCreatorWizardManager.tableType != 'TEST_DIRECT' ? 'test/step1.xhtml' : 'step0.xhtml'}')" />
            <a4j:commandButton value="Next" action="#{tableCreatorWizardManager.next}"
                data="#{facesContext.maximumSeverity}"
                oncomplete="if(!event.data) go('test/step3.xhtml')" />
            <a4j:commandButton value="Cancel" action="#{tableCreatorWizardManager.cancel}" immediate="true"
                oncomplete="go('step0.xhtml')" />
        </h:form>
    </ui:define>

</ui:composition>