<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:a4j="http://richfaces.org/a4j" xmlns:c="http://java.sun.com/jsp/jstl/core">

    <div class="page">
        <h1 class="page-header">Results of benchmarking</h1>

        <h:form id="BMForm">
            <h:dataTable id="BMTable" value="#{benchmarkBean.benchmarks}" var="item"  styleClass="table">
                <h:column>#{benchmarkBean.getI(item)}</h:column>
                <h:column>
                    <f:facet name="header">Name</f:facet>
                    <h:outputLink value="#{studio.url('table')}">
                        <f:param name="id" value="#{item.tableId}" />
                        <h:outputText value="#{item.testName}" />
                    </h:outputLink>
                    <h:outputText value="#{item.testInfo}" styleClass="badge"
                        style="margin-left:7px" />
                </h:column>
                <h:column>
                    <f:facet name="header">Parameters</f:facet>
                    <table>
                        <tr>
                            <ui:repeat value="#{item.parameters}" var="p">
                                <th>#{p.name}</th>
                            </ui:repeat>
                        </tr>
                        <tr>
                            <ui:repeat value="#{item.parameters}" var="p">
                                <td>
                                    <ui:include src="/pages/modules/test/parameter.xhtml">
                                        <ui:param name="parameter" value="#{p}" />
                                    </ui:include>
                                </td>
                            </ui:repeat>
                        </tr>
                    </table>
                </h:column>
                <h:column>
                    <f:facet name="header"><span title="The execution time of a rule (in milliseconds)">Test Case(ms)</span></f:facet>
                    #{item.msrununit()}
                </h:column>
                <h:column>
                    <f:facet name="header"><span title="Quantity of rules performed per a second">Test Cases/sec</span></f:facet>
                    #{item.runsunitsec()}
                </h:column>
                <h:column>
                    <f:facet name="header"><span title="Quantity of test cases in a test">Test Cases</span></f:facet>
                    #{item.unit.nUnitRuns()}
                </h:column>
                <h:column>
                    <f:facet name="header"><span title="The execution time of a test (in milliseconds)">Runs(ms)</span></f:facet>
                    #{item.msrun()}
                </h:column>
                <h:column>
                    <f:facet name="header"><span title="Quantity of tests performed per a second">Runs/sec</span></f:facet>
                    #{item.runssec()}
                </h:column>
                <h:column>
                    <f:facet name="header">
                        <h:selectBooleanCheckbox id="allBenchCheck"
                            value="#{benchmarkBean.allBencmarkSelected}"
                            title="Check/Uncheck All">
                            <a4j:ajax event="change" execute="@this" render="@form" />
                        </h:selectBooleanCheckbox>
                    </f:facet>
                    <h:selectBooleanCheckbox id="BM" value="#{item.selected}">
                        <a4j:ajax event="change" execute="@this" render="@form" />
                    </h:selectBooleanCheckbox>
                </h:column>
            </h:dataTable>

            <br />

            <a4j:commandButton id="compare"
                action="#{benchmarkBean.compare}" value="Compare"
                render="comparedBMTable"
                disabled="#{!benchmarkBean.anyBencmarkSelected}" />
            <a4j:commandButton id="delete"
                action="#{benchmarkBean.delete}" value="Delete"
                render="comparedBMTable BMTable compare delete"
                disabled="#{!benchmarkBean.anyBencmarkSelected}" />
            <br />
            <br />
        <h:dataTable id="comparedBMTable" value="#{benchmarkBean.comparedBenchmarks}" var="item" styleClass="table">
            <h:column>#{benchmarkBean.getBenchmarkResultIndex(item) + 1}</h:column>
            <h:column>#{item.name}</h:column>
            <h:column>#{item.runsunitsec()}</h:column>
            <h:column>
                <h:outputText style="#{benchmarkBean.getStyleForOrder(item)}" value="#{benchmarkBean.getComparedOrder(item)}" />
            </h:column>
            <h:column>#{benchmarkBean.getComparedRatio(item)}</h:column>
        </h:dataTable>

        </h:form>
    </div>
</ui:composition>