<ui:composition
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">

    <style>
        .dynamicTree a img {
            padding: 0 3px 0 5px;
        }
    </style>

    <table class="table">
        <tr>
            <a4j:repeat var="argument" value="#{inputArgsBean.arguments}">
                <th>
                    <h:outputText value="#{argument.name}" />
                </th>
            </a4j:repeat>
        </tr>

        <tr style="vertical-align: top; text-align: left">
            <a4j:repeat var="argumentTreeNode" value="#{inputArgsBean.argumentTreeNodes}">
                <td width="100 px"><rich:panel id="dynamicTreePanel">
                        <rich:tree toggleType="client" selectionType="client"
                            value="#{helper.getRoot(argumentTreeNode)}" var="item"
                            nodeType="#{item.nodeType}" binding="#{inputArgsBean.currentTreeNode}"
                            styleClass="dynamicTree" rowKeyConverter="org.richfaces.IntegerSequenceRowKeyConverter">
                            <!-- rowKeyConverter is a temporary solution.
                             After migrating to the newer version of RichFaces it can be removed.
                             See: https://issues.jboss.org/browse/RF-11102 for details -->
                            <rich:treeNode type="collection">
                                <a4j:commandLink action="#{inputArgsBean.deleteFromCollection}"
                                    rendered="#{item.elementOfCollection}" render="dynamicTreePanel"
                                    title="Delete from collection">
                                    <h:graphicImage value="/images/delete.png" />
                                </a4j:commandLink>
                                <h:outputText value="#{item.treeText}" />
                                <a4j:commandLink action="#{inputArgsBean.initCollection}" rendered="#{item.valueNull}"
                                    render="dynamicTreePanel" title="Init">
                                    <h:graphicImage value="/images/newtable.gif" />
                                </a4j:commandLink>
                                <a4j:commandLink action="#{inputArgsBean.disposeObject}"
                                    rendered="#{not item.valueNull}" render="dynamicTreePanel" title="Dispose">
                                    <h:graphicImage value="/images/close.gif" />
                                </a4j:commandLink>
                                <a4j:commandLink action="#{inputArgsBean.addToCollection}"
                                    rendered="#{not item.valueNull and not item.javaList}" render="dynamicTreePanel" styleClass="addButton"
                                    title="Add new element to collection">
                                    <h:graphicImage value="/images/add_obj.gif" />
                                </a4j:commandLink>
                                <a4j:commandLink action="#{inputArgsBean.addToCollection}"
                                    rendered="#{not item.valueNull and item.javaList}" render="dynamicTreePanel" styleClass="addButton"
                                    title="Java collections are not supported. If you want to edit this field please rework you rules to use arrays." disabled="true">
                                    <img style="opacity: 0.1; background-color: #000;" src="webresource/images/add_obj.gif" />
                                </a4j:commandLink>
                            </rich:treeNode>
                            <rich:treeNode type="complex">
                                <a4j:commandLink action="#{inputArgsBean.deleteFromCollection}"
                                    rendered="#{item.elementOfCollection}" render="dynamicTreePanel"
                                    title="Delete from collection">
                                    <h:graphicImage value="/images/delete.png" />
                                </a4j:commandLink>
                                <h:outputText value="#{item.treeText}" />
                                <a4j:commandLink action="#{inputArgsBean.initObject}" rendered="#{item.valueNull}"
                                    render="dynamicTreePanel" title="Init">
                                    <h:graphicImage value="/images/newtable.gif" />
                                </a4j:commandLink>
                                <a4j:commandLink action="#{inputArgsBean.disposeObject}"
                                    rendered="#{not item.valueNull}" render="dynamicTreePanel" title="Dispose">
                                    <h:graphicImage value="/images/close.gif" />
                                </a4j:commandLink>
                            </rich:treeNode>
                            <rich:treeNode type="simple">
                                <a4j:commandLink action="#{inputArgsBean.deleteFromCollection}"
                                    rendered="#{item.elementOfCollection}" render="dynamicTreePanel"
                                    title="Delete from collection">
                                    <h:graphicImage value="/images/delete.png" />
                                </a4j:commandLink>
                                <h:outputText value="#{item.name} = " rendered="#{not empty item.name}" />
                                <h:inputText id="nodeValue" value="#{item.valueForEdit}" />
                                <h:message for="nodeValue" />
                            </rich:treeNode>
                            <rich:treeNode type="unmodifiable">
                                <h:outputText value="#{item.treeText}" />
                                <h:graphicImage value="/images/warning16.png" title="#{item.warnMessage}" rendered="#{not empty item.warnMessage}"/>
                            </rich:treeNode>
                        </rich:tree>
                    </rich:panel>
                </td>
            </a4j:repeat>
        </tr>
    </table>

</ui:composition>
