<ui:composition
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <c:set var="contextPath" value="#{facesContext.externalContext.request.contextPath}" />

    <script>
        function explain(url) {
           window.open('#{contextPath}/faces/pages/layout/frameView.xhtml' + url
               + '&amp;title=Explanation&amp;treePage=faces/pages/modules/explain/explain.xhtml&amp;mainPage=faces/pages/modules/explain/showExplainTable.xhtml',"_blank","toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, copyhistory=yes, width=1240, height=700")
        }
    </script>

    <div class="page">
        <h1 class="page-header">
            <h:outputText value="Results of running "/>
            <h:outputLink value="#{studio.url('table')}">
                <f:param name="id" value="#{param.id}" />
                <h:outputText value="#{runBean.tableName}" />
            </h:outputLink>
        </h1>
        <div>
            <h:outputText value="View expired. Test data is no more available." rendered="#{runBean.expired}" />

            <h:panelGroup rendered="#{!runBean.expired}">
                <h:outputText value="null" rendered="#{empty runBean.results}" />

                <h:form>
                <table class="table">
                    <tr>
                        <h:panelGroup rendered="#{!empty runBean.results.get(0).test.executionParams}">
                            <th>ID</th>
                            <ui:repeat value="#{runBean.results.get(0).test.parametersNames}" var="parameterHeader">
                                <th>#{parameterHeader}</th>
                            </ui:repeat>
                        </h:panelGroup>
                        <th>Result</th>
                    </tr>
                    <ui:repeat value="#{runBean.results}" var="result">
                        <tr style="vertical-align: top">
                            <h:panelGroup rendered="#{!empty result.test.executionParams}">
                            <td>#{result.test.id}</td>
                            <ui:repeat value="#{result.test.executionParams}" var="parameter">
                            <td>
                                <ui:include src="/pages/modules/test/parameter.xhtml">
                                    <ui:param name="parameter" value="#{parameter}" />
                                    <ui:param name="lazy" value="true" />
                                </ui:include>
                            </td>
                            </ui:repeat>
                            </h:panelGroup>
                            <td>
                                <c:set var="errors" value="#{result.errors}" />
                                <h:panelGroup rendered="#{empty errors}">
                                    <h:panelGroup rendered="#{!helper.isExplanationValue(result.actualResult) and !helper.isSpreadsheetResult(result.actualResult)}">
                                        <ui:include src="/pages/modules/test/parameter.xhtml">
                                            <ui:param name="parameter" value="#{result.actualParam}" />
                                        </ui:include>
                                    </h:panelGroup>
                                    <h:outputLink
                                        value="javascript: explain('?rootID=#{helper.getExplanatorId(result.actualResult)}')"
                                        rendered="#{helper.isExplanationValue(result.actualResult)}">
                                        <h:outputText value="#{helper.format(result.actualResult)}" />
                                    </h:outputLink>
                                    <h:outputText rendered="#{helper.isSpreadsheetResult(result.actualResult)}"
                                        value="#{runBean.getFormattedSpreadsheetResult(result)}" escape="false" />
                                </h:panelGroup>
                                <h:panelGroup rendered="#{!empty errors}">
                                    <ui:include src="/pages/modules/messages.xhtml">
                                        <ui:param name="messages" value="#{errors}" />
                                        <ui:param name="editable" value="#{studio.model.editable}" />
                                    </ui:include>
                                </h:panelGroup></td>
                        </tr>
                    </ui:repeat>
                </table>
                </h:form>
            </h:panelGroup>

        </div>
    </div>

</ui:composition>
