﻿<div class="form-group" ng-class="!fine ? 'errordobleentrada' : null">
    <input id="{{hbtId}}" type="text"
           class="form-control"
           ng-hide="render"
           ng-blur="ngModel != null ? cambiar(hbtId +'2'): ''"
           placeholder="Campo de doble captura"
           ng-model="ngModel"
           ng-required="!render && hbtRequired"
           varchar size="size" />

    <input id="{{hbtId}}2" type="text"
           class="form-control doble-entrada"
           ng-show="render"
           placeholder="De nuevo por favor"
           ng-blur="ngModel != null ? confirmar(hbtId) : ''"
           ng-model="ngModel"
           ng-required="render && hbtRequired"
           varchar size="size" />
    <span ng-show="mostrarmensaje" class="help-inline">{{mensag}}</span>
</div>
