<ui:composition
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:a4j="http://richfaces.org/a4j"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:rules="http://openl-tablets.sourceforge.net/jsf"
  template="/pages/layout/simpleLayout.xhtml">

  <ui:define name="title">Repository Diff</ui:define>

  <ui:define name="content">
    <br/>
    <h:form id="compareForm" style="margin-left: 6px;">
      <h:outputText value="Show equal elements" />
      <h:selectBooleanCheckbox value="#{repositoryDiffController.showEqualElements}" />
      <h:commandButton id="compareBtn" value="Compare" action="#{repositoryDiffController.compare}"
        disabled="#{empty repositoryDiffController.excelFilesUW or empty repositoryDiffController.excelFilesRepo}"
        style="margin-left: 10px;" />
      <table style="border: 1px dashed rgb(170,170,170); margin-top: 10px">
        <tr>
          <td style="width: 448px;">
              <table>
                <tr>
                  <td>
                    <h:outputText value="Revision:" />
                  </td>
                  <td>
                    <h:outputText value="User workspace" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <h:outputText value="Select Excel file:" />
                  </td>
                  <td>
                    <h:selectOneMenu value="#{repositoryDiffController.selectedExcelFileUW}">
                      <f:selectItems value="#{repositoryDiffController.excelFilesUW}"/>
                    </h:selectOneMenu>
                  </td>
                </tr>
              </table>
            </td>
            <td style="width: 448px;">
              <table>
                <tr>
                  <td>
                    <h:outputText value="Revision:" />
                  </td>
                <td>
                  <h:selectOneMenu value="#{repositoryDiffController.selectedVersionRepo}">
                    <f:selectItems value="#{repositoryDiffController.versionsRepo}"/>
                    <f:ajax event="change" action="#{repositoryDiffController.initProjectRepo}"
                      render="repositoryExcelCombo compareBtn" />
                  </h:selectOneMenu>
                </td>
              </tr>
              <tr>
                <td>
                  <h:outputText value="Select Excel file:" />
                </td>
                <td>
                  <h:selectOneMenu id="repositoryExcelCombo"
                    value="#{repositoryDiffController.selectedExcelFileRepo}">
                    <f:selectItems value="#{repositoryDiffController.excelFilesRepo}"/>
                  </h:selectOneMenu>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </h:form>

    <table>
      <tr>
        <td valign="top">
          <h:form id="diffTreeForm">
            <table>
              <tr>
                <td colspan="2" style="height:16px;">
                  <a4j:status>
                    <f:facet name="start">
                      Loading...
                    </f:facet>
                  </a4j:status>
                </td>
              </tr>
              <tr>
               <td colspan="2">
                  <rich:panel style="width:100%; height:480px; background-color: #f5f5f5; border: 1px solid Silver; overflow:auto; clear:left;">
                    <rich:tree id="newTree" toggleType="client" selectionType="ajax"
                      value="#{repositoryDiffController.richDiffTree}"
                      var="item" nodeType="any" selectionChangeListener="#{repositoryDiffController.processSelection}"
                      render="tableEditor1 tableEditor2">
                      <rich:treeNode type="any"
                        iconExpanded="#{item.icon}" iconCollapsed="#{item.icon}" iconLeaf="#{item.icon}">
                        <h:outputText value="#{item.name}" />
                      </rich:treeNode>
                    </rich:tree>
                  </rich:panel>
               </td>
              </tr>
              <tr>
                <td>
                  <p />
                  <div style="width:450px; overflow-x:scroll">
                  	<a4j:outputPanel ajaxRendered="true">
                    <rules:tableEditor id="editor1" table="#{repositoryDiffController.table1}" mode="view"
                      editable="false" />
                      </a4j:outputPanel>
                   </div>
                </td>
                <td>
                  <p />
                  <div style="width:450px; overflow-x:scroll">
                  <a4j:outputPanel ajaxRendered="true">
                    <rules:tableEditor id="editor2" table="#{repositoryDiffController.table2}" mode="view"
                      filters="#{repositoryDiffController.filter2}" editable="false" />
                  </a4j:outputPanel>
                  </div>
                </td>
              </tr>
            </table>
          </h:form>
          <br />
        </td>
      </tr>
    </table>

  </ui:define>
</ui:composition>
