<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:rich="http://richfaces.org/rich"
    template="/pages/layout/repositoryLayout.xhtml">

    <ui:define name="title">Repository</ui:define>

    <ui:define name="left">
      <h:panelGroup id="tree">
        <ui:include src="/pages/modules/repository/leftPanel.xhtml" />
      </h:panelGroup>
    </ui:define>

    <ui:define name="content">
        <h:panelGroup id="nodeView" layout="block">
            <ui:include src="/pages/modules/repository/nodeView.xhtml" />
        </h:panelGroup>
    </ui:define>

    <ui:define name="special">
        <ui:include src="/pages/modules/repository/modal/copyProject.xhtml" />
        <ui:include src="/pages/modules/repository/modal/copyDeploymentProject.xhtml" />
        <ui:include src="/pages/modules/repository/modal/closeDeployConfiguration.xhtml" />
        <ui:include src="/pages/modules/repository/modal/deleteNode.xhtml" />
        <ui:include src="/pages/modules/repository/modal/unlockNode.xhtml" />
        <ui:include src="/pages/modules/repository/modal/editProject.xhtml" />
        <ui:include src="/pages/modules/repository/modal/closeProject.xhtml" />
        <ui:include src="/pages/modules/repository/modal/undeleteProject.xhtml" />
        <ui:include src="/pages/modules/repository/modal/eraseProject.xhtml" />
        <ui:include src="/pages/modules/repository/modal/createDeploymentProject.xhtml" />
        <ui:include src="/pages/modules/repository/modal/uploadFile.xhtml" />
        <ui:include src="/pages/modules/repository/modal/addFolder.xhtml" />
        <ui:include src="/pages/modules/repository/modal/createProject.xhtml" />
        <ui:include src="/pages/modules/repository/modal/updateFile.xhtml" />
        <ui:include src="/pages/modules/repository/modal/addDeploymentItem.xhtml" />
        <ui:include src="/pages/modules/repository/modal/openProject.xhtml" />
        <ui:include src="/pages/modules/repository/modal/openVersion.xhtml" />
        <ui:include src="/pages/modules/repository/modal/save.xhtml" />
        <ui:include src="/pages/modules/repository/modal/smartRedeploy.xhtml" />
        <ui:include src="/pages/modules/repository/modal/repositoryFilter.xhtml" />
        <ui:include src="/pages/modules/repository/modal/exportVersion.xhtml" />
        <ui:include src="/pages/modules/repository/modal/exportFile.xhtml" />
        <ui:include src="/pages/modules/repository/modal/copyFile.xhtml" />
        <ui:include src="/pages/modules/repository/modal/selectProductionRepository.xhtml" />
    </ui:define>

</ui:composition>
