<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

    <style>
        .hideHeader {
            display:none;
        }
        .showHeader {
            display:table-cell;
        }
        .nav-panel {
            padding: 9px 9px 7px;
        }
    </style>

    <h:panelGroup layout="block" rendered="#{node.type == 'repository'}">
        <ui:include src="/pages/modules/repository/projects.xhtml" />
    </h:panelGroup>

    <h:panelGroup layout="block" rendered="#{node.type == 'prodrepository' || node.type == 'proddeployment'}">
        <ui:include src="/pages/modules/repository/projectsProduction.xhtml" />
    </h:panelGroup>

	<c:set var="deleteMessage" value="Archive project" />
	<c:set var="addFolderMessage" value="Create a new folder in the project" />
	<c:set var="uploadFileMessage" value="Upload a file to the project folder" />
	<c:set var="undeleteMessage" value="Restore the project in Repository" />
	<c:set var="eraseMessage" value="Permanently delete the project from repository" />
	<c:set var="openMessage" value="Open project for viewing in rules editor" />
    <c:set var="openVersionMessage" value="Open the latest project revision" />
    <c:set var="closeMessage" value="Close the project and make it unavailable in Rules editor" />
    <c:set var="unlockMessage" value="Unlock the project and make it available for editing" />
    <c:set var="editMessage" value="Make project available for editing in Rules Editor and lock it from editing by other users" />
    <c:set var="saveMessage" value="Save the project changes in Design Repository as a new revision and make it available for editing to other users" />
    <c:set var="copyMessage" value="Create a new project in Design Repository with a different project name but the same content " />

    <h:panelGroup rendered="#{node.type != 'deployment'}">
    <div class="nav-panel">
  <h:panelGroup rendered="#{node.type == 'file'}">
      <h:commandButton id="updateId" rendered="#{repositoryTreeState.canModify}" value="Update file" onclick="openUpdateFileDialog();return false;" title="Upload the updated file"/>
      <h:commandButton id="exportId" rendered="#{repositoryTreeState.canExport and node.hasVersions()}" value="Export file" onclick="openExportFileDialog();return false;" title="Export file"/>
      <h:commandButton id="copyId" rendered="#{repositoryTreeState.canModify}" value="Copy file" onclick="openCopyFileDialog();return false;" title="Copy file"/>
      <h:commandButton id="deleteFileId" rendered="#{repositoryTreeState.canModify}" value="Delete" onclick="#{rich:component('modalDeleteNode')}.show();return false;" title="Delete the file"/>
  </h:panelGroup>

  <h:panelGroup rendered="#{node.type == 'folder' and repositoryTreeState.canModify}">
      <h:commandButton id="addFolder1" value="Add Folder" onclick="openNewFolderDialog();return false;" title="#{addFolderMessage}"/>
      <h:commandButton id="uploadFile1" value="Upload File" onclick="openNewFileDialog();return false;" title="#{uploadFileMessage}"/>
      <h:commandButton id="deleteFolderId" value="Delete" onclick="#{rich:component('modalDeleteNode')}.show();return false;" title="Delete the folder"/>
  </h:panelGroup>

  <h:panelGroup rendered="#{node.type == 'project'}">
    <h:panelGroup rendered="#{artefact.deleted}">
        <h:commandButton id="undeleteId1" rendered="#{repositoryTreeState.canUndelete}" value="Undelete" onclick="confirmUndeleteProject();return false;" title="#{undeleteMessage}"/>
        <h:commandButton id="eraseId1" rendered="#{repositoryTreeState.canErase}" value="Erase" onclick="confirmEraseProject();return false;" title="#{eraseMessage}"/>
    </h:panelGroup>

    <h:panelGroup rendered="#{!artefact.deleted}">
      <h:panelGroup>
        <h:panelGroup rendered="#{not (systemConfig['user.mode'] == 'single' and artefact.opened)}">
          <h:commandButton id="openId1" rendered="#{repositoryTreeState.canOpen}" value="Open" action="#{repositoryTreeController.openProject}" title="#{openMessage}"
                           onclick="#{repositoryTreeController.hasDependencies ? rich:component('modalOpenProject').concat('.show();return false;') : ''}"/>
          <h:commandButton id="openVersionId1" rendered="#{repositoryTreeState.canOpenOtherVersion}" value="Open Revision"
                           type="button" onclick="openOpenVersionDialog()" title="#{openVersionMessage}">
              <f:ajax listener="#{repositoryTreeController.openVersionDialogListener}" render=":openVersionForm"/>
          </h:commandButton>
          <h:commandButton id="closeId1" rendered="#{repositoryTreeState.canClose}" value="Close" action="#{repositoryTreeController.closeProject}" title="#{closeMessage}"
                           onclick="#{repositoryTreeController.hasDependingProjects || repositoryTreeState.selectedProjectModified ? rich:component('modalCloseProject').concat('.show();return false;') : ''}"/>
          <h:commandButton id="editId1" rendered="#{repositoryTreeState.canEdit}" value="Edit" action="#{repositoryTreeController.editProject}" title="#{editMessage}"
                           onclick="#{repositoryTreeController.hasDependencies ? rich:component('modalEditProject').concat('.show();return false;') : ''}"/>
        </h:panelGroup>

        <h:panelGroup rendered="#{systemConfig['user.mode'] == 'single' and artefact.opened}">
          <h:commandButton id="openId2" rendered="#{repositoryTreeState.canOpen}" value="Open" onclick="#{rich:component('modalOpenProject')}.show();return false;" title="#{openMessage}"/>
	      <h:commandButton id="openVersionId2" rendered="#{repositoryTreeState.canOpenOtherVersion}" value="Open Revision" onclick="openOpenVersionDialog();" title="#{openVersionMessage}">
              <f:ajax listener="#{repositoryTreeController.openVersionDialogListener}" render=":openVersionForm"/>
	      </h:commandButton>
          <h:commandButton id="closeId2" rendered="#{repositoryTreeState.canClose}" value="Close" onclick="#{rich:component('modalCloseProject')}.show();return false;" title="#{closeMessage}"/>
          <h:commandButton id="editId2" rendered="#{repositoryTreeState.canEdit}" value="Edit" onclick="#{rich:component('modalEditProject')}.show();return false;" title="#{editMessage}"/>
        </h:panelGroup>

        <h:commandButton  id="saveId1" rendered="#{repositoryTreeState.canSaveProject and !repositoryTreeState.localOnly}" value="Save" onclick="openSaveDialog();return false;" title="#{saveMessage}"/>
        <h:commandButton id="copyId1" rendered="#{repositoryTreeState.canCreate}" value="Copy" onclick="openCopyProjectDialog();return false;" title="#{copyMessage}"/>
        <h:commandButton id="deleteId2" rendered="#{repositoryTreeState.canDelete}" value="Delete" onclick="#{rich:component('modalDeleteNode')}.show();return false;" title="#{deleteMessage}"/>

        <h:commandButton id="unlockId1" rendered="#{repositoryTreeController.canUnlock and node.data.locked and not node.data.lockedByMe}" value="Unlock" onclick="#{rich:component('modalUnlockNode')}.show();return false;" title="#{unlockMessage}">
            <f:ajax render="unlockId1"/>
        </h:commandButton>

        <h:commandButton id="deployId1" rendered="#{repositoryTreeState.canRedeploy}" value="Deploy" onclick="openSmartRedeployDialog();"
                         title="Deploy selected deployments with the latest version of this project">
            <f:ajax listener="#{smartRedeployController.openDialogListener}" render=":smartRedeployForm"/>
        </h:commandButton>
        
        <h:commandButton id="compareId" rendered="#{repositoryTreeState.canCompare}" value="Compare" onclick="window.open('#{contextPath}/faces/pages/modules/repository/compare.xhtml?projectName=#{artefact.name}','compare','width=1240,height=700,screenX=50,screenY=100,resizable=no,scrollbars=yes,status=yes');return false;"
                         title="Compare tables in Excel file between two project versions"/>
        <h:commandButton id="addFolder2" rendered="#{artefact.openedForEditing}" value="Add Folder" onclick="openNewFolderDialog();return false;" title="#{addFolderMessage}"/>
        <h:commandButton id="uploadFile2" rendered="#{artefact.openedForEditing}" value="Upload File" onclick="openNewFileDialog();return false;" title="#{uploadFileMessage}"/>
        <h:commandButton id="exportVersionId" rendered="#{repositoryTreeState.canExport}" value="Export" onclick="openExportVersionDialog();return false;" title="Download the project as a zip archive"/>
      </h:panelGroup>

    </h:panelGroup>
  </h:panelGroup>
    </div>
    </h:panelGroup>

  <rich:tabPanel id="nodeTabPanel" switchType="client"
    rendered="#{node.type == 'file' || node.type == 'folder' || node.type == 'project' || node.type == 'prodproject' || node.type == 'prodfolder' || node.type == 'prodfile'}">
    <rich:tab id="properties" name="Properties" header="Properties" >
      <h:panelGroup rendered="#{node.type == 'file'}">
        <ui:include src="/pages/modules/repository/node/fileProps.xhtml" />
      </h:panelGroup>
      <h:panelGroup rendered="#{node.type == 'folder'}">
        <ui:include src="/pages/modules/repository/node/folderProps.xhtml" />
      </h:panelGroup>
      <h:panelGroup rendered="#{node.type == 'project'}">
        <ui:include src="/pages/modules/repository/node/projectProps.xhtml" />
      </h:panelGroup>
      <h:panelGroup rendered="#{node.type == 'prodproject'}">
        <ui:include src="/pages/modules/repository/node/productionProjectProps.xhtml" />
      </h:panelGroup>
      <h:panelGroup rendered="#{node.type == 'prodfile'}">
        <ui:include src="/pages/modules/repository/node/productionFileProps.xhtml" />
      </h:panelGroup>
      <h:panelGroup rendered="#{node.type == 'prodfolder'}">
        <ui:include src="/pages/modules/repository/node/productionFolderProps.xhtml" />
      </h:panelGroup>
    </rich:tab>
      <ui:remove><!--
         FIXME: because of the bug: https://issues.jboss.org/browse/RF-10961
         "render" attribute cannot be used for rich:tab (NullPointerException will be thrown in some cases).
         As a workaround "disabled" attribute in conjunction with "hideHeader"/"showHeader" styles is used.
    --></ui:remove>
    <rich:tab id="revisions" name="Revisions" header="Revisions"
              disabled="#{node.type == 'prodproject' or node.type == 'prodfile' or node.type == 'prodfolder'}"
              headerClass="#{node.type == 'prodproject' or node.type == 'prodfile' or node.type == 'prodfolder' ? 'hideHeader' : 'showHeader'}" >
      <ui:include src="/pages/modules/repository/node/versions.xhtml" />
    </rich:tab>
      <ui:remove><!--
         FIXME: because of the bug: https://issues.jboss.org/browse/RF-10961
         "render" attribute cannot be used for rich:tab (NullPointerException will be thrown in some cases).
         As a workaround "disabled" attribute in conjunction with "hideHeader"/"showHeader" styles is used.
    --></ui:remove>
    <rich:tab id="elements" name="Elements" header="Elements"
              disabled="#{node.type == 'file' or node.type == 'prodfile'}"
              headerClass="#{node.type == 'file' or node.type == 'prodfile' ? 'hideHeader' : 'showHeader'}">
      <ui:include src="/pages/modules/repository/node/elements.xhtml" />
    </rich:tab>

    <ui:remove><!--
         FIXME: because of the bug: https://issues.jboss.org/browse/RF-10961 
         "render" attribute cannot be used for rich:tab (NullPointerException will be thrown in some cases).
         As a workaround "disabled" attribute in conjunction with "hideHeader"/"showHeader" styles is used.   
    --></ui:remove>
    <rich:tab id="rulesDeployConfiguration" name="RulesDeployConfiguration" header="Rules Deploy Configuration" disabled="#{node.type != 'project'}" headerClass="#{node.type == 'project' ? 'showHeader' : 'hideHeader'}">
      <h:panelGroup rendered="#{node.type == 'project'}">
        <ui:include src="/pages/modules/repository/node/rulesDeployConfiguration.xhtml" />
      </h:panelGroup>
    </rich:tab>
  </rich:tabPanel>

    <h:panelGroup layout="block" rendered="#{node.type == 'drepository'}">
        <ui:include src="/pages/modules/repository/projectsD.xhtml" />
    </h:panelGroup>

  <h:panelGroup rendered="#{node.type == 'deployment'}">
      <div class="nav-panel">
    <h:panelGroup rendered="#{artefact.deleted}">
        <h:commandButton id="undeleteId2" rendered="#{repositoryTreeState.canUndelete}" value="Undelete" onclick="confirmUndeleteProject();return false;" title="#{undeleteMessage}"/>
        <h:commandButton id="eraseId2" rendered="#{repositoryTreeState.canErase}" value="Erase" onclick="confirmEraseProject();return false;" title="#{eraseMessage}"/>
    </h:panelGroup>
    <h:panelGroup rendered="#{not artefact.deleted}">
      <h:commandButton id="deployId" rendered="#{deploymentController.canDeploy}" value="Deploy" onclick="openSelectRepositoryDialog();return false;" title="Deploy into operations or staging"/>
      <h:commandButton id="openVersionId3" rendered="#{repositoryTreeState.canOpen}" value="Open Revision" onclick="openOpenVersionDialog();" title="Open the specified project revision">
          <f:ajax listener="#{repositoryTreeController.openVersionDialogListener}" render=":openVersionForm"/>
      </h:commandButton>

      <h:commandButton id="closeId3" rendered="#{repositoryTreeState.canClose}" value="Close" action="#{deploymentController.close}" title="Close Deploy Configuration and make it unavailable for editing"
                       onclick="if (#{deploymentController.modified}) {#{rich:component('modalCloseDeployConfiguration')}.show();return false;}" />
      <h:commandButton id="editDeployId" rendered="#{repositoryTreeState.canEditDeployment}" value="Edit" action="#{deploymentController.edit}" title="Make project available for editing and lock it from editing by other users"/>
      <h:commandButton id="saveDeployId" rendered="#{repositoryTreeState.canSaveDeployment}" value="Save" action="#{deploymentController.save}" title="#{saveMessage}"/>
      <h:commandButton id="copyId2" rendered="#{repositoryTreeState.canCreateDeployment}" value="Copy" onclick="openCopyDeploymentProjectDialog();return false;" title="#{copyMessage}"/>
      <h:commandButton id="deleteId3" rendered="#{repositoryTreeState.canDeleteDeployment}" value="Delete" onclick="#{rich:component('modalDeleteNode')}.show();return false;" title="#{deleteMessage}"/>

      <h:commandButton id="unlockId2" rendered="#{repositoryTreeController.canUnlockDeployment and node.data.locked and not node.data.lockedByMe}" value="Unlock Deploy Configuration" onclick="#{rich:component('modalUnlockNode')}.show();return false;" title="#{unlockMessage}">
          <f:ajax render="unlockId2"/>
       </h:commandButton>
    </h:panelGroup>
      </div>

    <rich:tabPanel switchType="client">
      <rich:tab header="Properties">
        <ui:include src="node/deployment.xhtml" />
      </rich:tab>
      <rich:tab header="Revisions">
        <ui:include src="/pages/modules/repository/node/versions.xhtml" />
      </rich:tab>
      <rich:tab header="Projects to Deploy">
        <ui:include src="/pages/modules/repository/node/descriptors.xhtml" />
      </rich:tab>
    </rich:tabPanel>
  </h:panelGroup>

</ui:composition>
