<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">

    <style>
        .filter-name-prod {
            display: inline-block;
            width: 100%;
            height: 100%;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding-left: 12px;
            padding-right: 15px;
        }
        .input-container.withClearButton {
            width: calc(100% - 26px)
        }
    </style>

    <div class="panel">
        <div class="panel-header">
            <div class="filter-name-prod">
                <input type="text" id="prodNameFilter" onkeyup="prodFilterProjects(this.value)"
                       placeholder="#{msg['ws.projects.filter']}" class="input-container" />
                <span id="clearProdFilter" title="Clear filter" class="imageButton clearButton hidden"
                   onclick="clearProdProjectsFilter()">
                    <!-- IE doesn't handle hover actions correctly on empty elements, that's why used to include empty image -->
                    <img src="webresource/images/empty.gif"/>
                </span>
            </div>
        </div>

        <div class="panel-body container">
            <rich:tree id="prodTree" toggleType="ajax" selectionType="ajax" selectionChangeListener="#{productionRepositoriesTreeState.processSelection}"
             value="#{productionRepositoriesTreeState.root}" var="item" nodeType="#{item.type}"
             render="nodeView nodeTabPanel content modalOpenProjectData modalOpenVersionData modalExportFileData modalCopyFileData modalCloseProjectData modalEditProjectData modalSaveData modalCopyProjectData modalCopyDeploymentProjectData modalDeleteNodeData modalSmartRedeployData modalExportVersionData"
             rendered="#{repositorySelectNodeStateHolder.productionRepository}">
                <rich:treeNode type="prodrepository" iconExpanded="#{item.icon}" iconCollapsed="#{item.icon}" iconLeaf="#{item.iconLeaf}"
                    ontoggle="prodFilterProjects($j('#prodNameFilter').val())">
                    <h:outputText value="#{item.name}" />
                </rich:treeNode>
                <rich:treeNode type="proddeployment" iconExpanded="#{item.icon}" iconCollapsed="#{item.icon}" iconLeaf="#{item.iconLeaf}">
                    <a4j:outputPanel>
                      <h:outputText value="#{item.name}" />
                    </a4j:outputPanel>
                </rich:treeNode>
                <rich:treeNode type="prodproject" iconExpanded="#{item.icon}" iconCollapsed="#{item.icon}">
                    <h:outputText value="#{item.name}" />
                </rich:treeNode>
                <rich:treeNode type="prodfolder" iconExpanded="#{item.icon}" iconCollapsed="#{item.icon}" iconLeaf="#{item.iconLeaf}">
                    <h:outputText value="#{item.name}" />
                </rich:treeNode>
                <rich:treeNode type="prodfile" iconExpanded="#{item.icon}" iconCollapsed="#{item.icon}" iconLeaf="#{item.iconLeaf}">
                    <h:outputText value="#{item.name}" />
                </rich:treeNode>
            </rich:tree>
        </div>
    </div>

</ui:composition>