<ui:composition
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <style>
        #content {
            padding: 0;
        }
    </style>

    <div class="page">
        <h1 class="page-header"><h:outputText value="Projects in #{node.name}" rendered="#{node.type == 'proddeployment'}" />
            <h:outputText value="Deployed Configurations" rendered="#{node.type == 'prodrepository'}" /></h1>

        <div class="block">

            <rich:dataTable value="#{productionRepositoriesTreeController.rulesProjects}" var="prj" styleClass="table">
            <f:facet name="header">
              <rich:columnGroup>
                <rich:column>
                  <h:outputText value="Name" />
                </rich:column>
                <rich:column>
                  <h:outputText value="Revision" />
                </rich:column>
                <rich:column>
                  <h:outputText value="Modified By" />
                </rich:column>
                <rich:column>
                  <h:outputText value="Modified At" />
                </rich:column>
              </rich:columnGroup>
            </f:facet>

              <rich:column>
                <h:commandLink value="#{prj.name}" action="#{productionRepositoriesTreeController.selectRulesProject}">
                  <f:param name="projectName" value="#{prj.name}" />
                </h:commandLink>
              </rich:column>
              <rich:column style="text-align:center">
                <h:outputText value="#{prj.data.version.versionName}" />
              </rich:column>
              <rich:column style="text-align:center">
                <h:outputText value="#{prj.modifiedBy != null ? prj.modifiedBy : prj.createdBy}" />
              </rich:column>
              <rich:column style="text-align:center">
                <h:outputText value="#{prj.modifiedAt != null ? prj.modifiedAt : prj.createdAt}">
                    <f:convertDateTime type="date" pattern="#{systemConfig['data.format.date']}" />
                </h:outputText>
              </rich:column>
            </rich:dataTable>

            <h:panelGroup rendered="#{empty repositoryTreeController.rulesProjects}" styleClass="noEntries">
                <h:outputText value="No entries found" />
            </h:panelGroup>
        </div>
    </div>

</ui:composition>
