<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:a4j="http://richfaces.org/a4j">

    <div class="navbar">
        <div class="breadcrumbs" style="margin-right:15px">

            <h:commandLink id="designRepoLink" value="Design" oncomplete="goToRepo('design', 'production')"
                 action="#{repositoryTreeState.rulesRepositorySelection}"
                 styleClass="view-header-link" title="Design Repository" />
            <span class="delimeter delimeter-dash"></span>
            <h:commandLink id="productionRepoLink" value="Production" oncomplete="goToRepo('production', 'design')"
                 action="#{productionRepositoriesTreeController.openTab()}"
                 styleClass="view-header-link view-header-link-inactive" style="margin-left: 3px" />

            <a4j:commandLink id="designRepoRefresh" title="Refresh" action="#{repositoryTreeController.refreshTree}"
                 immediate="true"
                 render="projectTree nodeView uploadPrjFromLocalDiv uploadPrjFromLocalTable uploadPrjFromLocalDiv uploadPrjFromLocalMessageDiv localUploadButtonPanel" process="@this"
                 style="background:url('webresource/images/refresh.png');padding:5px 16px;margin: 0 11px 0 7px" styleClass="imageButton" />
            <a4j:commandLink id="productionRepoRefresh" title="Refresh" action="#{productionRepositoriesTreeController.refreshInitTree}"
                 render="prodTree" process="@this" style="background:url('webresource/images/refresh.png');padding:5px 16px;margin: 0 11px 0 7px; display: none;"
                 styleClass="imageButton" />
        </div>

        <div class="navbar-inner">
            <h:outputLink onclick="openNewProjectDialog();return false;" styleClass="primary"
                title="Create a new project" rendered="#{repositoryTreeState.canCreate}">
                <h:outputText value="Create Project" />
            </h:outputLink>

            <h:outputLink onclick="openNewDeploymentProjectDialog();return false;" title="Create a new Deploy Configuration" rendered="#{repositoryTreeState.canCreateDeployment}">
                <h:outputText value="Create Deploy Configuration" />
            </h:outputLink>
        </div>
    </div>

</ui:composition>
