<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich">

    <style>
        .filter-name {
            display: inline-block;
            width: calc(100% - 40px);
            height: 100%;
            -moz-box-sizing: border-box;
                 box-sizing: border-box;
            padding-left: 12px;
        }
        #filterButton {
            background: url('webresource/images/filter.png');
            border: 0;
            background-color: transparent !important;
            margin: 0;
            -moz-margin-start: 4px;
            padding: 5px 7px;
            opacity: 0.5;
        }
        .input-container.withClearButton {
            width: calc(100% - 26px)
        }
    </style>

    <div class="panel">
        <div class="panel-header">
            <div class="filter-name">
                <input type="text" id="nameFilter" onkeyup="filterProjects(this.value)"
                       placeholder="#{msg['ws.projects.filter']}" class="input-container" />
                <span id="clearFilter" title="Clear filter" class="imageButton clearButton hidden"
                      onclick="clearProjectsFilter()">
                    <!-- IE doesn't handle hover actions correctly on empty elements, that's why used to include empty image -->
                    <img src="webresource/images/empty.gif"/>
                </span>
            </div>
            <a id="filterButton" title="Advanced Filter" class="imageButton"
                onclick="showRepFilterDialog();return false;" />
        </div>

        <div class="panel-body container">
            <h:panelGroup layout="block" style="padding-bottom: 7px;">
            <rich:tree id="projectTree" toggleType="ajax" selectionType="ajax" selectionChangeListener="#{repositoryTreeState.processSelection}"
              render="nodeView nodeTabPanel content modalOpenProjectData modalOpenVersionData modalExportFileData modalCopyFileData modalCloseProjectData modalEditProjectData modalSaveData modalCopyProjectData modalCopyDeploymentProjectData modalDeleteNodeData modalSmartRedeployData modalExportVersionData"
              value="#{repositoryTreeState.root}" var="item" nodeType="#{item.type}" selection="#{repositoryTreeState.selection}"
              rendered="#{!repositorySelectNodeStateHolder.productionRepository}">

              <rich:treeNode type="repository" iconExpanded="#{item.icon}" iconCollapsed="#{item.icon}" iconLeaf="#{item.iconLeaf}"
                ontoggle="filterProjects($j('#nameFilter').val())">
                <h:outputText value="#{item.name}" />
              </rich:treeNode>
              <rich:treeNode type="project" iconExpanded="#{item.icon}" iconCollapsed="#{item.icon}" iconLeaf="#{item.iconLeaf}">
                <a4j:outputPanel>
                 <h:outputText value="#{item.name}" rendered="#{!item.renamed}"/>
                 <h:outputText value="#{item.logicalName} (#{item.name})" rendered="#{item.renamed}"/>
                 <a4j:outputPanel rendered="#{not empty item.comments}">
                   <h:outputText value="  [#{item.comments}]" />
                 </a4j:outputPanel>
                 <rich:tooltip showDelay="500" rendered="#{not empty item.dimensionProps}">
                     <a4j:repeat value="#{item.dimensionProps}" var="row">
                         <ui:param name="prop" value="#{row.data}" />
                         <h:outputText value="#{prop.displayName} : #{prop.displayValue}" style="#{prop.inheritedProperty ? 'font-weight:bold' : '' }"/><br/>
                     </a4j:repeat>
                 </rich:tooltip>
                </a4j:outputPanel>
              </rich:treeNode>
              <rich:treeNode type="folder" iconExpanded="#{item.icon}" iconCollapsed="#{item.icon}" iconLeaf="#{item.iconLeaf}">
                <a4j:outputPanel>
                 <h:outputText value="#{item.name}" />
                 <rich:tooltip showDelay="500" rendered="#{not empty item.dimensionProps}">
                     <a4j:repeat value="#{item.dimensionProps}" var="row">
                         <ui:param name="prop" value="#{row.data}" />
                         <h:outputText value="#{prop.displayName} : #{prop.displayValue}" style="#{prop.inheritedProperty ? 'font-weight:bold' : '' }"/><br/>
                     </a4j:repeat>
                 </rich:tooltip>
                </a4j:outputPanel>
              </rich:treeNode>
              <rich:treeNode type="file" iconExpanded="#{item.icon}" iconCollapsed="#{item.icon}" iconLeaf="#{item.iconLeaf}">
                <a4j:outputPanel>
                 <h:outputText value="#{item.name}" />
                 <rich:tooltip showDelay="500" rendered="#{not empty item.dimensionProps}">
                     <a4j:repeat value="#{item.dimensionProps}" var="row">
                         <ui:param name="prop" value="#{row.data}" />
                         <h:outputText value="#{prop.displayName} : #{prop.displayValue}" style="#{prop.inheritedProperty ? 'font-weight:bold' : '' }"/><br/>
                     </a4j:repeat>
                 </rich:tooltip>
                </a4j:outputPanel>
              </rich:treeNode>
              <rich:treeNode type="drepository" iconExpanded="#{item.icon}" iconCollapsed="#{item.icon}" iconLeaf="#{item.iconLeaf}"
                ontoggle="filterProjects($j('#nameFilter').val())">
                <h:outputText value="#{item.name}" />
              </rich:treeNode>
              <rich:treeNode type="deployment" iconExpanded="#{item.icon}" iconCollapsed="#{item.icon}" iconLeaf="#{item.iconLeaf}">
                <a4j:outputPanel>
                  <h:outputText value="#{item.name}" />
                  <a4j:outputPanel rendered="#{not empty item.comments}">
                    <h:outputText value="  [#{item.comments}]"/>
                  </a4j:outputPanel>
                </a4j:outputPanel>
              </rich:treeNode>
            </rich:tree>
            </h:panelGroup>

        </div>
    </div>

</ui:composition>
