body {
    margin: 0;
    color: #444;
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 12px;
}

a:link      { color: #0078D0; }
a:visited   { color: #0090FF; }

#header {
    border-bottom: 1px solid #ccc;
    font-family: georgia, verdana, helvetica, arial, sans-serif;
    font-size: 20px;
    color: #777;
    padding: 11px 15px;
}
#main {
    padding: 0 20px 40px;
}
#main > div {
    display: inline-block;
    width: 100%;
}
#footer {
    border-top: 1px solid #ccc;
    font-size: 11px;
    color: #666;
    padding: 11px;
    text-align: center;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
#footer a {
    color: #666;
}
.description {
    padding: 15px 0 32px;
    border-bottom: 1px dashed #ddd;
    line-height: 21px;
}
.description a {
    color: #28b;
    text-decoration: none;
}
h2 {
    font-weight: normal;
    font-size: 16px;
    color: #28b;
    margin: 29px 0 16px;
}

.messages ul {
    margin: 0 0 10px 5px;
    padding: 0;
    list-style-type: none;
}
.error {
    color: red;
}

.hidden {
    display: none;
}

/* Table styles */
.table {
    font-size: 100%;
    border: 1px solid #fff;
    empty-cells: show;
    border-collapse: collapse;
}

.table th {
    border: 1px dotted #ccc;
    border-right: 0;
    border-left: 0;
    border-bottom-style: solid;
    padding: 6px 9px;
    text-align: left;
}

.table td {
    border: 1px dotted #ccc;
    border-right: 0;
    border-left: 0;
    padding: 6px 9px;
    line-height: 15px;
}