<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    template="/pages/layout/wizardStep.xhtml">

    <ui:define name="header">Actions configuration</ui:define>

  <ui:define name="data">
    <h:form id="newTableWiz4">

      <h:panelGroup>
        <h:outputText value="Actions: #{wizard.actionCount}"/>
        <h:commandLink action="#{wizard.addAction}"><h:graphicImage
            value="/images/add_obj.gif" alt="Add more" /></h:commandLink>
        <br/>

        <h:dataTable var="row" id="actionTable" value="#{wizard.actions}">
          <h:column>
            <f:facet name="header"><h:outputText value="Name"/></f:facet>
            <h:outputText value="#{row.name}"
              styleClass="#{wizard.selectedAction == counter.current ? 'wz_selected_list_item' : 'wz_list_item'}"/>
          </h:column>
          <h:column>
            <h:commandLink action="#{wizard.removeAction}">
              <f:param name="index" value="#{counter.current}"/>
              <h:graphicImage value="/images/delete.gif"/>
            </h:commandLink>
            <h:commandLink action="#{wizard.selectAction}">
              <f:param name="index" value="#{counter.count}"/>
              <h:graphicImage value="/images/edit.gif"/>
            </h:commandLink>
          </h:column>
        </h:dataTable>
      </h:panelGroup>

      <hr/>
      <h:panelGroup rendered="#{wizard.currentAction != null}">
        <h3>Action Logic:</h3>
        <h:inputTextarea value="#{wizard.currentAction.logic}"/>
      </h:panelGroup>

      <hr/>
      <h3>Action Parameters:</h3>

      <h:panelGroup rendered="#{wizard.currentAction != null and counter.reset}">
        <h:commandLink value="Add more" action="#{wizard.addActionParameter}"><h:graphicImage value="/images/add_obj.gif" alt="" /></h:commandLink>
        <h:dataTable var="p" value="#{wizard.currentAction.parameters}" id="paramTable">
          <h:column>
            <f:facet name="header"><h:outputText value="Business Name"/></f:facet>
            <h:inputText value="#{p.businessName}" id="pname"/>
          </h:column>
          <h:column>
            <f:facet name="header"><h:outputText value="Technical Name"/></f:facet>
            <h:inputText value="#{p.name}" id="tname"/>
          </h:column>
          <h:column>
            <f:facet name="header"><h:outputText value="Type"/></f:facet>
            <h:selectOneMenu value="#{p.type}" id="type">
              <f:selectItems value="#{wizard.domainTypes}"/>
            </h:selectOneMenu>
          </h:column>
          <h:column>
            <h:commandLink action="#{wizard.removeActionParameter}" rendered="#{wizard.currentAction.paramsCount > 1}">
              <f:param name="index" value="#{counter.count}"/>
              <h:graphicImage value="/images/delete.gif"/>
            </h:commandLink>

            <h:graphicImage value="/images/moveup.gif" rendered="#{counter.prev &gt; 0}" onclick='wiz_moveup(this, #{counter.prev})'/>
            <h:graphicImage value="/images/empty.gif" rendered="#{counter.prev == 0}" width="16"/>
            <h:graphicImage value="/images/movedown.gif" rendered="#{wizard.currentAction.paramsCount > 1 and counter.current &lt; wizard.currentAction.paramsCount}"
                            onclick="wiz_moveup(this, #{counter.current})" />
          </h:column>
          <h:column>
            <h:message for="tname" styleClass="error" />
          </h:column>
        </h:dataTable>
      </h:panelGroup>

      <br />
      <hr/>

        <a4j:commandButton value="Prev" action="#{tableCreatorWizardManager.prev}" immediate="true"
            oncomplete="go('rules/step3.xhtml')" />
        <a4j:commandButton value="Next" action="#{tableCreatorWizardManager.next}"
            oncomplete="go('rules/step5.xhtml')">
        </a4j:commandButton>
        <h:commandButton value="Cancel" action="#{tableCreatorWizardManager.cancel}" immediate="true" />
    </h:form>

    <script>
      var wiz_ids = ['pname', 'tname','type']
      var baseId = "newTableWiz4:paramTable:";
      function wiz_swap(e1, e2) {var tmp = e1.value;e1.value = e2.value;e2.value = tmp;}
      function wiz_moveup(el, pos) {
        if (pos &lt;= 0) return;
        var base1 = baseId+pos+":", base2 = baseId+(pos-1)+":"
        for (var i=0; i &lt; wiz_ids.length; ++i) wiz_swap(document.getElementById(base1 + wiz_ids[i]), document.getElementById(base2 + wiz_ids[i]))
      }
    </script>
  </ui:define>
</ui:composition>
