<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    template="/pages/modules/create/selectDestination.xhtml">

    <ui:define name="controlButtons">
        <a4j:commandButton value="Prev"  onclick="enableControls()" action="#{tableCreatorWizardManager.prev}"
            immediate="true" oncomplete="go('rules/step5.xhtml')" />
        <h:commandButton value="Save" action="#{wizard.finish}" onclick="return validateForm();enableControls()" />
        <h:commandButton value="Cancel" action="#{tableCreatorWizardManager.cancel}" immediate="true" />
    </ui:define>

</ui:composition>
