<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:a4j="http://richfaces.org/a4j"
    template="/pages/modules/create/businessFields.xhtml">

    <ui:define name="controlButtons">
        <a4j:commandButton value="Prev" action="#{tableCreatorWizardManager.prev}" immediate="true"
            oncomplete="go('step0.xhtml')" />
        <a4j:commandButton value="Next" action="#{tableCreatorWizardManager.next}" onclick="return validate();"
            oncomplete="go('rules/step2.xhtml')" />
        <h:commandButton value="Cancel" action="#{tableCreatorWizardManager.cancel}" immediate="true" />
    </ui:define>

</ui:composition>