<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    template="/pages/layout/wizardStep.xhtml">

    <ui:define name="header">Enter Decision Table Information</ui:define>

    <ui:define name="data">
        <h:form id="newTableWiz1">
            <h:panelGroup style="text-align:left;">
                <h:messages showDetail="true" globalOnly="true" tooltip="true" errorClass="error" />
            </h:panelGroup>
            <h:panelGroup>
                <h:panelGrid columns="3">
                    <h:outputLabel value="Technical Name" for="tech_name"/>
                    <h:inputText id="tech_name" value="#{wizard.tableName}">
                        <rich:validator />
                    </h:inputText>
                    <h:message for="tech_name" styleClass="error" />

                    <h:outputLabel value="Return value" for="ret_type"/>
                    <h:selectOneMenu id="ret_type" value="#{wizard.returnType}" style="width:90%;">
                        <f:selectItems value="#{wizard.domainTypes}"/>
                    </h:selectOneMenu>
                    <h:outputText value="" />

                    <h:outputLabel value="Orientation" for="t_or"/>
                    <h:selectOneRadio id="t_or" value="#{wizard.orientation}">
                        <f:selectItem itemValue="hor" itemLabel="Horizontal"/>
                        <f:selectItem itemValue="ver" itemLabel="Vertical"/>
                    </h:selectOneRadio>
                    <h:outputText value="" />

                    <h:outputText value="Parameters:"/>
                    <h:commandLink action="#{wizard.addParameter}"><h:graphicImage
                        value="/images/add_obj.gif" alt="Add more" /></h:commandLink>
                </h:panelGrid>

                <h:dataTable var="row" id="paramTable" value="#{wizard.parameters}">
                    <h:column>
                        <f:facet name="header"><h:outputText value="Type"/></f:facet>
                        <h:selectOneMenu value="#{row.type}" id="type">
                            <f:selectItems value="#{wizard.domainTypes}"/>
                        </h:selectOneMenu>
                    </h:column>
                    <h:column>
                        <f:facet name="header"><h:outputText value="Name"/></f:facet>
                        <h:inputText id="pname" value="#{row.name}"/>
                    </h:column>

                    <h:column>
                        <h:commandLink action="#{wizard.removeParameter}">
                            <f:param name="index" value="#{counter.count}"/>
                            <h:graphicImage value="/images/delete.gif" style="border:0;"/>
                        </h:commandLink>

                        <h:graphicImage value="/images/moveup.gif" rendered="#{counter.prev &gt; 0}"
                            onclick='wiz_moveup(this, #{counter.prev})'/>
                        <h:graphicImage value="/images/empty.gif" rendered="#{counter.prev == 0}" width="16"/>
                        <h:graphicImage value="/images/movedown.gif"
                            rendered="#{counter.current &lt; wizard.parameterCount}"
                            onclick='wiz_moveup(this, #{counter.current})'/>
                    </h:column>

                    <h:column>
                        <h:message for="pname" styleClass="error" />
                    </h:column>
                </h:dataTable>
            </h:panelGroup>

            <br />
            <hr />

            <a4j:commandButton value="Prev" action="#{tableCreatorWizardManager.prev}" immediate="true"
                oncomplete="go('rules/step1.xhtml')" />
            <a4j:commandButton value="Next" action="#{tableCreatorWizardManager.next}"
                oncomplete="go('rules/step3.xhtml')">
            </a4j:commandButton>
            <h:commandButton value="Cancel" action="#{tableCreatorWizardManager.cancel}" immediate="true" />
        </h:form>

    <script>
        var wiz_ids = ['pname', 'type']
        var baseId = "newTableWiz1:paramTable:";

        function wiz_swap(e1, e2) {
            var tmp = e1.value;
            e1.value = e2.value;
            e2.value = tmp;
        }

        function wiz_moveup(el, pos) {
            if (pos &lt;= 0) return;
            var base1 = baseId + pos + ":";
            var base2 = baseId + (pos - 1) + ":"
            for (var i=0; i &lt; wiz_ids.length; ++i) {
                wiz_swap(document.getElementById(base1 + wiz_ids[i]), document.getElementById(base2 + wiz_ids[i]))
            }
        }
    </script>

  </ui:define>

</ui:composition>
