<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    template="/pages/layout/wizardStep.xhtml">

    <ui:define name="header">Conditions configuration</ui:define>

  <ui:define name="data">
    <h:form id="newTableWiz3">

      <h:panelGroup>
        <h:outputText value="Conditions: #{wizard.conditionCount}"/>
        <h:commandLink action="#{wizard.addCondition}"><h:graphicImage value="/images/add_obj.gif" alt="Add more" /></h:commandLink>
        <br/>

        <h:dataTable var="row" id="conditionTable" value="#{wizard.conditions}">
          <h:column>
            <f:facet name="header"><h:outputText value="Name"/></f:facet>
            <h:outputText value="#{row.name}"
                          styleClass="#{wizard.selectedCondition == counter.current ? 'wz_selected_list_item' : 'wz_list_item'}"/>
          </h:column>
          <h:column>
            <h:commandLink action="#{wizard.removeCondition}">
              <f:param name="index" value="#{counter.current}"/>
              <h:graphicImage value="/images/delete.gif"/>
            </h:commandLink>
            <h:commandLink action="#{wizard.selectCondition}">
              <f:param name="index" value="#{counter.count}"/>
              <h:graphicImage value="/images/edit.gif"/>
            </h:commandLink>
          </h:column>
        </h:dataTable>
      </h:panelGroup>

      <hr/>
      <c:set var="cond" value="#{wizard.currentCondition}" />
      <h:panelGroup rendered="#{cond != null}">
        <h3>Condition Logic: <h:outputText value=" " />
          <h:commandLink value="Use editor" action="#{wizard.useEditorLogicCondition}" rendered="#{not cond.logicEditor}"/>
          <h:commandLink value="Enter manually" action="#{wizard.useManualLogicCondition}" rendered="#{cond.logicEditor}"/>
          
          <h:commandLink action="#{wizard.addConditionClause}" rendered="#{cond.logicEditor}">
            <h:graphicImage value="/images/add_obj.gif" alt="add clause" />
          </h:commandLink>
        </h3>

        <h:panelGroup rendered="#{not cond.logicEditor}">
          <h:inputTextarea value="#{cond.logic}"/>
        </h:panelGroup>

        <h:panelGroup rendered="#{cond.logicEditor and counter.reset}">
          <c:set var="logicClauses" value="#{cond.logicClauses}" />
          <c:set var="paramNames" value="#{cond.paramNames}" />
          
          <h:dataTable var="row" value="#{logicClauses}">
            <h:column>
              <h:selectOneMenu value="#{row.paramName}" onchange="this.form.submit()">
                <f:selectItems value="#{paramNames}"/>
              </h:selectOneMenu>
            </h:column>

            <h:column>
              <h:selectOneMenu value="#{row.variantId}">
                <f:selectItems value="#{row.variantOptions}"/>
              </h:selectOneMenu>
            </h:column>

            <h:column>
              <h:inputText value="#{row.conditionExpression}"/>
              <a href="#" onclick="showDomainTree(this)">..</a><f:verbatim>&amp;nbsp;</f:verbatim>
              <h:commandLink action="#{wizard.removeConditionClause}" rendered="#{cond.logicClauseCount > 1}">
                <f:param name="index" value="#{counter.count}"/>
                <h:graphicImage value="/images/delete.gif"/>
              </h:commandLink>
            </h:column>
          </h:dataTable>
        </h:panelGroup>
      </h:panelGroup>

      <hr/>
      <h3>Condition Parameters:</h3>

      <h:panelGroup rendered="#{cond != null and counter.reset}">
        <h:commandLink value="Add more" action="#{wizard.addConditionParameter}"><h:graphicImage value="/images/add_obj.gif" alt="" /></h:commandLink>
        <h:dataTable var="p" value="#{cond.parameters}" id="paramTable">
          <h:column>
            <f:facet name="header"><h:outputText value="Business Name"/></f:facet>
            <h:inputText value="#{p.businessName}" id="pname"/>
          </h:column>
          <h:column>
            <f:facet name="header"><h:outputText value="Technical Name"/></f:facet>
            <h:inputText value="#{p.name}" id="tname"/>
          </h:column>
          <h:column>
            <f:facet name="header"><h:outputText value="Type"/></f:facet>
            <h:selectOneMenu value="#{p.type}" id="type">
              <f:selectItems value="#{wizard.domainTypes}"/>
            </h:selectOneMenu>
          </h:column>
          <h:column>
            <h:commandLink action="#{wizard.removeConditionParameter}" rendered="#{cond.paramsCount > 1}">
              <f:param name="index" value="#{counter.count}"/>
              <h:graphicImage value="/images/delete.gif"/>
            </h:commandLink>

            <h:graphicImage value="/images/moveup.gif" rendered="#{counter.prev &gt; 0}" onclick='wiz_moveup(this, #{counter.prev})'/>
            <h:graphicImage value="/images/empty.gif" rendered="#{counter.prev == 0}" width="16"/>
            <h:graphicImage value="/images/movedown.gif" rendered="#{cond.paramsCount > 1 and counter.current &lt; cond.paramsCount}"
                            onclick="wiz_moveup(this, #{counter.current})"/>
          </h:column>
          <h:column>
            <h:message for="tname" styleClass="error" />
          </h:column>
        </h:dataTable>
      </h:panelGroup>

      <br />
      <hr/>

        <a4j:commandButton value="Prev" action="#{tableCreatorWizardManager.prev}" immediate="true"
            oncomplete="go('rules/step2.xhtml')" />
        <a4j:commandButton value="Next" action="#{tableCreatorWizardManager.next}"
            oncomplete="go('rules/step4.xhtml')">
        </a4j:commandButton>
        <h:commandButton value="Cancel" action="#{tableCreatorWizardManager.cancel}" immediate="true" />
    </h:form>

<rich:popupPanel id="modalDomainTreePanel" autosized="true">
  <f:facet name="header"><h:outputText value="Compose expression"/></f:facet>

  <f:facet name="controls">
    <h:graphicImage value="/webresource/images/close.gif" class="close" onclick="RichFaces.$('modalDomainTreePanel').hide();"/>
  </f:facet>

  <a4j:outputPanel id="domainTreePanel">
    <h:form id="dtForm">
      Dot path: <f:verbatim>&amp;nbsp;</f:verbatim><h:outputText value="#{domainTreePath.dotExpression}" styleClass="treeOptionsText"/>
      <f:verbatim>&amp;nbsp;</f:verbatim>
      <a href="javascript: void(0);" onclick="removeLastDotPart()"><h:graphicImage url="/webresource/images/delete.gif" styleClass="actionImage" rendered="#{not empty domainTreePath.dotExpression}"/></a>
      <h:inputHidden id="currentExpression" value="#{domainTreePath.dotExpression}"/>
      <h:inputHidden id="newDotPart" value="#{domainTreePath.newDotPart}"/>
      <div style="display:none;">
        <a4j:commandLink value="update" render="domainTreePanel" id="dtLink" />
        <a4j:commandLink value="init" render="domainTreePanel" id="dtLink2"
            oncomplete="RichFaces.$('modalDomainTreePanel').show();"/>
      </div>
    </h:form>

    <div style="height:200px;">
    <ul class="treeOptions">
      <h:dataTable value="#{domainTreePath.subExpressions}"  var="t">
        <h:column><h:outputLink value="#{t}" onclick="addDotPart('#{t}'); return false" /></h:column>
      </h:dataTable>
    </ul>
    </div>
  </a4j:outputPanel>

    <footer>
        <input type="button" value="Select" onclick="hideDomainTree();" />
        <input type="button" value="Cancel" onclick="RichFaces.$('modalDomainTreePanel').hide();" />
    </footer>
</rich:popupPanel>

    <script>
      var wiz_ids = ['pname', 'tname','type']
      var baseId = "newTableWiz3:paramTable:";
      
      function wiz_swap(e1, e2) {var tmp = e1.value;e1.value = e2.value;e2.value = tmp;}
      
      function wiz_moveup(el, pos) {
        if (pos &lt;= 0) return;
        var base1 = baseId+pos+":", base2 = baseId+(pos-1)+":"
        for (var i=0; i &lt; wiz_ids.length; ++i) wiz_swap(document.getElementById(base1 + wiz_ids[i]), document.getElementById(base2 + wiz_ids[i]))
      }

      var destInputElement;

      function showDomainTree(anchorElement) {
        destInputElement = $j("#" + anchorElement).parent().find('INPUT:first');
        $j('#dtForm\\:currentExpression').val(destInputElement.val().replace(/ +(?= )/g,'').replace(/\.+$/, ''));
        $j('#dtForm\\:newDotPart').val('');
        $j('#dtForm\\:dtLink2').click();
      }

      function addDotPart(text) {
        $j('#dtForm\\:newDotPart').val(text);
        $j('#dtForm\\:dtLink').click();
      }

      function removeLastDotPart() {
        var parts = $j('#dtForm\\:currentExpression').val().split('.');
        parts.pop();
        $j('#dtForm\\:currentExpression').val(parts.join('.'));
        $j('#dtForm\\:newDotPart').val('');
        $j('#dtForm\\:dtLink').click();
      }

      function hideDomainTree() {
        RichFaces.$('modalDomainTreePanel').hide();
        destInputElement.val($j('#dtForm\\:currentExpression').val()); 
      }

    </script>
  </ui:define>
</ui:composition>
